h1, h2, h3, h4, h5, h6, p, ul, li {
	margin:0;
	padding: 0;
}

body .fas {
	font-size: 1.4em;
    position: relative;
    top: .1em;
    margin-right: .3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

body {
	>span:first-child {
		display: block;
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	 	background: rgba(0, 0, 0, 0.55);

	}
}

#identification {
	background-image: url('../img/disqueuse.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	// &:after {
	// 	display: block;
	// 	content: '';
	// 	width: 100%;
	// 	height: 100%;
	// 	background: rgba(0, 0, 0, 0.2);
	// }
	>span:first-child {
	 	background: rgba(0, 0, 0, 0.4);
	}

	form {
		position: relative;
		background: #fff;
		margin : 2em auto;
		width: 94%;
		max-width: 360px;
	    border-top: 5px solid #f59128;
		box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.9);
		
		header {
			background-image: url('../img/logo_indent.jpg');
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #1d4159;
			min-height: 120px;
		}

		>div {
			padding: 1em 5%;
			p.error {
				display: none;
			    color: #ec2e2e;
				font-size: .9em;
				font-weight: bold;
				text-align: center;
				background: #f5d8dd;
				padding: .5em 2em;
			}
			input {
				display: block;
				margin: 1em 0;
				width: 90%;
				font-size: 1.2em;
				padding: .6em 5%;
			    transition: all 350ms;
			    border: 0;

			    &[type=text], &[type=password] {
			    	border-bottom: 2px solid #aaa;
			    }

				&:hover, &:focus {
					background:#ddd;
				}

				&[type=submit] {
					width: 100%;
				    background-color: #f59128;
				    border: 0;
				    text-transform: uppercase;
				    font-size: 1.3em;
				    letter-spacing: 0.05em;

				    &:hover {
				    	//background-color: lighten(#f59128, 10%);
				    	background-color: #1d4159;
				    	color: #fff;
				    }
				}
			}			
		}

	}
}

#synchro {
	>div {
		width: 350px;
		margin: 3em auto;
		text-align: center;
		background: #fff;
		padding: .9em 1em; 
		cursor: pointer;
	    box-shadow: 0 0 10px rgba(0,0,0,.5);
    	border-radius: 4px;
    	transition: all 300ms;
		p {
			font-size: 1.3em;
			text-transform: uppercase;
			margin-bottom: .4em;
		    color: #26526f;
    		font-weight: bold;
    		transition: all 300ms;
		}
		span {
			display: block;
			font-size: .8em;
			color:#333;
    		transition: all 300ms;
		}

		&:hover {
			background: #b76215;
			p {
				color:#fff;
			}
			span {
				color:rgba(255,255,255,.6);
			}
		}
	}
}

#messageSynchro {
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(255,255,255,.8);

	i {
	    
    	margin-top: 20%;
    	text-shadow: none;
    	margin-bottom: 1em;
    	font-size: 2em;
	}

	b {
		display: block;
		font-size: 1.4em;
	}
}

body {
    //background: #f7d0ae; /* Old browsers */
	//background: -moz-linear-gradient(top, #f7d0ae 0%, #f2e1d2 100%); /* FF3.6-15 */
	//background: -webkit-linear-gradient(top, #f7d0ae 0%,#f2e1d2 100%); /* Chrome10-25,Safari5.1-6 */
	//background: linear-gradient(to bottom, #f7d0ae 0%,#f2e1d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d0ae', endColorstr='#f2e1d2',GradientType=0 ); /* IE6-9 */
	background-image: url('../img/disqueuse.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #000;

	font-family: 'Futura', 'Arial', 'Helvetica', sans-serif;
	padding-top: 30px;
	transition: padding 300ms;

	&.morePadding {
		padding-top: 50px;
	}

	>div#topBar {
		display: none;
		color: #fff;
    	background: rgba(50, 72, 95, 0.9);
	    width: 100%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    font-size: 1.1em;
	    border-bottom: 1px solid #000;
	    z-index: 1000;
	    transition: top 400ms;

		>div {
		    display: inline-block;
		    color: #000;
		    background: #d7e0e6;
		    >a >span, >i {
		    	padding: .5em .7em;
				
		    }

		    >a {
		    	color:#000;
		    	text-decoration: none;
		    }

		    i {text-shadow: none;}
		    >i {
		    	padding-left: .6em;
		    	padding-right: .6em;
		    	padding-top: .4em;
		    	margin: 0;
		    	color: red;
		    	background-color: #eccfcf;
		    	&.fas {
		    		top:0;
		    	}
		    }
		}

		>ul {
			display: inline-block;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				padding: 0;
				margin: 0;
				a {
					display: block;
					padding: .55em 1em;
					text-decoration: none;
					color: inherit;
					text-transform: uppercase;
					transition: background 200ms;

					&:hover {
						background: #000;
					}
				}
			}
		}

		>span {
			display: inline-block;
			position: absolute;
			top:0;
			right: 0;
			color : #d6d6d6;
			padding: .6em;
			i {
				margin: 0;
				text-shadow: none !important;
			}
			transition: color 200ms;

			&#topBarDown {
			    bottom: -2.5em;
    			top: auto;
    			&:hover {
    				color:#fff;
    			}
			}

			&#topBarUp {
    			&:hover {
    				color:#fff;
    			}
			}


		}

		&.isUp {
			top:-3em;
			span#topBarDown {
				display: inline-block;
			}
		}

		&.isDown {			
			top:0;
			span#topBarDown {
				display: none;
			}
		}
	}

	>div.global {
		position: relative;
		max-width: 1250px;
		margin : 20px auto;
		background: #ccc;
		//border-radius: 10px;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
    	//border: 2px solid #ffffff;
		border-top: 4px solid #f79237;

		>header {
			background: #26526f;
			position: relative;
			color:#fff;
			padding: 20px 10px;
			//border-radius: 10px 10px 0 0 ;
			background-image : url('../img/header.png');
			background-size: cover;
			>span {
				display: block;
				position: absolute;
				top:5px;
				left: 20px;
				width: 200px;
				height: 60px;
				background-image : url('../img/logo.png');
				background-size: cover;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			p {
				text-transform: uppercase;
				font-weight: bold;
				text-align: center;
				font-size: 1.4em;
				span {
					font-weight: normal;
				}
			}
		}

		>div.main {
			margin: 0;
			//background: #fff;
			padding: 30px;
			min-height: 300px;

		    background-color: #e6d5c6;
			//background-image : url('../img/bg-pages.png');
		    //background-color: #b3b4b4;  
			//background-repeat: repeat-x;  

		}
	}
}

#listingClients {
	font-size: 1.3em;
}

#listingClients_filter {
	float:none;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;

	input {
		padding: 5px 10px;
	}
}

.fiche, .modal {
	section {
		background: #fff;
		border: 1px solid #fff;
		margin-bottom: 20px;

		input[type="text"], select:not(.SumoUnder) {
			padding: 5px 10px;
			position: relative;
			top:-5px;
    		width: 80%;

		}

		select {			
    		width: 82%;
		}

		h2 {
			color:#fff;
			background: #26526f;
		    padding: 10px 20px;
		    font-weight: normal;
	        font-size: 1.4em;

			+div {
				padding: 20px 20px;

				.half {
					display: inline-block;
					width: 45%;
					margin: 10px 4% 10px 0;
					vertical-align: top;
				}
			}
		}

		h3 {			
	        font-size: 1.4em;
		}
	}

	.full {
		margin-bottom: 20px;
		position: relative;
	}

	.row {
		font-size: 1.1em;
		color:#333;
		margin-bottom: 20px;
		>div {
			display: inline-block;
			vertical-align: top;
		}

		>div:first-child {
			width: 25%;
		    font-weight: bold;
    		color: #5a5a5a;
		}

		>div:last-child {
			width: 70%;			
		}
	}

	.margingrey {
	    padding: 20px;
		border: 1px solid #666;
    	background: #f3f3f3;
	}


	input[type=checkbox] {
		width: 30px;
		height: 30px;
	}
}

.btRadio {
	padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #85b7d8;
    background-color: #d4e8f5;
    border-radius: 4px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;

    input {
    	width: 20px;
    	height: 20px;
    	margin-right: 15px;
    }
}    

.bouton {
	display:inline-block;
	background : #30a559;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
    padding: 10px 10px;
    font-size: .9em;
    border: 0;
    border-radius: 4px;
	transition: background 300ms;
    &:hover {
		background : darken(#30a559, 20%);

    }

    &.topright {
    	position: absolute;
    	top: 10px;
    	right: 10px;	    	
    }
}

.boutoncancel {
	background-color: #a5a5a5 !important;
	margin-left: 1em;
	&:hover {
		background-color: darken(#a5a5a5, 15%);
	}
}

.boutonsave {
	padding: 10px 15px;
	font-size: 1.2em;
	background: #26526f;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.3);
    transition: all 300ms;
	&:hover {
		background: darken(#26526f, 20%);
    	box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0.1);
	}
}

.boutonDelete {
	background : #e05555;
	&:hover {
		background : darken(#e05555, 20%);
	}
}

.boutonSelect {
	background : #26526f;
	&:hover {
		background : darken(#26526f, 20%);
	}
}

.buttonsrow {
	text-align: center;
}

.boutonNormalize {
	font-size: 1.1em;
}

.modal {
	display: none;
	position: absolute;
	top:30px;
	margin-left: -30%;
	left: 50%;
	z-index: 20000;
	width: 60%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;

	.bouton {
		font-size: 1.2em;
		padding: 10px 20px;
		min-width: 25%;
	}


}

.boutonNvDevis {
	display: block;
	margin-bottom: 25px;
	text-align: center;
    width: 100%;
    font-size: 1.4em;
    padding-top: 15px;
    padding-bottom: 15px;

	i {
		font-size: 1.1em;
		top:0;
	}
}

#modalBg {
	position: fixed;
	z-index: 10000;
	top:0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
}

#editPopupClient {
	position: fixed;
}

#adresses, #contacts, #articles {
	ul {
		margin-top : 20px;
		li {
			list-style-type: none;
			margin: 15px 10px;
			padding: 15px 20px;
			background: #e0e0e0;
			position: relative;
			transition: box-shadow 300ms;

			&.selected {
				background-color: #ecd5b4;

				p i:before {
					color: #a53030;
				}
			}

			p {
				font-size: 1.2em;

				>span {
					color:#999;
				}

				>i.fas {
					text-shadow: none;
					color: #999;
				}
			}

			>div {
				position: absolute;
				top: 7px;
				right: 10px;

				span {
					margin-left: 15px;
				}
			}
			&:hover {
				box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}

#articles {
	ul {
		>li {
			&>div {
				display: flex;
				flex-direction: column;

				span {
					margin: 0 0 .5em 0;
				}
			}
		}
	}
}

.switchArticles {
    display: block;
    font-size: .8em;
    margin-top: 10px;
    background: #a0a0a0;
    color: white;
    max-width: 270px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto 0;
}

.iconBt {
	    background: #26526f;
	    color: #fff;
	    padding: 8px 8px 10px 10px;
	    border-radius: 4px;
	    cursor: pointer;
	i {
		font-size: 1em;
	    text-shadow: none;
	    margin: 0;
	}
}

#moreInfo {
	font-size: 0.9em;
    min-width: 0;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #a0a0a0;
    margin-top: 20px;
}

input.toCheck, select.toCheck, textarea.toCheck {
	border: 1px solid red;
}

.messageErrorMini {
    font-size: .85em;
    color: red;
}

#ficheStock, #ficheDevisListing {
	.fas {
		text-shadow: none;
	}
	>div {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		padding: 20px 1%;
		margin: 0px 1%;
		background: #fff;
		border-radius: 5px;
		box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.2);
	}

	#stockListing, #devisListing {
		.dataTables_filter {
			font-size: 1.1em;
			margin-bottom: 20px;

			input[type=search] {
				padding: 5px 10px;

			} 
		}

		thead {
			th {
				background: #26526f;
				color:#fff;
			}
		}
		tbody {
			td {
				padding-top:10px; 
				padding-bottom:10px; 
			}
		}

	}

	#stockFiche, #devisListingFiche {
		p.empty {
			font-size: 1.3em;
			text-align: center;
			font-style: italic;
			padding: 50px 10px;
		}

		.row {
			font-size: 1.1em;
			padding: 7px 0;
			transition: background 100ms;
			&:hover {
				background: #ddd;
			}
			
			>label {
				display: inline-block;
				width: 20%;
				margin-right: 4%;
				vertical-align: middle;
			}

			input[type=text] {
				display: inline-block;
				vertical-align: middle;
				padding: 5px 10px;
				width: 70%;

			} 
		}

		h3 {
			margin-top: 30px;
		    padding-bottom: 5px;
    		border-bottom: 1px solid #000;
		}


	}


	#stockFiche {
		.row {
			>span {
				display: inline-block;
				vertical-align: middle;
				padding: 5px 10px;
				width: 70%;
			}
		}
	}

	#devisListingFiche {
		header {
			p {
			    margin-bottom: 10px;
			    background-color: #ece2d8;
			    text-align: center;
			    padding: .3em 1em;
				span {
					font-weight: bold;
					font-size: 1.3em;
				}
			}
		}
	}

	#detailDevis {
		.row:hover {
			background: transparent;
		}

		ul {
			display: flex;
			margin: 10px 0;
			
			li {
				flex-grow: 1;
				list-style-type: none;
				margin: 0 3px;
				border: 1px dotted #c5c5c5;
				padding: 6px 0;
				border-radius: 6px;
				// background: #fbe1c9;
				// transition: background 200ms;
				background-color: #eaeaea;
				transition: border 200ms;
				&:hover {
					border: 1px solid darken(#c5c5c5, 20%);

					// background: darken(#fbe1c9, 20%);

				}

				label {
					display: block;
					text-align: center;

					span {
						display: block;
						font-size: 0.85em;
					}

				}
				input[type="radio"] {
					width: 20px;
					height: 20px;
				}
			}
		}

		textarea {
			width: 93%;
			min-height: 70px;
			padding: 10px 3%;
			border: 1px solid #999;
		}
	}
}

.detailArticle {
	margin-top: 15px;
	td {
	    padding: 5px 15px;
	    text-align: center;
	    border: 1px solid #a7a7a7;
	    background-color: white;
	    //font-size: 0.9em;
	}
}


#articlesFacture {
	table {
		border-collapse: collapse;
		border-bottom:1px solid #111;
		th, td {
			padding: 5px 8px;
			border-bottom:1px solid #111;
		}
		th {
			background: #26526f;
			color:#fff;
		}
		td {
			text-align: center;
			border-left:1px solid #999;
			border-bottom:0;
			&:first-child {
				border-left:0;
			}
		}

		tr:nth-child(odd) {
			td {
				background: #e6d5c6;
			}
		}
	}
}

.infoStockDiv {
	margin-bottom: 30px;
}

#infoStock {
	width: 90%;
	margin: 5px auto;
	border-collapse: collapse;

	th, td {
		padding: 4px 10px;
		border: 1px solid #666;
	}

	th {
		background: #CCC;
		&:first-child {
			background: transparent;
			border: 0;
		}
	}
}

.filter {
	>div {
		text-align: right;
	    margin-bottom: .8em;
    	font-size: 1.2em;
    	font-weight: bold;

    	input {
    		padding: 5px 10px; 
    		font-weight: normal;
    	}
	}
}


#listingClients {
	font-size: 1.1em;
	thead {
		background: #26526f;
		color:#fff;
	}
	tbody td {
		padding-top: 15px;
		padding-bottom: 15px;
		&.tools {
			text-align: right;
		}
	}
}


.tools {
	max-width: 100px;
}

#cgv {
	position: fixed;
	background: #fff;

	#texteCgv {
		max-height: 250px;
		overflow-y: scroll;
	}

	#signature {
		canvas {
			border: 1px solid black;
			background: #eee;
			height: 200px;
			width: 600px;
			margin: 20px auto 10px auto;
			display: block;
		}
		p {
		    width: 80%;
    		margin: 0 auto;

			span {
				font-style: italic;
				background:#ddd;
			    display: inline-block;
    			padding: 5px 10px;
    			cursor: pointer;
				i {
					text-shadow: none;
				}
			}			
		}

	}
}

#calendar {
	.fc-view-container {
		background: #fff;
	}

	.fc-day-header {
		background: #26526f;
		color: #fff;
	}

	.fc-unthemed td {
		border-color: #6d6d6d;
	}

	.fc-unthemed td.fc-today {
		background: #f6d0ae;
	}

	.fc-toolbar .fc-left {
		color:#fff;
		text-transform: uppercase;
	}
}



#home {

	ul {
		li {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			margin: 15px 1.5%;

			&.menuData {
				a {
					background: rgba(255,255,255,.5);

					i {
						color:#fff;
					}
				}
			}

			a {
				display: block;
				font-size: 1.5em;
				//background: #26526f;
				background: #fff;
				//border: 2px solid #f1f1f1;
				border: 2px solid #949494;
				padding: 30px 5%;
				//color:#fff;
				color:#26526f;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
			    font-weight: bold;
			    position: relative;
				transition: all 300ms;


			    &:hover {
			    	background-color: #ce8442;
					i {
						color: rgba(255, 255, 255, 0.7);
					}
			    }

				i {
					position: absolute;
					top: 15px; 
					left: 15px;
					color: rgba(255, 255, 255, 0.2);
					font-size: 2.7em;
					text-shadow: none;
					transition: all 300ms;
				}


				
				.fas {
					color: #e07d25;
					text-shadow: 2px 2px 0px rgba(0, 0, 0, .15);
				}

				.fa-users { color:#d42b2b; }
				.fa-calendar-alt { color:#46a220; }
				.fa-archive { color:#20a29c; }
				.fa-clipboard { color:#2078a2; }
				.fa-chart-area { color:#2036a2; }
				.fa-calculator { color:#5e20a2; }
				.fa-envelope { color:#a020a2; }
				.fa-wrench { color:#a2203e; }
				
			}
		}
	}
}

#messageGlobal {	
    position: fixed;
    opacity: 0;
    top: -100px;
    right: 20px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 40px;
    font-size:  1.4em;
    border-radius: 10px;
    border: 1px solid #a7a7a7;
    text-align:  center;
    min-width: 200px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
    transition: top 400ms, opacity 400ms;

    &.down {
    	top: 20px;
    	opacity: 1;
    }
}


body {
	padding-bottom: 80px;

	>footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		color:#fff;
		background: #26526f;
	    z-index: 10;

	    >span {
			display: none;
			background: #000;
			padding: .4em 1em;
			text-transform: uppercase;
			font-size: 1.2em;
			font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
	    }

		ul {
			display: flex;
			flex-direction: row;
			align-content: space-between;
			align-items: stretch; 


			li {
				flex-grow: 1;
				list-style-type: none;
    			text-align: center;
				a {
					display: block;
					text-decoration:none;
					color: #fff;
					font-size: 1.3em;
					padding: 0.4em 0.3em 0.2em 0.3em;
					transition: background 300ms, color 300ms;
					&:hover {
						background: #fff;
						color: #333;

						.fas {
							color: #e07d25;
    						text-shadow: 2px 2px 0px rgba(0, 0, 0, .15);
						}

						.fa-users { color:#d42b2b; }
						.fa-calendar-alt { color:#46a220; }
						.fa-archive { color:#20a29c; }
						.fa-clipboard { color:#2078a2; }
						.fa-chart-area { color:#2036a2; }
						.fa-calculator { color:#5e20a2; }
						.fa-envelope { color:#a020a2; }
						.fa-wrench { color:#a2203e; }


					}

					.fas {
						transition: color 300ms;
						display: block;
						margin-right: 0;
						margin-bottom: 0.3em;
						font-size: 1.2em;
						text-shadow: none;
					}
				}
			}
		}
	}
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); 
}

@media screen and (max-width: 1110px)  {
	#tableDevisListing {
		td {
			font-size: .9em;
			letter-spacing: -0.5px;
		}
	}
}

@media screen and (max-width: 900px)  {
	body>div.global {
		&>div.main {
			padding: 10px;
		}

	}

	body>div#topBar {
		font-size: .9em;
		>ul {
			>li {
				a {
					padding-left: .5em;
					padding-right: .5em;
				}
			}
		}
	}

	#home ul li {
		width: 46%;
	    text-align: right;
	}

	.fiche {
		section {
			h2 {
				+div {
					padding: 10px;

					.half {
						display: block;
						width: auto;
					}
				}
			}
		}

		.row {
			&>div {
				display: block;
				&:first-child {
					width: auto;
					margin-bottom: 10px;
				}
				&:last-child {
					width: auto;
				}
			}
		}
	}

	.fiche section input[type=text], .fiche section select:not(.SumoUnder), .modal section input[type=text], .modal section select:not(.SumoUnder) {
		width: 95%;
	}

	body>footer {
	    position: fixed;
    	top: 100%;
    	transition: top 500ms;

		>span {
			position: absolute;
			top: -2.3em;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			//content: "\f102";
			display: block;
			margin: 0 auto;
			padding: .5em 1.5em;
			background: #000;
			text-align: center;
			font-size: 1.2em;
			cursor: pointer;
		}

		&.open {
			top: auto;
			// &:before {
			// 	content: "\f103";

			// }
		}

		ul {
			flex-direction: column;
			li {
				a {
					font-size: 1.6em;
					.fas {
						display: inline-block;
						margin-right: 0.9em;
					}
				}
			}
		}
		// &:before {
		// 	position: absolute;
		// 	top: -2.3em;
		// 	font-family: 'Font Awesome 5 Free';
		// 	font-weight: 900;
		// 	content: "\f102";
		// 	display: block;
		// 	margin: 0 auto;
		// 	padding: .5em 1.5em;
		// 	background: #000;
		// 	text-align: center;
		// 	font-size: 1.2em;
		// }
	}
}


@media screen and (max-width: 720px)  {
	body>div.global>header>span {
		opacity: 0.2;
	}
}

@media screen and (max-width: 600px)  {
	#home ul li {
		width: 95%;
		text-align: right;
		margin-left: auto;
		margin-right: auto;
		display: block;

		a {
			padding: 20px 5%;
			i {
				font-size: 1.8em;
			}
		}
	}

	#synchro>div {
		width: auto;
	}
}