h1,h2,h3,h4,h5,h6,li,p,ul
{
    margin:0;
    padding:0;
    font-family: clan

}
body .fas
{
    font-size:1.4em;
    position:relative;
    top:.1em;
    margin-right:.3em;
    text-shadow:2px 2px 0 rgba(0,0,0,.3)
}
body .logohome
{
    font-size:1.4em;
    position:relative;
    top:.1em;
    margin-right:.3em;
    text-shadow:2px 2px 0 rgba(0,0,0,.3)
}

body>span:first-child
{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.55)
}
#identification
{
    background-image:url(../img/imgidentification.jpg);
    background-size:cover;
    width: 100vw;
    height: 56.25vw;
    background-repeat:no-repeat;
    background-color:#000
}
#identification>span:first-child
{background:rgba(0,0,0,.4)}
#identification form
{
    border:solid #1d4159;
    position:relative;
    background:#fff;
    margin:2em auto;
    width:94%;
    max-width:360px;
    box-shadow:0 0 20px 5px rgba(0,0,0,.9)
}
#identification form header
{
    background-image:url(../img/logo_indent.jpg);
    border:0,5 px solid #1d4159;
    border-bottom-style: 5 px solid #1d4159;
    background-size:80%;
    background-position:center;
    background-repeat:no-repeat;
    min-height:120px
}
#identification form>div
{
    padding:1em 5%

}
#identification form>div p.error
{
    display:none;
    color:#ec2e2e;
    font-size:.9em;
    font-weight:700;
    text-align:center;
    background:#f5d8dd;
    padding:.5em 2em
}
#identification form>div input
{
    background-color:#003082;
    display:block;
    margin:1em 0;
    width:90%;
    font-size:1.2em;
    padding:.6em 5%;
    transition:all 350ms;
    border:0
}
#identification form>div input[type=password],#identification form>div input[type=text]
{
    border-bottom:2px solid #aaa

}
#identification form>div input:focus,#identification form>div input:hover
{
    background:#ddd
}
#identification form>div input[type=submit]
{
    width:100%;
    background-color:#020017;
    border:0.5;
    text-transform:uppercase;
    font-size:1.3em;
    letter-spacing:.05em;
    color:#fff
}
#identification form>div input[type=submit]:hover
{
    background-color:#9c9e9f;
    color:#fff
}
#synchro>div
{
    width:350px;margin:3em auto;text-align:center;background:#fff;padding:.9em 1em;cursor:pointer;box-shadow:0 0 10px rgba(0,0,0,.5);border-radius:4px;transition:all 300ms
}
#synchro>div p
{
    font-size:1.3em;text-transform:uppercase;margin-bottom:.4em;color:#26526f;font-weight:700;transition:all 300ms
}
#synchro>div span
{
    display:block;font-size:.8em;color:#333;transition:all 300ms
}
#synchro>div:hover
{
    background:#b76215
}
#synchro>div:hover p
{
    color:#fff
}
#synchro>div:hover span
{
    color:rgba(255,255,255,.6)
}
#messageSynchro
{
    display:none;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;background:rgba(255,255,255,.8)
}
#messageSynchro i
{
    margin-top:20%;text-shadow:none;margin-bottom:1em;font-size:2em
}
#messageSynchro b
{
    display:block;font-size:1.4em
}
body
{
    font-size: 10px;
    font-family: clan;
    /*background-image:url(../img/imghome.jpg);*/
    background-size:cover;
    width: 100vw;
    height: 80vw;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:#FFFFFF;
    font-family:Futura,Arial,Helvetica,sans-serif;
    padding-top:30px;
    transition:padding 300ms
}
body.morePadding
{
    padding-top:20px
}
body>div#topBar
{
    margin-top: 10%;
    margin-left: 0px;
    text-decoration: none;
    color:whitesmoke;
    background:rgba(50,72,95,.5);
    width:15%;
    top:0;left:0;
    font-size:1.1em;
    border-bottom:1px solid #000;
    transition:top 400ms;
    position:absolute;
    z-index: 1000000
}
body>div#topBar>div
{

    /*display:inline-block;*/
    color:#fff;
    background:#d7e0e6
}
body>div#topBar>div>a>span,body>div#topBar>div>i
{

    padding:.5em .7em
}
body>div#topBar>div>a
{

    color:#fff;text-decoration:none
}
body>div#topBar>div i
{
    text-shadow:none
}
body>div#topBar>div>i
{
    padding-left:.6em;padding-right:.6em;padding-top:.4em;margin:0;color:red;background-color:#eccfcf
}
body>div#topBar>div>i.fas
{
    top:0
}
body>div#topBar>ul,body>div#topBar>ul li
{
    list-style-type: none; 
    text-decoration: none;
    /*display:inline-block;*/
    padding:0;margin:0
}
body>div#topBar>ul li a
{
        list-style-type: none; 

    display:block;
    padding:.55em 1em;
    text-decoration:none;
    color:#fff;
    text-transform:uppercase;
    transition:background 200ms;
    z-index : 
}
body>div#topBar>ul li a:hover
{
    list-style-type: none; 
    text-decoration: none;
    background:#000;
    color:#fff
}
body>div#topBar>span
{
    /*display:inline-block;*/
    position:absolute;top:0;right:0;color:#d6d6d6;padding:.6em;transition:color 200ms
}
body>div#topBar>span i
{
    margin:0;text-shadow:none!important
}
body>div#topBar>span#topBarDown
{
    bottom:-2.5em;top:auto
}
body>div#topBar>span#topBarDown:hover,body>div#topBar>span#topBarUp:hover
{
    color:#fff
}
body>div#topBar.isUp
{
    top:-3em
}
body>div#topBar.isUp span#topBarDown
{
    /*display:inline-block*/
}
body>div#topBar.isDown
{
    top:0
}
body>div#topBar.isDown span#topBarDown
{
    display:none
}

body>div.global
{
    font-size:1;
    position:relative;
    /*max-width:1250px;*/
    margin:10px auto;
    background:#fafafa;
    box-shadow:0 0 25px 0 rgba(0,0,0,.6);
    border-top:2px solid #020017;
    border-bottom-style:1px solid #020017
}
body>div.global>header
{
    background:url(../img/header.png) #fff;
    position:relative;
    color:#1a171b;
    padding:30px 30px;background-size:cover
}
body>div.global>header>span
{
    display:block;
    position:absolute;
    top:5px;
    left:20px;
    width:200px;
    height:60px;
    background-image:url(../img/logo.png);
    background-size:80%;
    background-repeat:no-repeat
}
body>div.global>header>span a
{
    display:block;width:100%;height:100%
}
body>div.global>header p
{
    text-transform:uppercase;font-weight:700;text-align:center;font-size:1.4em
}
body>div.global>header p span
{
    font-weight:400
}
body>div.global>div.main
{
    margin:0;
    padding:0px;
    min-height:400px;
    /*background-color:transparent;*/

    border-top:2px solid #020017
    

}
#listingClients_filter
{
    float:none;font-size:1.2em;font-weight:700;margin-bottom:20px
}
#listingClients_filter input
{
    padding:5px 10px
}
.fiche section,.modal section
{
    padding-left: 15%;
    padding-top: 5px;

    background:#fff;border:1px solid #fff;margin-bottom:20px
}
.fiche section input[type=text],.fiche section select:not(.SumoUnder),.modal section input[type=text],.modal section select:not(.SumoUnder)
{
    padding:3px 3px;position:relative;top:-5px;width:80%
}
.fiche section select,.modal section select{
    width:82%
}
.fiche section h2,.modal section h2
{
    color:#fff;background:#26526f;padding:5px 5px;font-weight:400;font-size:1.4em
}
.fiche section h2+div,.modal section h2+div
{
    padding:3px
}
.fiche section h2+div .half,.modal section h2+div .half
{
    padding-top: 5px;
    display:inline-block;
    width:33%;
    margin:px 4% 5px 0;
    vertical-align:top 
}
.fiche section h3,.modal section h3
{
    font-size:1.4em
}
.fiche .full,.modal .full
{
    margin-bottom:20px;position:relative
}
.fiche .row,.modal .row
{
    font-size:1.1em;color:#333;margin-bottom:10px
}
.fiche .row>div,.modal .row>div
{
    display:inline-block;vertical-align:top
}
.fiche .row>div:first-child,.modal .row>div:first-child
{
    width:25%;font-weight:700;color:#5a5a5a
}
.fiche .row>div:last-child,.modal .row>div:last-child
{
    width:70%
}
.fiche .margingrey,.modal .margingrey
{
    padding:5px;border:1px solid #666;background:#f3f3f3
}
.fiche .decalage_menus

{
    padding:15%
}

.fiche .menuclient

{
text-decoration: none
}



.fiche input[type=checkbox],.modal input[type=checkbox]
{
    width:30px;height:30px
}
.btRadio
{
    width:80px; padding:5px 5px;margin-bottom:10px;border:1px solid #85b7d8;background-color:#d4e8f5;border-radius:2px;display:block;text-transform:uppercase;font-weight:700
}
.btRadio input
{
    width:80px;height:10px;margin-right:15px
}
.bouton
{
    text-decoration: none;
    padding-left: 15%;
    padding-top: 5px;
    display:inline-block;
    background:#26526f;
    color:#fff;
    text-transform:uppercase;
    cursor:pointer;padding:10px;
    font-size:.8em;border:0;
    border-radius:4px;
    transition:background 300ms
}
.bouton:hover{background:#19562e}
.bouton.topright{position:absolute;top:10px;right:10px}
.boutoncancel{background-color:#a5a5a5!important;margin-left:1em}
.boutoncancel:hover{background-color:#7f7f7f}

.boutonsave
{
    padding:10px 15px;
    font-size:1.2em;
    background:#26526f;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.3);
    transition:all 300ms
}
.boutonsave:hover
{
    background:#0c1a23;
    box-shadow:0 0 0 0 rgba(0,0,0,.1)
}

.boutoncomm
{
    padding-top:10px;
    padding-bottom: 10px;
    font-size:1.2em;
    background:green;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.3);
    transition:all 300ms
}
.boutoncomm:hover
{
    background:greenyellow;
    box-shadow:0 0 0 0 rgba(0,0,0,.1)
}

.boutonexport
{
    padding-top:10px;
    padding-bottom: 10px;
    font-size:1.2em;
    background:#CED8F6;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.3);
    transition:all 300ms
}
.boutonexport:hover
{
    background:#A9D0F5;
    box-shadow:0 0 0 0 rgba(0,0,0,.1)
}

.boutongeoloc
{
    text-decoration: none;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:1.2em;
    background:#CED8F6;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.3);
    transition:all 300ms
}
.boutongeoloc:hover
{
    background:#A9D0F5;
    box-shadow:0 0 0 0 rgba(0,0,0,.1)
}

.boutoncli
{
    text-decoration: none;
    padding-top:5px;
    padding-bottom: 10px;
    font-size:1.2em;
    background:#26526f;
    box-shadow:2px 2px 0 0 rgba(0,0,0,.1);
    transition:all 300ms
}
.boutoncli:active
{
    text-decoration: none;
    padding-top:5px;
    padding-bottom: 10px;
    font-size:1.2em;
    background:#000;
    box-shadow:2px 2px 0 0 rgba(0,0,0,.1);
    transition:all 300ms
}
.boutoncli:hover
{
    text-decoration: none;
    background:#24526f;
    box-shadow:0 0 0 0 rgba(0,0,0,.1)
}


.boutonDelCli
{
    margin-left: 100px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:1.2em;
    background:#e05555;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.3);
    transition:all 300ms
}
.boutonDelCli:hover
{
    background:#af2020;
    box-shadow:0 0 0 0 rgba(0,0,0,.1)
}

.boutonAjtCli
{
    margin-right: 100px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:1.2em;
    background:green;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.3);
    transition:all 300ms
}
.boutonAjtCli:hover
{
    background:green;
    box-shadow:0 0 0 0 rgba(0,0,0,.1)
}


.boutonDelete{background:#e05555}
.boutonDelete:hover{background:#af2020}
.boutonSelect{background:#26526f}
.boutonSelect:hover{background:#0c1a23}
.buttonsrow{text-align:left;padding-left: 15%}
.buttonsSave{text-align:center}
.boutonNormalize{font-size:1.1em}
.modal{
    display:none;position:absolute;top:30px;margin-left:-30%;left:50%;width:60%;box-shadow:0 0 20px rgba(0,0,0,.5);border:1px solid #fff
}
.modal .bouton{font-size:1.2em;padding:10px 20px;min-width:25%}
.boutonNvDevis{
    display:block;margin-bottom:25px;text-align:center;width:100%;font-size:1.4em;padding-top:15px;padding-bottom:15px}
.boutonNvDevis i{font-size:1.1em;top:0}
#modalBg
{
    position:fixed;top:0;left:0;display:none;width:100%;height:100%;background:rgba(255,255,255,.6)
}
#editPopupClient{position:fixed}
#adresses ul,#articles ul,#contacts ul{margin-top:10px}
#adresses ul li,#articles ul li,#contacts ul li
{
    list-style-type:none;margin:15px 10px;padding:5px 21px;background:#e0e0e0;position:relative;transition:box-shadow 300ms
}
#adresses ul li.selected,#articles ul li.selected,#contacts ul li.selected{background-color:#ecd5b4}
#adresses ul li.selected p i:before,#articles ul li.selected p i:before,#contacts ul li.selected p i:before{color:#a53030}
#adresses ul li p,#articles ul li p,#contacts ul li p{font-size:1.2em}
#adresses ul li p>span,#articles ul li p>span,#contacts ul li p>span{color:#999}
#adresses ul li p>i.fas,#articles ul li p>i.fas,#contacts ul li p>i.fas{text-shadow:none;color:#999}
#adresses ul li>div,#articles ul li>div,#contacts ul li>div
{
    position:absolute;top:7px;right:10px
}
#adresses ul li>div span,#articles ul li>div span,#contacts ul li>div span{margin-left:15px}
#adresses ul li:hover,#articles ul li:hover,#contacts ul li:hover
{
    box-shadow:4px 4px 0 0 rgba(0,0,0,.2)
}
#articles ul>li>div{display:flex;flex-direction:column}
#articles ul>li>div span{margin:0 0 .5em}
.switchArticles
{
    display:block;font-size:.8em;background:#a0a0a0;color:#fff;max-width:270px;text-align:center;padding:3px 5px;border-radius:4px;cursor:pointer;margin:10px auto 0
}
.iconBt{background:#26526f;color:#fff;padding:8px 8px 10px 10px;border-radius:4px;cursor:pointer}
.iconBt i{font-size:1em;text-shadow:none;margin:0}
#moreInfo{font-size:.9em;min-width:0;font-weight:700;letter-spacing:1px;background-color:#a0a0a0;margin-top:20px}
input.toCheck,select.toCheck,textarea.toCheck{border:1px solid red}
.messageErrorMini{font-size:.85em;color:red}
#ficheDevisListing .fas,#ficheStock .fas{text-shadow:none}
#ficheDevisListing>div,#ficheStock>div{
    display:inline-block;vertical-align:top;width:45%;padding:10px 1%;margin:0 1%;background:#fff;border-radius:5px;box-shadow:3px 3px 15px 0 rgba(0,0,0,.2)
}
#ficheDevisListing #devisListing .dataTables_filter,#ficheDevisListing #stockListing .dataTables_filter,#ficheStock #devisListing .dataTables_filter,#ficheStock #stockListing .dataTables_filter
{
    font-size:1.1em;margin-bottom:20px
}
#ficheDevisListing #devisListing .dataTables_filter input[type=search],#ficheDevisListing #stockListing .dataTables_filter input[type=search],#ficheStock #devisListing .dataTables_filter input[type=search],#ficheStock #stockListing .dataTables_filter input[type=search]
{
    padding:5px 5px
}
#ficheDevisListing #devisListing thead th,#ficheDevisListing #stockListing thead th,#ficheStock #devisListing thead th,#ficheStock #stockListing thead th
{
    background:#26526f;color:#fff
}
#ficheDevisListing #devisListing tbody td,#ficheDevisListing #stockListing tbody td,#ficheStock #devisListing tbody td,#ficheStock #stockListing tbody td
{
    padding-top:5px;padding-bottom:5px
}
#ficheDevisListing #devisListingFiche p.empty,#ficheDevisListing #stockFiche p.empty,#ficheStock #devisListingFiche p.empty,#ficheStock #stockFiche p.empty
{
    font-size:1.3em;text-align:center;font-style:italic;padding:50px 10px
}
#ficheDevisListing #devisListingFiche .row,#ficheDevisListing #stockFiche .row,#ficheStock #devisListingFiche .row,#ficheStock #stockFiche .row
{
    font-size:1.1em;padding:7px 0;transition:background 100ms
}
#ficheDevisListing #devisListingFiche .row:hover,#ficheDevisListing #stockFiche .row:hover,#ficheStock #devisListingFiche .row:hover,#ficheStock #stockFiche .row:hover
{
    background:#ddd
}
#ficheDevisListing #devisListingFiche .row>label,#ficheDevisListing #stockFiche .row>label,#ficheStock #devisListingFiche .row>label,#ficheStock #stockFiche .row>label
{
    display:inline-block;width:20%;margin-right:4%;vertical-align:middle
}
#ficheDevisListing #devisListingFiche .row input[type=text],#ficheDevisListing #stockFiche .row input[type=text],#ficheStock #devisListingFiche .row input[type=text],#ficheStock #stockFiche .row input[type=text]{display:inline-block;vertical-align:middle;padding:5px 10px;width:70%
}
#ficheDevisListing #devisListingFiche h3,#ficheDevisListing #stockFiche h3,#ficheStock #devisListingFiche h3,#ficheStock #stockFiche h3
{
    margin-top:30px;padding-bottom:5px;border-bottom:1px solid #000
}
#ficheDevisListing #stockFiche .row>span,#ficheStock #stockFiche .row>span
{
    display:inline-block;vertical-align:middle;padding:5px 10px;width:70%
}
#ficheDevisListing #devisListingFiche header p,#ficheStock #devisListingFiche header p
{
    margin-bottom:10px;background-color:#ece2d8;text-align:center;padding:.3em 1em
}
#ficheDevisListing #devisListingFiche header p span,#ficheStock #devisListingFiche header p span
{
    font-weight:700;font-size:1.3em
}
#ficheDevisListing #detailDevis .row:hover,#ficheStock #detailDevis .row:hover
{
    background:0 0
}
#ficheDevisListing #detailDevis ul,#ficheStock #detailDevis ul{display:flex;margin:10px 0}
#ficheDevisListing #detailDevis ul li,#ficheStock #detailDevis ul li
{
    flex-grow:1;list-style-type:none;margin:0 3px;border:1px dotted #c5c5c5;padding:6px 0;border-radius:6px;background-color:#eaeaea;transition:border 200ms
}
#ficheDevisListing #detailDevis ul li:hover,#ficheStock #detailDevis ul li:hover
{
    border:1px solid #929292
}
#ficheDevisListing #detailDevis ul li label,#ficheStock #detailDevis ul li label
{
    display:block;text-align:center
}
#ficheDevisListing #detailDevis ul li label span,#ficheStock #detailDevis ul li label span
{
    display:block;font-size:.85em
}
#ficheDevisListing #detailDevis ul li input[type=radio],#ficheStock #detailDevis ul li input[type=radio]{width:20px;height:20px}
#ficheDevisListing #detailDevis textarea,#ficheStock #detailDevis textarea{width:93%;min-height:70px;padding:10px 3%;border:1px solid #999}
.detailArticle{margin-top:15px}
.detailArticle td{padding:5px 15px;text-align:center;border:1px solid #a7a7a7;background-color:#fff}
#articlesFacture table{border-collapse:collapse;border-bottom:1px solid #111}
#articlesFacture table td,#articlesFacture table th{padding:5px 8px;border-bottom:1px solid #111}
#articlesFacture table th{background:#26526f;color:#fff}
#articlesFacture table td{text-align:center;border-left:1px solid #999;border-bottom:0}
#articlesFacture table td:first-child{border-left:0}
#articlesFacture table tr:nth-child(odd) 
td{background:#e6d5c6}
.infoStockDiv{margin-bottom:30px}
#infoStock{width:90%;margin:5px auto;border-collapse:collapse}
#infoStock td,#infoStock th{padding:4px 10px;border:1px solid #666}
#infoStock th{background:#CCC}
#infoStock th:first-child{background:0 0;border:0}
.filter>div{text-align:right;margin-bottom:.8em;font-size:1.2em;font-weight:700}
.filter>div input{padding:5px 10px;font-weight:400}
#listingClients{font-size:1.0em}
#listingClients thead{background:#26526f;color:#fff}
#listingClients tbody td
{padding-top:0.5px;
 padding-bottom:0.5px;
 border: 0.1px;
 border-style: solid;
 border-color:whitesmoke}


#listingClients tbody td.tools{text-align:right}
.tools{max-width:100px}
#cgv{position:fixed;background:#fff}
#cgv #texteCgv{max-height:250px;overflow-y:scroll}
#cgv #signature canvas{border:1px solid #000;background:#eee;height:200px;width:600px;margin:20px auto 10px;display:block}
#cgv #signature p{width:80%;margin:0 auto}
#cgv #signature p span{font-style:italic;background:#ddd;display:inline-block;padding:5px 10px;cursor:pointer}
#cgv #signature p span i{text-shadow:none}
#calendar .fc-view-container{background:#fff}
#calendar .fc-day-header{background:#26526f;color:#fff}
#calendar .fc-unthemed td{border-color:#6d6d6d}
#calendar .fc-unthemed td.fc-today{background:#f6d0ae}
#calendar .fc-toolbar .fc-left{color:#fff;text-transform:uppercase}
#home ul li{display:inline-block;vertical-align:top;width:30%;margin:15px 1.5%}
#home ul li.menuData a{background:rgba(255,255,255,.5)}
#home ul li.menuData a i{color:#fff}
#home ul li a
{
    display:block;
    font-size:1.1em;
    background:#fff;
    border:2px solid #949494;
    padding:30px 5%;
    color:#26526f;
    text-transform:uppercase;
    text-decoration:none;
    text-align:right;
    font-weight:700;
    position:relative;
    transition:all 300ms
}
#home ul li a:hover{background-color:#ce8442}
#home ul li a:hover i{color:rgba(255,255,255,.7)}
#home ul li a i
{
    position:absolute;
    top:07px;left:07px;
    color:rgba(255,255,255,.2);
    font-size:2.7em;
    text-shadow:none;
    transition:all 300ms
}
#home ul li a .fas{font-size: 0.7; color:#e07d25;text-shadow:2px 2px 0 rgba(0,0,0,.15)}
#home ul li a .fa-users{color:#d42b2b}
#home ul li a .fa-calendar-alt{color:#46a220}
#home ul li a .fa-archive{color:#20a29c}
#home ul li a .fa-clipboard{color:#2078a2}
#home ul li a .fa-chart-area{color:#2036a2}
#home ul li a .fa-calculator{color:#5e20a2}
#home ul li a .fa-envelope{color:#a020a2}
#home ul li a .fa-wrench{color:#a2203e}
#messageGlobal{position:fixed;opacity:0;top:-100px;right:20px;display:inline-block;background:rgba(255,255,255,.9);padding:15px 40px;font-size:1.4em;border-radius:10px;border:1px solid #a7a7a7;text-align:center;min-width:200px;box-shadow:0 0 24px 0 rgba(0,0,0,.16);transition:top 400ms,opacity 400ms}
#messageGlobal.down{top:20px;opacity:1}
body{padding-bottom:80px}
body>footer{position:fixed;bottom:0;left:0;width:100%;color:#fff;background:#26526f}
body>footer>span{display:none;background:#000;padding:.4em 1em;text-transform:uppercase;font-size:1.2em;font-weight:700;letter-spacing:1px;text-align:center}
body>footer ul{display:flex;flex-direction:row;align-content:space-between;align-items:stretch}
body>footer ul li{flex-grow:1;list-style-type:none;text-align:center}
body>footer ul li a{display:block;text-decoration:none;color:#fff;font-size:1.3em;padding:.4em .3em .2em;transition:background 300ms,color 300ms}
body>footer ul li a:hover{background:#fff;color:#333}
body>footer ul li a:hover .fas{color:#e07d25;text-shadow:2px 2px 0 rgba(0,0,0,.15)}
body>footer ul li a:hover .fa-users{color:#d42b2b}
body>footer ul li a:hover .fa-calendar-alt{color:#46a220}
body>footer ul li a:hover .fa-archive{color:#20a29c}
body>footer ul li a:hover .fa-clipboard{color:#2078a2}
body>footer ul li a:hover .fa-chart-area{color:#2036a2}
body>footer ul li a:hover .fa-calculator{color:#5e20a2}
body>footer ul li a:hover .fa-envelope{color:#a020a2}
body>footer ul li a:hover .fa-wrench{color:#a2203e}
body>footer ul li a .fas{transition:color 300ms;display:block;margin-right:0;margin-bottom:.3em;font-size:1.2em;text-shadow:none}@font-face{font-family:'Font Awesome 5 Free';font-style:normal;font-weight:900;src:url(../webfonts/fa-solid-900.eot);src:url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")}@media screen and (max-width:1110px){#tableDevisListing td{font-size:.9em;letter-spacing:-.5px}}@media screen and (max-width:900px)
{
    body>div.global>div.main{padding:10px}
    body>div#topBar{font-size:.9em}
    body>div#topBar>ul>li a{padding-left:.5em;padding-right:.5em}
    #home ul li{width:46%;text-align:right}
    .fiche section h2+div{padding:10px}
    .fiche section h2+div .half{display:block;width:auto}
    .fiche .row>div{display:block}
    .fiche .row>div:first-child{width:auto;margin-bottom:5px}
    .fiche .row>div:last-child{width:auto}
    .fiche section input[type=text],.fiche section select:not(.SumoUnder),.modal section input[type=text],.modal section select:not(.SumoUnder){width:95%}
    body>footer{position:fixed;top:100%;transition:top 500ms}
    body>footer>span{position:absolute;top:-2.3em;font-family:'Font Awesome 5 Free';font-weight:900;display:block;margin:0 auto;padding:.5em 1.5em;background:#000;text-align:center;font-size:1.2em;cursor:pointer}
    body>footer.open{top:auto}
    body>footer ul{flex-direction:column}
    body>footer ul li a{font-size:1.6em}
    body>footer ul li a .fas{display:inline-block;margin-right:.9em}}
@media screen and (max-width:720px){body>div.global>header>span{opacity:.2}}
@media screen and (max-width:600px){#home ul li{width:95%;text-align:right;margin-left:auto;margin-right:auto;display:block}
                                    #home ul li a{padding:20px 5%}#home ul li a i{font-size:1.8em}#synchro>div{width:auto}}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
select option {
  width:100px;
}

#menu a {
    	display: inline;
	margin: 0 30px;
}
#menu
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        left : 50%;
        margin-top : 0;
        width : 430px;
}

#menu li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#menu li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
#menu a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}
#menu a:hover
{
    background : #fff;
}    

.actionscli
{
    position : absolute;
    align-content: center;
    padding-top:10%;
    right:15%;
    transition:top 400ms;
    width:15%
    
}

.actionsparam
{
    position : absolute;
    align-content: center;
    padding-top:10%;
    right:50%;
    transition:top 400ms;
    width:15%
    
}

