{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas"><img src="img/pictos/smsmails.png"></i> Gestion des messages <span id="smsmail"></span></p>                    
{% endblock %}


{% block body %}

<table id="listingSmsmail" class="display" style="display:none;">
    <thead>
        <tr>
            <th>Nom message</th>
            <th>Type</th>
            <th>Corps</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}


{% block extrajs %}
	<script>
		$('document').ready(function() {
            $('#listingSmsmail').hide();
            getJsonData("smsmail");
		});

        
        // Affiche les données une fois l'ajax traité
        function displayData(tabSmsmail) {
            var liste = "";

            $.each(tabSmsmail, function(index, value) {
                liste+= "<tr>";
                liste+= "<td>"+value.nom+"</td>";
                liste+= "<td>"+value.type+"</td>";
                liste+= "<td>"+value.corps+"</td>";
                liste+= "<td style=\"text-align:right;\"><span class=\"iconBt\" onClick='changeStorageAndGo([\"currentSmsmail\", \""+value.id+"\"], \"smsmail-fiche\");'><i class=\"fas fa-edit\"></i></span></td>";
                liste+= "</tr>";
            });


            $('#listingSmsmail').append(liste);

            $('#listingSmsmail').DataTable( {
                "pageLength": 10,
                "lengthChange": false,
                language: {
                    searchPlaceholder: "Rechercher dans la liste",
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                }
            } );

            $('#nbSmsmail').html("("+$('#listingSmsmail tbody tr').length+")");
            $('#listingSmsmail').show();
        }
	</script>
{% endblock %}