<!doctype html>
<html class="no-js" lang=""{# {% if app.session.get('appcache') is defined %}manifest="{{app.session.get('appcache')}}" {% endif %} #}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Ligier Group{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/ligier.css">
        <link rel="stylesheet" href="js/vendor/jquery-ui.min.css">
        <link rel="stylesheet" href="js/vendor/sumoselect.min.css" />
        <link href="css/fontawesome-all.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="js/vendor/jquery.dataTables.css">

         <!-- CSS -->
        <link rel="stylesheet" href="css/jquery-ui.css">
        {#<link rel="stylesheet" href="css/trumbowyg.css">#}
        <link rel="stylesheet" href="css/jquery.minicolors.css">
        <link rel="stylesheet" href="css/jquery-ui-timepicker-addon.min.css">
        <link rel="stylesheet" href="css/jquery.postitall.css">

        
        
    </head>
    <body>
        <span></span>
        <div id="topBar" class="isDown">

           <div id="clientID"><i class="fas fa-home" title="Retour page accueil"></i> <a href="{{path('home')}}"><span><i class="fas fa-home"></i> <span>Retour page accueil</span></a></span></div>
            
       {# <div><i class="fas fa-home" title="Retour page accueil"></i> <a href="{{path('home')}}">Retour page accueil</a></div> 
         #}    
                <ul>
                    {#<<li><a href="{{path(app.request.attributes.get('_route'))}}" style="border-bottom :1px dashed #fff;background-color: whitesmoke;color: black">Menu général</a></li>
                    {#<li><a target="_blank" title="Gestion des devis" href="{{path("client_listing")}}" style="background-color: whitesmoke;color: black">Mes clients</a></li>
                    #}
                    <li><a target="_blank" title="Données Parc" href="" style="background-color: white;color: black">Données parc</a></li>
                    <li><a target="_blank" title="Gestion des vehicules" href="{{path("vehicule_listing")}}" style="background-color: whitesmoke;color: black">Mes véhicules</a></li>
                    <li><a target="_blank" title="Activité commerciale" href="" style="background-color: white;color: black">Activité commrciale</a></li>
                    <li><a target="_blank" title="Gestion de l'agenda" href="{{path("agenda")}}" style="background-color: whitesmoke;color: black">Mon agenda</a></li>
                    <li><a target="_blank" title="Gestion des tâches" href="{{path("memo_listing")}}" style="background-color: whitesmoke;color: black">Mes tâches</a></li>
                    <li><a target="_blank" title="Gestion des démarches" href="{{path("memo_listing")}}" style="background-color: whitesmoke;color: black">Mes démarches</a></li>
                    <li><a target="_blank" title="Gestion des devis" href="{{path("devis_listing")}}" style="background-color: whitesmoke;color: black">Mes propositions</a></li>
                    <li><a target="_blank" title="Gestion des commandes" href="{{path("commande_listing")}}" style="background-color: whitesmoke;color: black">Mes commandes</a></li>
                    <li><a target="_blank" title="Gestion des factures" href="{{path("facture_listing")}}" style="background-color: whitesmoke;color: black">Mes factures</a></li>
                    {#<li><a target="_blank" title="Gestion des articles" href="{{path("stock")}}" style="background-color: whitesmoke;color: black">Ma base article</a></li>
                    #}
                    <li><a target="_blank" title="Administration" href="" style="background-color: white;color: black">Administration</a></li>
                    <li><a target="_blank" title="Synchronisation des données" href="{{path("user_synchro")}}" style="background-color: whitesmoke;color: black">Mise à jour des données</a></li>
                    <li><a target="_blank" href="{{path('administration')}}" style="background-color: whitesmoke; color: black" style="border :1px dashed #fff;">Administration</a></li>
                    <li><a target="_blank" href="{{path('parametrage')}}" style="background-color: whitesmoke; color: black" style="border :1px dashed #fff;">Paramétrages</a></li>
                    <li><a target="_blank" title="Modèles des Messages" href="{{path('smsmail_listing')}}" style="background-color: whitesmoke; color: black">Vos modèles SMS & Mails</a></li>
                    <li><a target="_blank" title="CRM" href="" style="background-color: white;color: black">CRM</a></li>
                    <li><a href="#" style="background-color: whitesmoke;color: black">Extractions de données</a></li>                    
                    <li><a href="#">Etiquettes clients (AV)</a></li>

                    {#<li><a href="#">Votre concession (AV)</a></li>
                    <li><a href="#">Vos utilisateurs (AV)</a></li>
                    <li><a href="#">Modifier votre profil(AV)</a></li>
                    #}<li><a href="{{path("identification")}}" style="border :1px dashed #fff; background-color: grey">Deconnexion</a></li>

                </ul>
            <span id="topBarUp"><i class="fas fa-chevron-up"></i></span>
            <span id="topBarDown"><i class="fas fa-chevron-down"></i></span>
        </div>

        <div class="global">
            <header>
                <span><a href="{{path("home")}}"></a></span>
                {% block header %}<p>APPLICATION DE MOBILITÉ Groupe Ligier</p>{% endblock %}
            </header>
            <div>
                {% block body %}
                    
                {% endblock %}
            </div>
        </div>

        <!-- <button id="infoStorage">LOCAL STORAGE</button>
        <button id="clearStorage">CLEAR STORAGE</button>
        <button id="synchro">SYNCHRO</button>
        <button id="synchroFichiers">SYNCHRO FICHIERS DE DONNÉES</button> -->
    {#
        <p id="messageGlobal"></p>
    
        <footer>
            <span><i class="fas fa-angle-up"></i></span>
            <ul>
                <li><a href="{{path("client_listing")}}" target="_blank"><i class="fas"><img src="img/pictos/cliprospect.png" width=40 height=40></i> Clients</a></li>
                <li><a href="{{path("prospect_listing")}}" target="_blank"><i class="fas"><img src="img/pictos/cliprospect.png" width=40 height=40></i> Prospects</a></li>
                <li><a href="{{path("agenda")}}" target="_blank"><i class="fas"><img src="img/pictos/agenda.png" width=40 height=40></i> Agenda</a></li>
                <li><a href="{{path("memo_listing")}}" target="_blank"><img src="img/pictos/tache.png"  width=50 height=50></i> Tâches </a></li>
                <li><a href="{{path("devis_listing")}}"><i class="fas"><img src="img/pictos/devis.png"  width=40 height=40></i> Devis</a></li> 
                <li><a href="{{path("smsmail_listing")}}" target="_blank"><i class="fas"><img src="img/pictos/smsmails.png"  width=40 height=40></i></i> Mails - SMS</a></li>
                <li><a href="{{path("vehicule_listing")}}" target="_blank"><i class="fas"><img src="img/pictos/vehicule.png"  width=40 height=40></i> Vehicules</a></li>
            </ul>
        </footer>
    #}

        {% block modal %}{% endblock %}
		

        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-3.2.1.min.js"></script>
       {# <script src="/js/trumbowyg.min.js"></script>#}
        <script src="js/jquery.minicolors.min.js"></script>
        <script src="js/jquery-ui-timepicker-addon.min.js"></script>
        <script src="js/jquery.postitall.js"></script>
        <script src="libs/jquery/dist/jquery.min.js"></script>
        <script src="js/vendor/jquery.dataTables.min.js"></script>
        <script src="js/vendor/jquery-ui.min.js"></script>
        <script src="js/vendor/jquery.sumoselect.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script>
            {#
            {% if user is defined %}
                checkNewUser({code:'{{user.code}}', nom:'{{user.nom}}', prenom:'{{user.prenom}}', site:'{{user.site}}' });
            {% endif %}
            #}
                
        </script>
		{% block extrajs %}{% endblock %}
    </body>
</html>

{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Duobat{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}