<!doctype html>
<html class="no-js" lang="" {# {% if app.session.get('appcache') is defined %}manifest="{{app.session.get('appcache')}}" {% endif %} #}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Duobat{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/duobat.css">
        <link rel="stylesheet" href="/js/vendor/jquery-ui.min.css">
        <link rel="stylesheet" href="/js/vendor/sumoselect.min.css" />
        <link href="/css/fontawesome-all.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/js/vendor/jquery.dataTables.css">

    </head>
    <body>
        <span></span>
        <div id="topBar" class="isDown">
            <div id="clientID"><i class="fas fa-times" title="Annuler la sélection"></i> <a href="{{path('client_edit')}}"><span><i class="fas fa-users"></i> <span>Client</span></a></span></div>
            <ul id="clientTools">
                <li><a href="{{path("commande_listing")}}">Commandes</a></li>
                <li><a href="{{path("devis_listing")}}">Devis</a></li>
                <li><a href="{{path("facture_listing")}}">Factures</a></li>
                <li><a href="{{path("sav_listing")}}">SAV</a></li>
                <li><a href="{{path("stock")}}">Tarifs</a></li>
                <li><a href="{{path("memo_listing")}}">Mémos</a></li>
            </ul>
            <span id="topBarUp"><i class="fas fa-chevron-up"></i></span>
            <span id="topBarDown"><i class="fas fa-chevron-down"></i></span>
        </div>


        <div class="global">
            <header>
                <span><a href="{{path("home")}}"></a></span>
                {% block header %}<p>APPLICATION DE MOBILITÉ DUOBAT</p>{% endblock %}
            </header>
            <div class="main">
                {% block body %}
                    
                {% endblock %}
            </div>
        </div>

        <!-- <button id="infoStorage">LOCAL STORAGE</button>
        <button id="clearStorage">CLEAR STORAGE</button>
        <button id="synchro">SYNCHRO</button>
        <button id="synchroFichiers">SYNCHRO FICHIERS DE DONNÉES</button> -->

        <p id="messageGlobal"></p>

        <footer>
            <span><i class="fas fa-angle-up"></i></span>
            <ul>
                <li><a href="{{path("client_listing")}}"><i class="fas fa-users"></i> Clients</a></li>
                <li><a href="{{path("prospect_listing")}}"><i class="fas fa-handshake"></i> Prospects</a></li>
                <li><a href="{{path("agenda")}}"><i class="fas fa-calendar-alt"></i> Agenda</a></li>
                <li><a href="{{path("stock")}}"><i class="fas fa-archive"></i> Stocks</a></li>
                <li><a href="{{path("memo_listing")}}"><i class="fas fa-clipboard"></i> Mémos</a></li>
                <li><a href=""><i class="fas fa-chart-area"></i> Stats</a></li>
                <li><a href="{{path("devis_listing")}}"><i class="fas fa-calculator"></i> Devis</a></li>
                <li><a href=""><i class="fas fa-cogs"></i> Duobat</a></li>
                <li><a href=""><i class="fas fa-envelope"></i> Mails</a></li>
                <li><a href="{{path("sav_listing")}}"><i class="fas fa-wrench"></i> SAV</a></li>
            </ul>
        </footer>

        {% block modal %}{% endblock %}
		

        <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/js/vendor/jquery-3.2.1.min.js"></script>

        <script src="/js/vendor/jquery.dataTables.min.js"></script>
        <script src="/js/vendor/jquery-ui.min.js"></script>
        <script src="/js/vendor/jquery.sumoselect.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script>
            {% if user is defined %}
                checkNewUser({code:'{{user.code}}', nom:'{{user.nom}}', prenom:'{{user.prenom}}', site:'{{user.site}}' });
            {% endif %}
        </script>
		{% block extrajs %}{% endblock %}
    </body>
</html>

{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Duobat{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}