{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %}Page d'administration{% endblock %}</title> 
<H1><center>Page d'administration</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>   
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
<link href="../css/fontawesome-all.css" rel="stylesheet">


{% endblock %}


{% block body %}
   


                
<div class="fiche">
	<form id="ficheClient">
            <section>
                
			<h2>Fiche distributeur</h2>
               
			<div>
				<div class="half">
                                    <div class="row">
                                        <div>Nom Distributeur </div>
                                        
                                        <div>
							<input type="text" id="nom" value = "{{distributeur.nom}}"></input>
                                        </div>
                                    </div>	
                                    
                                    <div class="row">
						<div>Adresse 1</div>
						<div>
							<input type="text" id="adresse1" value = "{{distributeur.adresse1}}"></input>
						</div>
                                    </div>
                                    <div class="row">
						<div>Adresse 2</div>
						<div>
							<input type="text" id="adresse2" value = "{{distributeur.adresse2}}"></input>
						</div>
                                    </div>
                                    <div class="row">
						<div>Code Postal</div>
						<div>
                                                        <input list="codepostaux" type="text" id="choix_codepostaux">
                                                        <datalist id ="codepostaux" value="{{distributeur.codepostal}}" onchange="document.getElementById('ville').value=this.options[selectedIndex].value;">

                                                                   {% for codepostaux in codepostaux %}
                                                                        <option value="{{codepostaux.codepostal}}"> {{codepostaux.ville}}  </option>
                                                                    {% endfor%}


                                                        </datalist>
						</div>
                                    </div>
                                    <div class="row">
						<div>Ville</div>
						<div>
							<input type="text" id="ville" value = "{{distributeur.ville}}"></input>
						</div>
                                    </div>
                                    <div class="row">
						<div>telephone</div>
						<div>
							<input type="text" id="telephone" value = "{{distributeur.telephone}}"></input>
						</div>
                                    </div>
                                    <div class="row">
						<div>Email</div>
						<div>
							<input type="text" id="email" value = "{{distributeur.email}}"></input>
						</div>
                                    </div>
                                                
                                </div>
                         
                </section>

    </form>

<div style="padding-left:15%">
<button class="bouton boutoncli" onclick="openPage('agences', this, '#26526f')" id="defaultOpen">Agences</button>
<button class="bouton boutoncli" onclick="openPage('users', this, '#26526f')">Utilisateurs</button>
<button class="bouton boutoncli" onclick="openPage('profils', this, '#26526f')">Gestion des profils</button>
<button class="bouton boutoncli" onclick="openPage('profilsfonction', this, '#26526f')">Gestion des fonctions par profils</button>

</div>

<div id="agences" class="tabcontent">
   <section>
        <h2>Agences</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>    
                <th>telephone</th>
                <th>email</th>
                
            </tr>
            </thead>
            <tbody>
            {% for agences in agence if agences.iddistributeur == distributeur.id%}
            <tr style="color:black">
                <td><a href="/admin-agence/{{agences.id}}">{{agences.nom}}</a></td>
                <td>{{agences.adresse1}}</td>
                <td>{{agences.codepostal}}</td>
                <td>{{agences.ville}}</td>  
                <td>{{agences.telephone}}</td>
                <td>{{agences.email}}</td>

            </tr>

            {%endfor%}

            </tbody>
        </table>
        
              	
        </section>
</div>

<div id="users" class="tabcontent">
   <section>
        <h2>Utilisateurs</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Agence</th>
                <th>Code</th>    
                <th>Mot de passe</th>
                
            </tr>
            </thead>
            <tbody>
            {% for users in user if users.distributeur_id == distributeur.id%}
            <tr style="color:black">
               
                <td class="nomuser">{{users.nom}}<a href="/admin-users/{{users.id}}">{{users.nom}}</td>
                                                          
                                                                            {#"document.getElementById('Mnom').value=$(this).text();
                                                                            document.getElementById('Mprenom').value=$('td.prenom').closest('tr').children().text();
                                                                            alert ($(this).closest('tr').index()); 
                                                                            openmodaluser();" 
                                                                            #}
                                                                            
                
                <td class="prenomuser">{{users.prenom}}</td>
                <td>{{users.agence_id}}</td>  
                <td>{{users.code}}</td>
                <td>{{users.password}}</td>
            </tr>

            {%endfor%}

            </tbody>
        </table>
        
              	
        </section>
</div>

<div id="profils" class="tabcontent">
  <section>
       <h2>Profils</h2>
        <table id="listingClients">
            <thead>
            <tr>
                <th></a>Nom</th>
                <th>Distributeur</th>
              
            </tr>
            </thead>
            <tbody>
            {% for profils in profil if profils.iddistributeur == distributeur.id%}
            <tr style="color:black">
               
                <td><a href="/admin-profil/{{profils.id}}">{{profils.nom}}</a></td>
                <td>{{profils.iddistributeur}}</td>
               

            </tr>

            {%endfor%}

            </tbody>
        </table>
        
              	
  </section>
</div>
<div id="profilsfonction" class="tabcontent">
  <section>
       <h2>Fonctions par Profils</h2>
        <table id="listingClients">
            <thead>
            <tr>
                <th>Nom</th>
                <th>profil</th>
              
            </tr>
            </thead>
            <tbody>
            {% for profilsfonction in profilfonction %}
            <tr style="color:black">
               
                <td><a href="/admin-profilfct/{{profilsfonction.id}}">{{profilsfonction.nom}}</td>
                
                <td>{{profilsfonction.id_profil}}</th>
               

            </tr>

            {%endfor%}

            </tbody>
        </table>
        
              	
  </section>
</div>

</div>

<div style="text-align:center; padding:10px 0;"><button class="bouton" id="close" onclick="closemodaluser();"><i class="fas fa-close"></i> Fermer</button>

</div>
            
{%endblock%}


{% block extrajs %}
<script>
    
    //document.getElementById("MUnom").value =//attribtion d'une valeur a un champs du modal
    //bouton evenement click -> $('#modifier').click(function() 
function OnclickEdit($nom) 
{

  alert($nom);  

}

</script>
<script>
    
function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>

<script>
function openmodaluser()
{
        //e.preventDefault();        
    openModal("modal_user");
        //closeModal('cgv');
    
}
function closemodaluser()
{
        //e.preventDefault();
    closeModal("user");
        //closeModal('cgv');
    
}

function passageval($nomuser)
{
    var nom = $nomuser;
    alert(nom);
    openmodaluser();
 
}
</script>


{% endblock %}