{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %}Fiche utilisateur {{user.nom}}{% endblock %}</title> 
<H1><center>Fiche utilisateur {{user.nom}}</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>        
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
{% endblock %}


{% block body %}
<div  class="fiche">


        <section>
            <form id ="ficheClient">
                <h2>Modification de l'utilisateur </h2>
                <div  class="half">

                    <div class="row">

                        Nom <input id="nom" value ="{{user.nom}}"> </input>
                    </div>
                    <div class="row">
                        Prenom <input id="prenom" value ="{{user.prenom}}"> </input>
                    </div>
                </div>
                <div  class="half">
                    <div class="row">
                        Code d'accès <input id="code" value ="{{user.code}}"> </input>
                    </div>
                    <div class="row">
                        Mot de passe <input id="password" value ="{{user.password}}"> </input>
                    </div>
                </div>
                <div  class="half">
                    <div class="row">
                        Distributeur 
                        
                        <select value="{{user.distributeur_id}}">
                            
                                   {% for distris in distributeur %}
                                        <option value={{distris.id}}> {{distris.nom}}  </option>
                                    {% endfor%}
                              
                            
                        </select>
                    </div>
                    <div class="row">
                        Agence 
                        <select value="{{user.agence_id}}">
                            
                                   {% for agences in agence %}
                                        <option value={{agences.id}}> {{agences.nom}}  </option>
                                    {% endfor%}
                              
                            
                        </select>
                    </div>
                </div>
                <div  class="half">
                    <div class="row">
                        Profil 
                        
                        <select value="{{user.profil_id}}">
                            
                                   {% for profils in profil %}
                                        <option value={{profils.id}}> {{profils.nom}}  </option>
                                    {% endfor%}
                              
                            
                        </select>
                    </div>

                        <div style="text-align:center; padding:10px 0;"><button class="bouton" id="close" onclick="closemodaluser();"><i class="fas fa-close"></i> Fermer</button>

                    </div>	
                </div>      
            </form>
        </section>



</div>
{%endblock %}


{% block extrajs %}
    <script>
            openModal("modal_user");

    </script>

{% endblock %}