{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %}Fiche profil {{profil.nom}}{% endblock %}</title> 
<H1><center>Fiche profil {{profil.nom}}</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>        

{% endblock %}


{% block body %}
<div  class="fiche">


        <section>
            <form id ="ficheClient">
                <h2>Modification de profil </h2>
                 
                <div  class="half">

                    <div class="row">

                        Nom <input id="nom" value ="{{profil.nom}}"> </input>
                    </div>
                    
                </div>
                
            </form>
                    </div>

                        <div style="text-align:center; padding:10px 0;"><button class="bouton" id="close" onclick="closemodaluser();"><i class="fas fa-close"></i> Fermer</button>

                    </div>
        </section>



</div>
{%endblock %}


{% block extrajs %}
    

{% endblock %}