{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %}Fiche agence {{agence.nom}}{% endblock %}</title> 
<H1><center>Fiche agence {{agence.nom}}</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>        

{% endblock %}


{% block body %}
<div  class="fiche">


        <section>
            <form id ="ficheClient">
                <h2>Modification de l'agence </h2>
                <div  class="half">
                    <div class="row">
                        telephone <input id="telephone" value ="{{agence.telephone}}"> </input>
                    </div>
                    <div class="row">
                        Email <input id="codepostal" value ="{{agence.email}}"> </input>
                    </div>
                        
                </div>      
                <div  class="half">

                    <div class="row">

                        Nom <input id="nom" value ="{{agence.nom}}"> </input>
                    </div>
                    <div class="row">
                        Adresse 1 <input id="adresse1" value ="{{agence.adresse1}}"> </input>
                    </div>
                </div>
                <div  class="half">
                    <div class="row">
                        Adresse 2 <input id="adresse2" value ="{{agence.adresse2}}"> </input>
                    </div>
                    <div class="row">
                        Code postal 
                        <input list="codepostaux" type="text" id="choix_codepostaux">
                        <datalist id ="codepostaux" value="{{agence.codepostal}}">
                            
                                   {% for codepostaux in codepostaux %}
                                        <option value="{{codepostaux.codepostal}}"> {{codepostaux.ville}}  </option>
                                    {% endfor%}
                              
                            
                        </datalist>
                    </div>
                </div>
                <div  class="half">
                    <div class="row">
                        Ville <input id="adresse2" value ="{{agence.ville}}"> </input>
                    </div>
                    <div class="row">
                        GPS - Latitude <input id="codepostal" value ="{{agence.latitude}}"> </input>
                    </div>
                    <div class="row">
                        GPS - Longitude <input id="codepostal" value ="{{agence.longitude}}"> </input>
                    </div>
                </div>      
                    <div  class="half">
                    <div class="row">
                        Commentaires <textarea id="commentaire" value ="{{agence.commentaires}}"> </textarea>
                    </div>
                    
                </div>      
            </form>
                    </div>

                        <div style="text-align:center; padding:10px 0;"><button class="bouton" id="close" onclick="closemodaluser();"><i class="fas fa-close"></i> Fermer</button>

                    </div>
        </section>



</div>
{%endblock %}


{% block extrajs %}
    

{% endblock %}