{% extends 'front/_base.html.twig' %}


{% block body %}
<div class="calendarConteneur">
    <div id="calendar"></div>
</div>
{% endblock %}



{% block modal %}
    <span id="modalBg"></span>

    <div class="modal" id="addEvent">
        <form id="formAddEvent">
            <section>
                <h2>Ajouter un évènement</h2>
                <div>                   
                    <div class="row">
                        <div>Date </div>
                        <div>
                            <input type="text" name="modal_add_date" disabled />
                        </div>
                    </div>  
                </div>


                <div class="row buttonsrow">
                    <input type="button" class="bouton boutoncancel" value="Annuler" />
                </div>
            </section>
        </form>
    </div>  
{% endblock %}



{% block extrajs %}
    <link rel='stylesheet' href='/js/vendor/fullcalendar/fullcalendar.min.css' />
    <script src="/js/vendor/fullcalendar/moment.min.js"></script>
    <script src="/js/vendor/fullcalendar/fullcalendar.min.js">
    </script><script src='/js/vendor/fullcalendar/fr.js'></script>
	<script>
        var clickDate; 

        $(document).ready(function() {
            $('#calendar').fullCalendar({
                firstDay: 1,
                locale: 'fr',
                aspectRatio: 2,
                dayClick: function(date, jsEvent, view) {
                    clickDate = date.format("DD-MM-YYYY");
                    $('input[name=modal_add_date]').val(clickDate);
                    openModal('addEvent');
                    $(this).css('background-color', 'red');
                }
            });
        });
	</script>
{% endblock %}