{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %}Fiche client : {{clients.raisonsociale}}{% endblock %}</title> 
<H1><center>{{clients.raisonsociale}}</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>        
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
<link href="../css/fontawesome-all.css" rel="stylesheet">

{% endblock %}


{% block body %}
   

<div style="padding-left: 15%">
    

    <span class="bouton boutoncomm" onClick=""><i class="fas fa-mobile-alt"></i> Envoyer un SMS</span>
    <span class="bouton boutoncomm" onClick=""><i class="fas fa-envelope"></i> Envoyer un Email</span>
   {# <span class="bouton boutonexport" onclick=""><i class="fas fa-file-excel"></i> Exporter vers Excel</span>
    <span class="bouton boutongeoloc" onClick=""><i class="fas fa-map-marker-alt"></i> Geolocaliser</span>
   #} <span class="bouton boutonDelCli" onClick=""><i class="fas fa-trash-alt"></i> Supprimer le client</span>
    {#<span> <div class="row" style="padding-left: 50px">Dernier contact <input type="text" name="last contact" />N jours (A venir)</div></span>
    #}
    
</div>	 
    
                
<div class="fiche">
	<form id="ficheClient">
            <section>
			<h2>Identité</h2>
               
			<div>
				<div class="half">
                                    <div class="row">
						<div>Type </div>
                                        
                                        <input type="radio" name="type" value="1" checked > Client </input>
                                        <input type="radio" name="type" value="2" > Prospect</input>
                                        
                                    </div>	
                                    <div class="row">
						<div>Adresse 1</div>
						<div>
							<input type="text" id="adresse1" value="{{clients.adresse1}}"></input>
						</div>
                                    </div>
                                </div>
                                <div class="half">
                                    <div class="row">
                                        <div>Civilité</div>
                                        
                                        <input type="radio" name="civilite" value="1" checked > Monsieur</input>
                                        <input type="radio" name="civilite" value="2" > Mademoiselle</input>
                                        <input type="radio" name="civilite" value="3" > Madame</input>
                                    </div>
                                    <div class="row">
						<div>Adresse 2</div>
						<div>
							<input type="text" id="adresse2"  value="{{clients.adresse2}}"></input>
						</div>
                                    </div>    
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Nom/Raison sociale</div>
						<div>
							<input type="text" id="raisonsociale" value="{{clients.raisonsociale}}"></input>
						</div>
                                    </div>	
                                    <div class="row">
						<div>Adresse 3</div>
						<div>
							<input type="text" id="adresse3" value="{{clients.adresse3}}"></input>
						</div>
                                    </div>    
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Prénom</div>
						<div>
							<input type="text" id="prenom" value="{{clients.prenom}}"></input>
						</div>
                                    </div>	
                                    <div class="row">
						<div>Code postal</div>
						<div>
							<input type="text" id="codepostal" value="{{clients.code_postal}}"></input>
						</div>
                                    </div>    
                                </div>
                                <div class="half">

                                    <div class="row">
						<div>Code</div>
						<div>
							<input type="text" name="code" disabled>
						</div>
                                    </div>
                                    <div class="row">
						<div>Ville</div>
						<div>
                                                    <input type="text" id="ville" value="{{clients.ville}}"></input>
						</div>
                                    </div>	
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Téléphone</div>
						<div>
							<input type="text" id="telephone" value="{{clients.telephone}}"/>
						</div>
                                    </div>
                                    <div class="row">
						<div>Etat </div>
                                        
                                        <input type="radio" name="statut_client" value="1" checked > Actif </input>
                                        <input type="radio" name="statut_client" value="2" > Inactif </input>
                                        
                                    </div>
                                </div>    
                                <div class="half">
                                    <div class="row">
						<div>Portable</div>
						<div>
							<input type="text" id="portable" value="{{clients.portable}}"/>
						</div>
                                    </div>        
                                    <div class="row">
						<div>Représentant</div>
						<div id="representant"></div>
                                    </div>       
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Email</div>
						<div>
							<input type="text" id="email" value="{{clients.email}}" />
						</div>
                                    </div>    
                                    <div class="row">
						<div>Dernier contact</div>
						<div>
							<input type="text" class="numberDot" name="modal_adresse_email" /> jours
						</div>
                                    </div>
                                </div>    
                        <div class="half">

                        
                            <div div class="row"><b>RGPD</b> - Actions commerciales
					<input type="checkbox" name="envoi_email" value="2" />Sms
					<input type="checkbox" name="envoi_sms" value="2" />Email
                                    </div>
                    
                            </div>
					
                                        
                            </div>
                                  
                           
                </section>

    </form>

<div style="padding-left:15%">
<button class="bouton boutoncli" onclick="openPage('General', this, '#26526f')"  id="defaultOpen">Informations générales</button>
<button class="bouton boutoncli" onclick="openPage('News', this, '#26526f')">Informations financières</button>
<button class="bouton boutoncli" onclick="openPage('Contact', this, '#26526f')">Informations juridiques</button>
<button class="bouton boutoncli" onclick="openPage('About', this, '#26526f')">Véhicules possédés</button>
<button class="bouton boutoncli" onclick="openPage('Sales', this, '#26526f')">Activité commerciale</button>
<button class="bouton boutoncli" onclick="openPage('Geoloc', this, '#26526f')">Géolocalisation</button>
</div>
<div id="General" class="tabcontent">
  <section>
        <h2>Vie privée</h2>
         <div class="row">

						
                    <div class="row">
                        <div>Situation familiale</div>

                            <input type="radio" name="situation_familiale" value="1" checked > Célibataire</input>
                            <input type="radio" name="situation_familiale" value="2" > Marié(e)</input>
                            <input type="radio" name="situation_familiale" value="3" > Divorcé(e)</input>
                            <input type="radio" name="situation_familiale" value="4" > Veuf(ve)</input>

                        </div>
                
            </div>	
            <div class="row">
		<div>Logement</div>
                        <input type="radio" name="logement" value="1" checked > Locataire</input>
                        <input type="radio" name="logement" value="2" > Propriétaire</input>  
                        
            </div>	
            <div class="row">
		<div>Hebergement</div>
                        <input type="checkbox" name="hebergement" value="1" checked > Appartement</input>
                        <input type="checkbox" name="hebergement" value="2" > Maison</input>  
            </div>	
                            
					
            <div class="row">
		<div>Mode transport</div>
                        <input type="checkbox" name="mode_transport" value="1" checked > Transports en commun</input>
                        <input type="checkbox" name="mode_transport" value="2" > Co-voiturage</input> 
                        <input type="checkbox" name="mode_transport" value="3" > Vélo</input>
                        <input type="checkbox" name="mode_transport" value="4" > Moto</input>
                        <input type="checkbox" name="mode_transport" value="5" > Voiture</input>                        
                        
            </div>	
            <div class="half">
                <div class="row">
                <div>Curatelle/Tutelle</div>
                        <input type="radio" name="curatelle_tutelle" value="0" > Oui </input>                        
                        <input type="radio" name="curatelle_tutelle" value="1" checked> Non </input>                        
                </div>    
            </div>
            
            </section>
            <section>
            <div class="half">
                        <div class="row">
                            <div>Loisirs</div>
                                <div>
                                    <input type="text" name="loisirs"></input>
                                </div>
                        </div>	
                        <div class="row">

                                <div>Noctambule</div>
                                <div>
                                    <input type="radio" name="noctambule" value="0" > Oui </input> 
                                    <input type="radio" name="noctambule" value="1" checked> Non </input>                        

                                </div>
                        </div>
            </div>
            <div class="half">
                        <div class="row">
                                <div>Compte Twitter</div>
                                <div>
                                    <input type="text" name="compte_twitter"></input>
                                </div>
                        </div>	
                        <div class="row">
                                <div>Compte Facebook</div>
                                <div>
                                    <input type="text" name="compte_facebook"></input>
                                </div>
                        </div>
                        <div class="row">
                                <div>Compte Google +</div>
                                <div>
                                    <input type="text" name="compte_google"></input>

                                </div>
                        </div>
            </div>
                                        
                                          
	
		
            </section>
  
</div>

<div id="News" class="tabcontent">
   <section>
        <h2>Informations financières</h2>

               <div class="half">
					
                                    <div class="row">
						<div>Csp</div>
						<div>
                                                    <input type="text" name="csp"></input>
						</div>
					</div>	
                            </div> 
                            <div class="half">
					<div class="row">
						<div>Type revenu</div>
						<div>
                                                    <input type="radio" name="type_revenu" value="1" checked > Salarié</input>
                                                    <input type="radio" name="type_revenu" value="2" > Non salarié</input> 
                                                    <input type="radio" name="type_revenu" value="3" > Commercant</input>
                                                    <input type="radio" name="type_revenu" value="4" > Profession libérale</input>
                                                    <input type="radio" name="type_revenu" value="5" > Demandeur d'emploi</input>

                                                    
						</div>
					</div>	
                                    <div class="row">
						<div>Tranche revenu (Annuel)</div>
                                                <div>
							<select name="tranche_revenu">
								<option value="1">0 à 10000 euros</option>
								<option value="2">10000 à 30000 euros</option>
								<option value="3">30000 à 50000 euros</option>
								<option value="4">+50000 euros</option>
							</select>
						</div>
					</div>	
                                
                            </div> 
                               <div class="row">
						<div>Taux endettement</div>
						<div>
                                                    <input type="number" step="0.01" name="taux_endettement"></input> %
						</div>
					</div>	
                    
                                            
<div class="row buttonsSave">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
        </section>
</div>

<div id="Contact" class="tabcontent">
   <section>
                                <h2>Informations juridiques</h2>

            
                                        <div class="row">
					<div>Franco</div>
					<div>
						<input type="text" name="franco" />
					</div>
				</div>

				<div class="row">
					<div>N° SIRET</div>
					<div>
						<input type="text" name="siret" />
					</div>
				</div>

				<div class="row">
					<div>Code NAF</div>
					<div>
						<input type="text" name="naf" />
					</div>
				</div>

				<div class="row">
					<div>Code TVA</div>
					<div>
						<input type="text" name="tva" />
					</div>
				</div>

				<div class="row">
					<div>IBAN</div>
					<div>
						<input type="text" name="iban" />
					</div>
				</div>

				<div class="row">
					<div>BIC</div>
					<div>
						<input type="text" name="bic" />
					</div>
				</div>

				<div class="row">
					<div>Condition paiement</div>
					<div>
						<select name="condition_id" id="listConditions">
								
						</select>
					</div>
				</div>
            <div class="row buttonsSave">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
            
        </section>
</div>

<div id="About" class="tabcontent">
  <section>
       <h2>Véhicules</h2>
        <table id="listingClients">
        <thead>
        <tr>
            <th>No_serie</th>
            <th>Nom client</th>
            <th>Immatriculation</th>
            <th>Couleur</th>  
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculeclient in vehicule %}
        <tr style="color:black">
            <td style="text-align:right;"><a href="/vehicule-fiche/{{vehiculeclient.id}}">{{vehiculeclient.no_serie}}</td></a>
            <td>{{vehiculeclient.nom_client}}</th>
            <td>{{vehiculeclient.immat}}</th>
            <td>{{vehiculeclient.couleur}}</th> 
            <td style="background:green;">Remise en Dispo Parc <i class="fa fa-arrow-circle-right"></i></td>
        </tr>

        {%endfor%}

    </tbody>
      <div class = "actionscli">
             <span class="bouton boutoncomm" onClick=""><i class="fas fa-car"></i> Proposer un autre véhicule du parc </span>

        </div>    
</table>
  </section>
</div>
<div id="Sales" class="tabcontent">
  <section id ="sales">
       <h2>Taches/Démarches/Propositions en cours de traitement</h2>
        <table id="listingClients">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Date</th>
            <th>Nb jours</th>
            <th>Etape</th>
            <th>Description</th>
            <th>Etat</th>            
            <th>Transformer/Etat</th>
        </tr>
    </thead>
    <tbody>
        {% for memos in memo %}
        <tr style="color:black">
            <td style="text-align:right;"><a href="/tache-client/{{memos.id}}">{{memos.id}}</td></a>
            <td>{{memos.datecreation |date("m/d/Y")}}</td>
            <script  type="text/javascript">
                var today = new Date();
                var olday = new Date("{{memos.datecreation |date("m/d/Y")}}");
   
                today = today.getTime() / 86400000;
                olday = olday.getTime() / 86400000;
                var total = Number(today - olday).toFixed(0);
                document.write("<td> "+total +"</td>");
                
            </script>
            
            {% if memos.etape == "TA" %} 
                   <td style="background:whitesmoke">Tache</td>
            {% elseif memos.etape == "DE" %} 
                   <td style="background:white">Démarche</td>
            {% endif %}
            <td>{{memos.contenu}}</td>
            {% if memos.etat == 2 %} 
                   <td style="background:greenyellow"><i class="fas fa-check-circle"></i> Réalisé</td>
            {% elseif memos.etat == 1 %} 
                   <td style="background:red;text-decoration:blink"><i class="fas fa-tasks"></i> A faire</td>
            {% endif %}
            
            {% if memos.etape == 1 %} 
                   <td><i class="fas fa-check-circle"></i> Tranformer en démarche</td>
            {% elseif memos.etape == "DE" %} 
                   <td><i class="fas fa-file-invoice-dollar"></i> Transformer en devis</td>
            {% endif %}
            
        </tr>

        {%endfor%}

        {% for devis in devis if devis.statut == 1%}
        <tr style="color:black">
            <td style="text-align:right;"><a href="/vehicule-fiche/{{devis.id}}">{{devis.id}}</td></a>
            <td> {{devis.date|date("m/d/Y")}} </td>
            <script  type="text/javascript">
                var today = new Date();
                var olday = new Date("{{devis.date |date("m/d/Y")}}");
   
                today = today.getTime() / 86400000;
                olday = olday.getTime() / 86400000;
                var total = Number(today - olday).toFixed(0);
                document.write("<td> "+total +"</td>");
                
            </script>
            <td>Proposition</td>
            <td>{{devis.observations}}</td>
            {% if devis.etat == 2 %} 
                   <td style="background:greenyellow"><i class="fas fa-check-circle"></i> Réalisé</td>
            {% elseif devis.etat == 1 %} 
                   <td style="background:red"><i class="fas fa-tasks"></i> A faire</td>
            {% endif %}
            
            {% if devis.statut == 1 %} 
                   <td><i class="fas fa-check-circle"></i> En attente de réponse </td>
            {% elseif devis.statut == 2 %} 
                   <td><i class="fas fa-file-invoice-dollar"></i> gagné </td>
            {% elseif devis.statut == 3 %} 
                   <td><i class="fas fa-file-invoice-dollar"></i> perdu </td>
                   
            {% endif %}
            
        </tr>

        {%endfor%}

    </tbody>
        <div class = "actionscli">
             <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Creer tâche comm. </span>
             <span class="bouton boutoncomm" onClick=""><i class="fas fa-history"></i> Historique commercial </span>

        </div>    
    </table>
       
</section>

</div>

        
<div id="Geoloc" class="tabcontent">
  <section>
                <h2>Géolocalisation{{clients.latitude}} et {{clients.longitude}}</h2>
                <input type="hidden" id = "latitude" value={{clients.latitude}}></input>
                <input type="hidden" id = "longitude" value={{clients.longitude}}></input>


                <style>
                       /* Set the size of the div element that contains the map */
                      #map {
                        height: 400px;  /* The height is 400 pixels */
                        width: 100%;  /* The width is the width of the web page */
                       }
                </style>
                    <!--The div element for the map -->
                    <script>


    
                    </script>
                    <div id="map"></div>
                    
                    
                    
                    
                    
                 <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAroK8V4ITvez_OtFm6diJr71UXifdohbk&callback=initMap">
                </script>
                
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                        
                    
                 
                
                
                    
                 
                    <!-- document.write('ESSAI');//-->
                
      
  </section>
</div>
<div class="row buttonsSave">
        <input type="submit" class="bouton boutonsave" value="Enregistrer" />		
</div>
      
<script>
    
function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>

{%endblock%}

{% block extrajs %}
    
    <script>
    
    

   
    
    </script>
	<script>
                //recup infos marker googleMap
                var raisonsociale = document.getElementById("raisonsociale").value;
                var adresse1 = document.getElementById("adresse1").value;
                var adresse2 = document.getElementById("adresse2").value;
                var adresse3 = document.getElementById("adresse3").value;
                var codepostal = document.getElementById("codepostal").value;
                var ville = document.getElementById("ville").value;
                var telephone = document.getElementById("telephone").value;
                var portable = document.getElementById("portable").value;
                var email = document.getElementById("email").value;
		
                function initMap() 
                {
              
                      
                 //alert("latitude :"+$lat+" Longitude : "+$lng);
                 //$test2 = "le test de passage";
                  // The location of Uluru
                //  var uluru = {lat: $lng , lng: $lat};           
                alert("ddd");
                  var uluru = {lat: parseFloat(document.getElementById('longitude').value),lng: parseFloat(document.getElementById('latitude').value)};
                  //var uluru = $test;
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 15, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({
                      position: uluru, 
                      map: map, 
                      title: raisonsociale,
                      icon: new google.maps.MarkerImage('../img/pictos/vehicule_marker.png')
  
                    });
                    
                   var infoWindowOptions = {
                        content: '<h3>Informations détaillées</h3><br>'
                            + '<p>'+raisonsociale+'</p>'
                            + '<p>'+adresse1+'</p>'
                            + '<p>'+adresse2+'</p>'
                            + '<p>'+adresse3+'</p>'
                            + '<p>'+codepostal+' '+ville+'</p><br>'
                            + '<p>Téléphone fixe : '+telephone+'</p>'
                            + '<p>Téléphone mobile : '+portable+' <i class="fas fa-mobile-alt"></i></p>'
                            + '<p>Email : '+email+' <i class="fas fa-envelope"></i></p>'

                    };

                    var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker);
                    });
                }
 
        
        </script>
   
        
                
        {% endblock %}