{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas"><img src="img/pictos/cliprospect.png"></i> Clients <span id="nbClient"></span></p>                    
{% endblock %}


{% block body %}

<button id="nvProspect" class="bouton boutonNvDevis" onclick="changeStorageAndGo(['currentProspect',''], 'prospect');"><i class="fas fa-plus"></i> Ouverture de compte client</button>


<div class="row buttonsrow">

    <span class="bouton boutoncomm" onClick=""><i class="fas fa-mobile-alt"></i> Envoyer un SMS</span>
    <span class="bouton boutoncomm" onClick=""><i class="fas fa-envelope"></i> Envoyer un Email</span>
    <span class="bouton boutonexport" onClick=""><i class="fas fa-file-excel"></i> Exporter vers Excel</span>
    <span class="bouton boutongeoloc" onClick=""><i class="fas fa-map-marker-alt"></i> Geolocaliser</span>
  {#  <span class="bouton boutonDelCli" onClick=""><i class="fas fa-trash-alt"></i> Supprimer le client</span>
#}
    
</div>	 

<table id="listingClients" class="display" style="display:none;text-align: left">
    <thead>
        <tr>
            <th>Dernier contact</th>
            <th>Raison sociale</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

  <style>
                       /* Set the size of the div element that contains the map */
                      #map {
                        height: 400px;  /* The height is 400 pixels */
                        width: 100%;  /* The width is the width of the web page */
                       }
                </style>
                  
                    <h3>Géolocalisation de l'adresse client</h3>
                    <!--The div element for the map -->
                    <div id="map"></div>
                    
                    
                    
                    
                    
                    <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAroK8V4ITvez_OtFm6diJr71UXifdohbk&callback=initMap">
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                        
                    
                 
                
                
                    
                 
                    <!-- document.write('ESSAI');//-->
                
                </script>
{% endblock %}


{% block extrajs %}
    
    
    <script>		
            $('document').ready(function() {
            $('#listingClients').hide();
            getJsonData("clients");
		});

        //Affichage du nb de jours dernier contact
        var test = 100;
        //var test = nb+" jours";
        // Affiche les données une fois l'ajax traité
        
        function displayData(tabClient) {
            var liste = "";

            $.each(tabClient, function(index, value) {

                        $lat=           value.latitude;
                        $lng=           value.longitude;
                        $adresse1=      value.adresse1;
                        $adresse2=      value.adresse2;
                        $adresse3=      value.adresse3;
                        $code_postal=   value.code_postal;
                        $ville =        value.ville;
                        $adressetitle=  value.adresse1+", "+value.code_postal+" "+value.ville;
                        $nomprenom =    value.raisonsociale+" "+value.prenom;
                        $telephone =    value.telephone;
                        $portable  =    value.portable;
                        $email     =    value.email;
                        
                        initMap();
        
        
        
                test = (test+1);
                liste+= "<tr>";
                liste+= "<td style=\"text-align:center;\">"+test+" jours</td>";
                liste+= "<td>"+value.raisonsociale+"</td>";
                liste+= "<td><i class=\"fas fa-phone\"></i>"+(value.adresses && value.adresses.length ? value.adresses[0].portable : '')+"</td>";
                liste+= "<td><i class=\"fas fa-envelope\"></i>"+(value.adresses && value.adresses.length ? value.adresses[0].email : '')+"</td>";

                //liste+= "<td>"+(value.contacts && value.contacts.length ? value.contacts[0].nom+" "+value.contacts[0].prenom : '')+"</td>";
                //liste+= "<td>"+(value.adresses && value.adresses.length ? value.adresses[0].postal+" "+value.adresses[0].ville : '')+"</td>";
                liste+= "<td><span class=\"iconBt\" onClick='changeStorageAndGo([\"currentClient\", \""+value.code+"\"], \"client-fiche-vieprivee\");'><i class=\"fas fa-edit\"></i> <i class=\"fas fa-map-marker-alt\"></i></span></td>";
                liste+= "<td><span class=\"iconBt\" onClick='changeStorageAndGo([\"currentVehicule\", \""+value.id+"\"], \"vehicule-fiche\");'><i class=\"fas fa-edit\"></i><i class=\"fas fa-map-marker-alt\"></i></span></td>";

                liste+= "</tr>";
            });


            $('#listingClients').append(liste);

            $('#listingClients').DataTable( {
                "pageLength": 10,
                "lengthChange": false,
                language: {
                    searchPlaceholder: "Rechercher dans la liste",
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                }
            } );

            $('#nbClient').html("("+$('#listingClients tbody tr').length+")");
            $('#listingClients').show();
        }
        
        function initMap() 
                {
                               
                 //alert("latitude :"+$lat+" Longitude : "+$lng);
                 //$test2 = "le test de passage";
                  // The location of Uluru
                  var uluru = {lat: $lng , lng: $lat};
                  //var uluru = $test;
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 15, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({
                      position: uluru, 
                      map: map, 
                      title:$adressetitle,
                      icon: new google.maps.MarkerImage('img/pictos/vehicule_marker.png')
  
                    });
                    
                   var infoWindowOptions = {
                        content: '<h3>Informations détaillées</h3><br>'
                            + '<p>'+$nomprenom+'</p>'
                            + '<p>'+$adresse1+'</p>'
                            + '<p>'+$adresse2+'</p>'
                            + '<p>'+$adresse3+'</p>'
                            + '<p>'+$code_postal+' '+$ville+'</p><br>'
                            + '<p>Téléphone fixe : '+$telephone+'</p>'
                            + '<p>Téléphone mobile : '+$portable+' <i class="fas fa-mobile-alt"></i></p>'
                            + '<p>Email : '+$email+' <i class="fas fa-envelope"></i></p>'

                    };

                    var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker);
                    });
                }
	</script>
{% endblock %}