{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> <span></span></p>                    
{% endblock %}


{% block body %}
<div class="fiche">
	<form id="ficheClient">
		<section>
			<h2>Identité</h2>
			<div>
				<div class="half">
					<div class="row">
						<div>Code</div>
						<div>
							<input type="text" name="code" disabled>
						</div>
					</div>

					<div class="row">
						<div>Représentant</div>
						<div id="representant"></div>
					</div>
				</div>
				

				<div class="half">
					<div class="row">
						<div>Raison sociale</div>
						<div>
							<input type="text" name="raisonsociale">
						</div>
					</div>				
				</div>

				<div class="full margingrey">
					<h3>Adresses</h3>
					<span class="bouton add topright" id="nvAdresse"><i class="fas fa-address-card"></i> Nouvelle adresse</span>
					<div id="adresses">
						
					</div>
				</div>

				<div class="full margingrey">
					<h3>Contacts</h3>
					<span class="bouton add topright" id="nvContact"><i class="fas fa-user-plus"></i> Nouveau contact</span>
					<div id="contacts">
						
					</div>
				</div>
			</div>
		</section>


		<section>
			<h2>Informations</h2>
			<div>
				<div class="row">
					<div>Activité principale</div>
					<div>
						<select name="activite_id" id="listactivite">
						</select>
					</div>
				</div>

				<div class="row">
					<div>Franco</div>
					<div>
						<input type="text" name="franco" />
					</div>
				</div>

				<div class="row">
					<div>N° SIRET</div>
					<div>
						<input type="text" name="siret" />
					</div>
				</div>

				<div class="row">
					<div>Code NAF</div>
					<div>
						<input type="text" name="naf" />
					</div>
				</div>

				<div class="row">
					<div>Code TVA</div>
					<div>
						<input type="text" name="tva" />
					</div>
				</div>

				<div class="row">
					<div>IBAN</div>
					<div>
						<input type="text" name="iban" />
					</div>
				</div>

				<div class="row">
					<div>BIC</div>
					<div>
						<input type="text" name="bic" />
					</div>
				</div>

				<div class="row">
					<div>Condition paiement</div>
					<div>
						<select name="condition_id" id="listConditions">
								
						</select>
					</div>
				</div>
			</div>

		</section>

		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
	</form>
</div>


{% endblock %}



{% block modal %}

	<span id="modalBg"></span>

	<div class="modal" id="editPopupClient">
		<form id="formPopupClient">
			<section>
				<h2>Informations</h2>
				<div>					
					<div class="row">
						<div>En cours</div>
						<div>
							<input type="text" name="modal_popup_encours" />
						</div>
					</div>	

					<div class="row">
						<div>Max</div>
						<div>
							<input type="text" name="modal_popup_max" />
						</div>
					</div>

					<div class="row">
						<div>Retard paiement</div>
						<div>
							<input type="text" name="modal_popup_retardpaiement" />
						</div>
					</div>

					<div class="row" >
						<div>Etat</div>
						<div>
							<span id="etat" style="font-weight:bold;text-transform:uppercase;"></span>
						</div>
					</div>

					<div class="row buttonsrow">
						<input type="button" class="bouton boutonsave" value="OK" id="saveModalPop" />
					</div>

				</div>
			</section>
		</form>
	</div>


	<div class="modal" id="editAdresse">
		<form id="formAdresse">
			<section>
				<h2>Adresse</h2>
				<div>
					<div class="row">
						<div>Code</div>
						<div>
							<input type="text" name="modal_adresse_code" disabled />
						</div>
					</div>

					<div class="row">
						<div>Pays</div>
						<div>
							<select name="modal_adresse_pays">
							</select>
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 1</div>
						<div>
							<input type="text" name="modal_adresse_adresse1" />
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 2</div>
						<div>
							<input type="text" name="modal_adresse_adresse2" />
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 3</div>
						<div>
							<input type="text" name="modal_adresse_adresse3" />
						</div>
					</div>	
					
					<div class="row">
						<div>Code postal</div>
						<div>
							<input type="text" name="modal_adresse_postal" />
						</div>
					</div>	
					
					<div class="row">
						<div>Ville</div>
						<div>
							<input type="text" name="modal_adresse_ville" />
						</div>
					</div>
					
					<div class="row">
						<div>Liv/Chantier</div>
						<div>
							<input type="text" name="modal_adresse_livchantier" />
						</div>
					</div>	
					
					<div class="row">
						<div>Téléphone</div>
						<div>
							<input type="text" class="numberDot" name="modal_adresse_telephone" />
						</div>
					</div>
					
					<div class="row">
						<div>Portable</div>
						<div>
							<input type="text" class="numberDot" name="modal_adresse_portable" />
						</div>
					</div>	
					
					<div class="row">
						<div>Fax</div>
						<div>
							<input type="text" class="numberDot" name="modal_adresse_fax" />
						</div>
					</div>
					
					<div class="row">
						<div>Email</div>
						<div>
							<input type="text" name="modal_adresse_email" />
						</div>
					</div>	


					<div class="row buttonsrow">
						<input type="button" class="bouton" value="Mise à jour" id="saveModalAdr" />
						<input type="button" class="bouton"  value="Retour" id="closeModalAdr" />
					</div>			
				</div>

			</section>
		</form>
	</div>


	<div class="modal" id="editContact">
		<form id="formContact">
			<section>
				<h2>Contact</h2>
				<div>
					<div class="row">
						<div>Civilité</div>
						<div>
							<select name="modal_contact_civilite">
								<option value="1">Monsieur</option>
								<option value="2">Madame</option>
								<option value="3">Mademoiselle</option>
								<option value="4"></option>
							</select>
						</div>
					</div>
					
					<div class="row">
						<div>Nom</div>
						<div>
							<input type="text" name="modal_contact_nom" />
						</div>
					</div>
					
					<div class="row">
						<div>Prénom</div>
						<div>
							<input type="text" name="modal_contact_prenom" />
						</div>
					</div>
					
					<div class="row">
						<div>Adresse</div>
						<div>
							<select name="modal_contact_adresse">
								
							</select>
						</div>
					</div>
					
					<div class="row">
						<div>Fonction</div>
						<div>
							<select name="modal_contact_fonction">

								<option value="12"></option>
							</select>
						</div>
					</div>	
					
					<div class="row">
						<div>Service</div>
						<div>
							<input type="text" name="modal_contact_service" />
						</div>
					</div>	
					
					<div class="row">
						<div>Email</div>
						<div>
							<input type="text" name="modal_contact_email" />
						</div>
					</div>
									
					<div class="row">
						<div>Téléphone</div>
						<div>
							<input type="text" class="numberDot" name="modal_contact_telephone" />
						</div>
					</div>
					
					<div class="row">
						<div>Portable</div>
						<div>
							<input type="text" class="numberDot" name="modal_contact_portable" />
						</div>
					</div>	
					
					<div class="row">
						<div>Fax</div>
						<div>
							<input type="text" class="numberDot" name="modal_contact_fax" />
						</div>
					</div>
					
					<div class="row">
						<div>Contact par défaut</div>
						<div>
							<input type="checkbox" value="1" name="modal_contact_defaut" />
						</div>
					</div>	


					<div class="row buttonsrow">
						<input type="button" class="bouton" value="Mise à jour" id="saveModalCont" />
						<input type="button" class="bouton"  value="Retour" id="closeModalCont" />
					</div>			
				</div>

			</section>
		</form>
	</div>
{% endblock %}



{% block extrajs %}
	<script>
		var currentCodeAdresse = null;
		var currentCodeContact = null;
		var currentClient = null;
		var date = new Date();
		var dataClients;
		$('document').ready(function() {
			currentClient = localStorage.getItem("currentClient");
			getJsonData("clients");
		});


		function displayData(tabClient) {
			dataClients = tabClient;

			// Récupère les données local du client			
			var client = getClientByCode(currentClient, dataClients);
			
			fillForm(client, 'ficheClient');

			// Met à jour le nom de l'entreprise en localStorage
			localStorage.setItem('currentClientRaisonSociale', client.raisonsociale);
			clientShortcuts(); // Affiche la barre d'outil client

			// Met à jour le titre
			$('.global>header>p>span').text(client.raisonsociale);

			// Met à jour l'affichage des adresses et des contacts
			refreshAdresses();
			refreshContacts();
			
			//console.log(client);

			/*=============================================================
			=            Met à jour les listes "select option"            =
			============================================================ */
			var localActivites = JSON.parse(localStorage.getItem('activites'));

			for (var i = 0; i < localActivites.length; i++) {
				var newoption = '<option value="'+localActivites[i][0]+'" '+(client.activite_id==localActivites[i][0]?'selected':'')+'>'+localActivites[i][1]+'</option>';
				$('#listactivite').append(newoption);
				
			}

			var localConditions = JSON.parse(localStorage.getItem('conditionsPaiement'));
			for (var i = 0; i < localConditions.length; i++) {
				var newoption = '<option value="'+localConditions[i][0]+'" '+(client.condition_id==localConditions[i][0]?'selected':'')+'>'+localConditions[i][1]+'</option>';
				$('#listConditions').append(newoption);
				
			}

			var localPays = JSON.parse(localStorage.getItem('pays'));
			for(var codePays in localPays) {
				var newoption = '<option value="'+codePays+'">'+localPays[codePays]+'</option>';
				$('select[name=modal_adresse_pays]').append(newoption);
			}



			var localFonctions = JSON.parse(localStorage.getItem('fonctions'));
			for(var codeFonction in localFonctions) {
				var newoption = '<option value="'+localFonctions[codeFonction][0]+'">'+localFonctions[codeFonction][2]+'</option>';
				$('select[name=modal_contact_fonction]').append(newoption);
			}
			/*=====  End of Met à jour les listes "select option"  ======*/
			
			

			// Nom du représentant
			var commercial = JSON.parse(localStorage.getItem('commercial'));
			$('#representant').text(commercial.prenom + " " + commercial.nom);


			/**
			 *
			 * Modal qui s'affiche au chargement
			 *
			 */
			fillAndOpenModal(client, 'editPopupClient', 'modal_popup_');
			switch (client.blocage) {
				case "1" :
					$('#etat').text("Controlé");
					break;
				case "2" :
					$('#etat').text("Libre");
					break;
				case "3" :
					$('#etat').text("Bloqué");
					break;
			}
			

			$('#saveModalPop').click(function() {
				//var objClient = {};
				var objClient = client;

				// Crée un nouvel objet avec les données saisies
				$('#formPopupClient input[type=text]').each(function(index) {
					$prefix = "modal_popup_";

					objClient[$(this).prop('name').replace($prefix, '')] = $(this).val();
				});

				// Met à jour les données en local
				updateClients(currentClient, objClient);
				saveModalPopup('editPopupClient');
			});


			// Validation de la fiche client
			$('#ficheClient').submit(function(event) {
				var objClient = {};
				// Crée un nouvel objet avec les données saisies
				$('#ficheClient input[type=text]').each(function(index) {
					objClient[$(this).prop('name')] = $(this).val();
				});

				$('#ficheClient select').each(function(index) {
					objClient[$(this).prop('name')] = $(this).val();
				});

				// Met à jour les données en local
				updateClients(currentClient, objClient);
				displayMessage('Fiche client enregistrée');
				event.preventDefault();
			});

			// Modal adresse
			$('#nvAdresse').click(function() {
				currentCodeAdresse = null;
				$('#editAdresse select[name=modal_adresse_pays]').val('FR');
				openModal('editAdresse');
			});

			$('#closeModalAdr').click(function() {
				closeModal('editAdresse');
			});

			$('#saveModalAdr').click(function() {
				addAdresse();
			});


			// Modal Contact
			$('#closeModalCont').click(function() {
				closeModal('editContact');
			});
		}

		/*============================================
		=            GESTION DES ADRESSES            =
		============================================*/		

		function saveModalAdresse(name) {
			closeModal(name);	
		}


		function addAdresse() {
			// Vérifie les données
			var toCheck = {"checkForPhone": [
											"input[name=modal_adresse_telephone]",
											"input[name=modal_adresse_portable]",
											"input[name=modal_adresse_fax]",
											],
							"checkForEmail": [
											"input[name=modal_adresse_email]",
											],

						}

			if(isFormValid(toCheck) === true) {
				// Il n'y a pas d'erreur dans le formulaire

				var client = getClientByCode(currentClient, dataClients);

				var modeleAdresse = {
								"id":"",
								"code":"",
								"pays_id": "", 
								"adresse1": "",
								"adresse2": "",
								"adresse3": "",
								"postal": "",
								"ville": "",
								"livchantier":"",
								"telephone":"",
								"portable":"",
								"fax":"",
								"email":""
								};


				var objAdresse = {};

				var newAdresseID = 1;

				// Si l'object client n'a pas de prop "adresses"
				if(!client.adresses) client.adresses = [];

				// Génère une ID par rapport à celles existantes
				for (var i = 0; i < client.adresses.length; i++) {
					if(client.adresses[i]['id'] !="" && client.adresses[i]['id']>=newAdresseID)
						newAdresseID = client.adresses[i]['id'] + 1;
				}
				objAdresse.id = newAdresseID;


				// Supprime les "."" des numéros de tél 
				$('#formAdresse .numberDot').each(function() {
					phoneFormatRemoveDot($(this));
				});


				$('#formAdresse input[type=text]').each(function(index) {
					objAdresse[$(this).prop('name').replace('modal_adresse_', '')] = $(this).val();
				});

				// Ajoute le pays à l'objet adresse
				objAdresse['pays_code'] = $('#formAdresse select[name=modal_adresse_pays]').val();

				if(!currentCodeAdresse) {//Il n'y a pas d'ID actuelle, il s'agit d'une création
					objAdresse.code = generateNewAdressCode(client.adresses);
					//addObjectToArrayClient(currentClient, "adresses", objAdresse);
					client.adresses.push(objAdresse);
					updateClients(currentClient, client);
					displayMessage('Adresse ajoutée');
				} else {
					// Il y a une ID, c'est une modification
					for (var i = 0; i < client.adresses.length; i++) {
						if(client.adresses[i].code == currentCodeAdresse) {
							// On remplace l'ancienne liste de prop par la nouvelle
							client.adresses[i] = objAdresse;
							updateClients(currentClient, client);
							displayMessage('Adresse modifiée');
						}
					}
				}

				refreshAdresses();

				saveModalAdresse('editAdresse');

				// Supprime les précédents messages
				removeErrorMessageForm('#editAdresse');
			} else {
				// Il y a des erreurs dans le formulaire

				// Supprime les précédents messages
				removeErrorMessageForm('#editAdresse');

				var errors = isFormValid(toCheck);

				// Affiche les erreurs sous les champs concernés
				for (var i = 0; i < errors.length; i++) {
					$(errors[i][0]).addClass('toCheck');
					$(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
				}
			}



		}

		function refreshAdresses() {
			var adresses = getClientByCode(currentClient, dataClients).adresses;
			console.log(adresses);

			$('#adresses').html("");
			if(adresses && adresses.length) {
				$newAdressHTML = "<ul>";
				// Affichage des différentes adresses pour le client
				for (var i = 0; i < adresses.length; i++) {
					$newAdressHTML+= "<li id=\"adresse_"+adresses[i]['code']+"\">";
					$newAdressHTML+= "<p><i class=\"fas fa-address-card\"></i>"+adresses[i]["adresse1"]+" - "+adresses[i]["postal"]+" "+adresses[i]["ville"]+"</p>";
					$newAdressHTML+= '<div>';
					$newAdressHTML+= '<span class="bouton boutonSelect" onClick="editAdresse(\''+adresses[i].code+'\');"><i class="fas fa-edit"></i> Détails</span>';
					$newAdressHTML+= '<span class="bouton boutonDelete" onClick="deleteAdresse(\''+adresses[i].code+'\');"><i class="fas fa-trash"></i> Supprimer</span>';
					$newAdressHTML+= '</div>';
					$newAdressHTML+= "</li>";				
				}
				$newAdressHTML+= "</ul>";

				$('#adresses').html($newAdressHTML);

	 			// Ajout des adresses à la balise <select>
	 			for(var i = 0; i < adresses.length; i++) {
	 				$('select[name=modal_contact_adresse]').append("<option value=\""+adresses[i]["code"]+"\">"+adresses[i]["adresse1"]+" - "+adresses[i]["postal"]+" "+adresses[i]["ville"]+"</option>");
	 			}			
			}


			

		}


		function editAdresse(codeadresse) {
			currentCodeAdresse = codeadresse;

			var adresses = getClientByCode(currentClient, dataClients).adresses;

			for (var i = 0; i < adresses.length; i++) {
				if(adresses[i].code == codeadresse) {
					var prefixInput = "modal_adresse_";
					console.log(adresses[i]);
					for (var key in adresses[i]){
						// Préremplissage des champs
						if($('#editAdresse input[name='+prefixInput+key+']').length)
					    	$('#editAdresse input[name='+prefixInput+key+']').val(adresses[i][key]);
					}
					// Si pas de pays, on sélectionne la France par défaut
					if(!adresses[i].pays) {
						$('#editAdresse select[name=modal_adresse_pays]').val('FR');
					} else {
						$('#editAdresse select[name=modal_adresse_pays]').val(adresses[i].pays);
					}

					openModal("editAdresse");
					break;
				}
			}
	
		}


		function deleteAdresse(codeadresse) {
			if(confirm("Voulez-vous supprimer cette adresse ?")) {
				var client = getClientByCode(currentClient, dataClients);

				for (var i = 0; i < client.adresses.length; i++) {
					if(client.adresses[i].code == codeadresse) {
						client.adresses.splice(i, 1);
						updateClients(currentClient, client);
						break;
					}
				}
				
				refreshAdresses();
			}
		}
				
		/*=====  End of GESTION DES ADRESSES  ======*/





		/*============================================
		=            GESTION DES CONTACTS            =
		============================================*/

		$('#nvContact').click(function() {
			currentCodeContact = null;
			openModal('editContact');
			
		});



		$('#saveModalCont').click(function() {
			addContact();
		});
		

		function editContact(reqCode) {
			currentCodeContact = reqCode;

			var contacts = getClientByCode(currentClient, dataClients).contacts;
			
			for (var i = 0; i < contacts.length; i++) {
				if(contacts[i].code == currentCodeContact) {
					var prefixInput = "modal_contact_";
					
					// Pré-remplissage des champs avant l'ouverture de la modal
					for (var key in contacts[i]){
						if($('#editContact input[name='+prefixInput+key+']').length)
					    	$('#editContact input[name='+prefixInput+key+']').val(contacts[i][key]);

						if($('#editContact select[name='+prefixInput+key+']').length)
					    	$('#editContact select[name='+prefixInput+key+']').val(contacts[i][key]);

						console.log(contacts[i]['defaut']);
					    if(contacts[i]['defaut']=="1") {
					    	$('#editContact [name=modal_contact_defaut]').prop('checked', true);
					    }

					}
					openModal("editContact");
					break;
				}
			}
		}


		function deleteContact(codecontact) {
			if(confirm("Voulez-vous supprimer ce contact ?")) {
				var client = getClientByCode(currentClient, dataClients);

				for (var i = 0; i < client.contacts.length; i++) {
					if(client.contacts[i].code == codecontact) {
						client.contacts.splice(i, 1);
						updateClients(currentClient, client);
						break;
					}
				}
				
				refreshContacts();
			}
		}


		function addContact() {		
			// Vérifie les données
			var toCheck = {"checkForPhone": [
											"input[name=modal_contact_telephone]",
											"input[name=modal_contact_portable]",
											"input[name=modal_contact_fax]",
											],
							"checkForEmail": [
											"input[name=modal_contact_email]",
											],

						}

			if(isFormValid(toCheck) === true) {
				// Il n'y a pas d'erreur dans le formulaire

				var client = getClientByCode(currentClient, dataClients);

				var modeleContact = {
									"civilite": "mr",
									"nom": "", 
									"prenom": "",
									"adresse_id": "",
									"fonction_id": "",
									"service": "",
									"email": "",
									"telephone": "",
									"portable": "", 
									"fax": "",
									"defaut": 0
								};

				var objContact = {};

				var newContactID = 1;

				// Si l'object client n'a pas de prop "contacts"
				if(!client.contacts) client.contacts = [];

				// Génère une ID par rapport à celles existantes
				for (var i = 0; i < client.contacts.length; i++) {
					if(client.contacts[i]['id'] !="" && client.contacts[i]['id']>=newContactID)
						newContactID = client.contacts[i]['id'] + 1;
				}
				objContact.id = newContactID;

				// Supprime les "."" des numéros de tél 
				$('#formContact .numberDot').each(function() {
					phoneFormatRemoveDot($(this));
				});


				// Récupère les données issues des champs text
				$('#formContact input[type=text]').each(function(index) {
					objContact[$(this).prop('name').replace('modal_contact_', '')] = $(this).val();
				});


				// Récupère les données issues des checkbox
				$('#formContact input[type=checkbox]').each(function(index) {
					objContact[$(this).prop('name').replace('modal_contact_', '')] = $(this).val();					
				});

				if($('#formContact input[name=modal_contact_defaut]').is(':checked')) {
					objContact['defaut'] = "1";
				} else {
					objContact['defaut'] = "0";
				}


				// Récupère les données issues des listes déroulantes
				$('#formContact select').each(function(index) {
					objContact[$(this).prop('name').replace('modal_contact_', '')] = $(this).val();
				});




				if(!currentCodeContact) {//Il n'y a pas d'ID actuelle, il s'agit d'une création
					objContact.code = "_CONT_"+date.getFullYear()+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+(date.getDate()<10?'0':'')+date.getDate()+"-"+date.getHours()+date.getMinutes()+date.getSeconds()+"-"+Math.round(Math.random()*100);
					//addObjectToArrayClient(currentClient, "contacts", objContact);
					client.contacts.push(objContact);
					updateClients(currentClient, client);
					displayMessage('Contact créé');
				} else {
					// Il y a une ID, c'est une modification
					for (var i = 0; i < client.contacts.length; i++) {
						if(client.contacts[i].code == currentCodeContact) {

							if(!objContact.code) objContact.code = currentCodeContact;
							// On remplace l'ancienne liste de prop par la nouvelle
							client.contacts[i] = objContact;
							updateClients(currentClient, client);
							displayMessage('Contact modifié');
						}
					}
				}

				refreshContacts();

				closeModal('editContact');

				// Supprime les précédents messages
				removeErrorMessageForm('#editContact');


			} else {
				// Il y a des erreurs dans le formulaire

				// Supprime les précédents messages
				removeErrorMessageForm('#editContact');

				var errors = isFormValid(toCheck);

				// Affiche les erreurs sous les champs concernés
				for (var i = 0; i < errors.length; i++) {
					$(errors[i][0]).addClass('toCheck');
					$(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
				}
			}


		};




		function refreshContacts() {
			var contacts = getClientByCode(currentClient, dataClients).contacts;

			$('#contacts').html("");	
			if(contacts && contacts.length) {
				$newContactHTML = "<ul>";
				for (var i = 0; i < contacts.length; i++) {

					$newContactHTML+= "<li>";
					$newContactHTML+= "<p><i class=\"fas fa-user\"></i>"+contacts[i]["nom"].toUpperCase()+" "+contacts[i]["prenom"] +" <span>"+ (contacts[i]["telephone"]!='' ? " - "+contacts[i]["telephone"]:"") + (contacts[i]["email"]!='' ? " - "+contacts[i]["email"]:"")+"</span></p>";
					$newContactHTML+= '<div>';
					$newContactHTML+= '<span class="bouton boutonSelect" onClick="editContact(\''+contacts[i].code+'\');"><i class="fas fa-edit"></i> Détails</span>';
					$newContactHTML+= '<span class="bouton boutonDelete" onClick="deleteContact(\''+contacts[i].code+'\');"><i class="fas fa-trash"></i> Supprimer</span>';
					$newContactHTML+= '</div>';
					$newContactHTML+= "</li>";				
				}
				$newContactHTML+= "</ul>";

				$('#contacts').html($newContactHTML);				
			}


		}
		
		/*=====  End of GESTION DES CONTACTS  ======*/
		



	</script>
{% endblock %}