{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> <span></span></p>                    
{% endblock %}


{% block body %}
 
<div style="padding-left: 15%">
    
    <span class="bouton boutoncomm" onClick=""><i class="fas fa-mobile-alt"></i> Envoyer un SMS</span>
    <span class="bouton boutoncomm" onClick=""><i class="fas fa-envelope"></i> Envoyer un Email</span>
    <span class="bouton boutonexport" onClick=""><i class="fas fa-file-excel"></i> Exporter vers Excel</span>
    <span class="bouton boutongeoloc" onClick=""><i class="fas fa-map-marker-alt"></i> Geolocaliser</span>
    <span class="bouton boutonDelCli" onClick=""><i class="fas fa-trash-alt"></i> Supprimer le client</span>

    
</div>	 
                
<div class="fiche">
	<form id="ficheClient">
            <section>
			<h2>Identité</h2>
               
			<div>
				<div class="half">
                                    <div class="row">
						<div>Type </div>
                                        
                                        <input type="radio" name="type" value="1" checked > Client </input>
                                        <input type="radio" name="type" value="2" > Prospect</input>
                                        
                                    </div>	
                                    <div class="row">
						<div>Adresse 1</div>
						<div>
							<input type="text" name="adresse1"></input>
						</div>
                                    </div>
                                </div>
                                <div class="half">
                                    <div class="row">
                                        <div>Civilité</div>
                                        
                                        <input type="radio" name="civilite" value="1" checked > Monsieur</input>
                                        <input type="radio" name="civilite" value="2" > Mademoiselle</input>
                                        <input type="radio" name="civilite" value="3" > Madame</input>
                                    </div>
                                    <div class="row">
						<div>Adresse 2</div>
						<div>
							<input type="text" name="adresse2"></input>
						</div>
                                    </div>    
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Nom/Raison sociale</div>
						<div>
							<input type="text" name="raisonsociale"></input>
						</div>
                                    </div>	
                                    <div class="row">
						<div>Adresse 3</div>
						<div>
							<input type="text" name="adresse3"></input>
						</div>
                                    </div>    
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Prénom</div>
						<div>
							<input type="text" name="prenom"></input>
						</div>
                                    </div>	
                                    <div class="row">
						<div>Code postal</div>
						<div>
							<input type="text" name="code_postal"></input>
						</div>
                                    </div>    
                                </div>
                                <div class="half">

                                    <div class="row">
						<div>Code</div>
						<div>
							<input type="text" name="code" disabled>
						</div>
                                    </div>
                                    <div class="row">
						<div>Ville</div>
						<div>
                                                    <input type="text" name="ville"></input>
						</div>
                                    </div>	
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Téléphone</div>
						<div>
							<input type="text" name="telephone" />
						</div>
                                    </div>
                                    <div class="row">
						<div>Etat </div>
                                        
                                        <input type="radio" name="statut_client" value="1" checked > Actif </input>
                                        <input type="radio" name="statut_client" value="2" > Inactif </input>
                                        
                                    </div>
                                </div>    
                                <div class="half">
                                    <div class="row">
						<div>Portable</div>
						<div>
							<input type="text" name="portable" />
						</div>
                                    </div>        
                                    <div class="row">
						<div>Représentant</div>
						<div id="representant"></div>
                                    </div>       
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Email</div>
						<div>
							<input type="text" name="email" />
						</div>
                                    </div>    
                                    <div class="row">
						<div>Dernier contact</div>
						<div>
							<input type="text" class="numberDot" name="modal_adresse_email" /> jours
						</div>
                                    </div>
                                </div>    
                        <div class="half">

                        
                            <div div class="row"><b>RGPD</b> - Actions commerciales
					<input type="checkbox" name="envoi_email" value="2" />Sms
					<input type="checkbox" name="envoi_sms" value="2" />Email
                                    </div>
                    
                            </div>
					
                                    
                                    
                                  
                            
                           
                                {#
                                        <div class="row">
						<div>Commentaires</div>
						<div>
                                                    <textarea name="commentaires" rows=6 cols=60></textarea>
						</div>
					</div>
                                  #}      
                                        
                            </div>
                                
             
            
            
        </section>
                </form>

        <div style="padding-left: 15%">


            <span class="bouton boutoncli"><a href="{{path("client_edit_juridique")}}"> Informations juridiques </a></span>
            <span class="bouton boutoncli"><a href="{{path("client_edit_financiere")}}"> Informations financières </a></span>
            <span class="bouton boutoncli"><a href="{{path("client_edit_geolocalisation")}}"> Géolocalisation </a></span>
            <span class="bouton boutoncli"><a href="{{path("devis_listing")}}"> Propositions </a></span>
            <span class="bouton boutoncli"><a href="{{path("memo_listing")}}"> Tâches commerciales </a></span>
            <span class="bouton boutoncli"><a href="{{path("vehicule_listing")}}"> Véhicules </a></span>
            <span class="bouton boutoncli"><a href="{{path("facture_listing")}}"> factures </a></span>
            

        </div>	 
        
            <section>
                                <h2>Géolocalisation</h2>
			

                <style>
                       /* Set the size of the div element that contains the map */
                      #map {
                        height: 400px;  /* The height is 400 pixels */
                        width: 100%;  /* The width is the width of the web page */
                       }
                </style>
                  
                    <h3>Géolocalisation de l'adresse client</h3>
                    <!--The div element for the map -->
                    <div id="map"></div>
                    
                    
                    
                    
                    
                    <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAroK8V4ITvez_OtFm6diJr71UXifdohbk&callback=initMap">
                </script>
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                        
                    
                 
                
                
                    
                 
                    <!-- document.write('ESSAI');//-->
                
                </script>
                
            </section>
</div>


{% endblock %}



{% block extrajs %}
	<script>
		var currentCodeAdresse = null;
		var currentCodeContact = null;
		var currentClient = null;
		var date = new Date();
		var dataClients;
		$('document').ready(function() {
			currentClient = localStorage.getItem("currentClient");
			getJsonData("clients");
                       

                        
		});

         
                
		function displayData(tabClient) 
                {
			dataClients = tabClient;

 

			// Récupère les données local du client			
			var client = getClientByCode(currentClient, dataClients);
			
                        
                        $lat=           client.latitude;
                        $lng=           client.longitude;
                        $adresse1=      client.adresse1;
                        $adresse2=      client.adresse2;
                        $adresse3=      client.adresse3;
                        $code_postal=   client.code_postal;
                        $ville =        client.ville;
                        $adressetitle=  client.adresse1+", "+client.code_postal+" "+client.ville;
                        $nomprenom =    client.raisonsociale+" "+client.prenom;
                        $telephone =    client.telephone;
                        $portable  =    client.portable;
                        $email     =    client.email;
                        
                        initMap();
                                                  
                        
                        //Gestion de l'appel de la fonction GOogle API en Js
                        
                       
			fillForm(client, 'ficheClient');

			// Met à jour le nom de l'entreprise en localStorage
			localStorage.setItem('currentClientRaisonSociale', client.raisonsociale);
			clientShortcuts(); // Affiche la barre d'outil client


			// Met à jour le titre
			$('.global>header>p>span').text(client.raisonsociale);

			// Met à jour l'affichage des adresses et des contacts
			
			

			

			

			$('#saveModalPop').click(function() {
				//var objClient = {};
				var objClient = client;

				// Crée un nouvel objet avec les données saisies
				$('#formPopupClient input[type=text]').each(function(index) {
					$prefix = "modal_popup_";

					objClient[$(this).prop('name').replace($prefix, '')] = $(this).val();
				});

				// Met à jour les données en local
				updateClients(currentClient, objClient);
				saveModalPopup('editPopupClient');
			});


			// Validation de la fiche client
			$('#ficheClient').submit(function(event) {
				var objClient = {};
				// Crée un nouvel objet avec les données saisies
				$('#ficheClient input[type=text]').each(function(index) {
					objClient[$(this).prop('name')] = $(this).val();
				});

				$('#ficheClient select').each(function(index) {
					objClient[$(this).prop('name')] = $(this).val();
				});

				// Met à jour les données en local
				updateClients(currentClient, objClient);
				displayMessage('Fiche client enregistrée');
				event.preventDefault();
			});

			


			
		}

		
                function initMap() 
                {
                               
                 //alert("latitude :"+$lat+" Longitude : "+$lng);
                 //$test2 = "le test de passage";
                  // The location of Uluru
                  var uluru = {lat: $lng , lng: $lat};
                  //var uluru = $test;
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 15, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({
                      position: uluru, 
                      map: map, 
                      title:$adressetitle,
                      icon: new google.maps.MarkerImage('img/pictos/vehicule_marker.png')
  
                    });
                    
                   var infoWindowOptions = {
                        content: '<h3>Informations détaillées</h3><br>'
                            + '<p>'+$nomprenom+'</p>'
                            + '<p>'+$adresse1+'</p>'
                            + '<p>'+$adresse2+'</p>'
                            + '<p>'+$adresse3+'</p>'
                            + '<p>'+$code_postal+' '+$ville+'</p><br>'
                            + '<p>Téléphone fixe : '+$telephone+'</p>'
                            + '<p>Téléphone mobile : '+$portable+' <i class="fas fa-mobile-alt"></i></p>'
                            + '<p>Email : '+$email+' <i class="fas fa-envelope"></i></p>'

                    };

                    var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker);
                    });
                }
        
        </script>
        
                
        {% endblock %}