{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-calculator"></i> COMMANDES</p>                    
{% endblock %}



{% block body %}

<button id="nvCommande" class="bouton boutonNvDevis" onclick="changeStorageAndGo(['currentCommande',''], 'commande');"><i class="fas fa-plus"></i> Nouvelle commande</button>
<div class="filter">
    <div>Code client : <input type="text" name="filterClient" /></div>
</div>
<table id="listingClients" class="display">
    <thead>
        <tr>
            <th>N° Commande</th>
            <th>N° Client</th>
            <th>Date</th>
            <th>Total HT</th>
            <th>Etat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}



{% block extrajs %}
    <script>
        $('document').ready(function() {    
            // A supprimer à terme et à générer lors de la synchro
            $('#listingClients').hide();
            getJsonData("commandes");
        });



        // Affiche les données une fois l'ajax traité
        function displayData(tabCommande) {
            // if(!localStorage.getItem("commandes")) 
            //     localStorage.setItem("commandes", JSON.stringify([]));

            //commandes = JSON.parse(localStorage.getItem("commandes"));

            if(!tabCommande.length) {
                $('#listingClients').append("<tr><td colspan=\"4\" style=\"text-align:center;\">Aucune commande disponible</td></tr>");

            } else {
                var newHTML="";
                for (var i = 0; i < tabCommande.length; i++) {
                    newHTML+= "<tr>";
                    newHTML+= "<td>"+tabCommande[i].code+"</td>";
                    newHTML+= "<td>"+tabCommande[i].client_code+"</td>";
                    newHTML+= "<td>"+tabCommande[i].date_creation.split('-').reverse().join('-')+"</td>";
                    newHTML+= "<td>"+tabCommande[i].totalcommande+" €</td>";
                    newHTML+= "<td>"+(tabCommande[i].statut == 1 ? 'Non soldée' : 'Soldée')+"</td>";
                    newHTML+= "<td class=\"tools\"><span class=\"iconBt\" onclick=\"changeStorageAndGo(['currentCommande','"+tabCommande[i].code+"'], 'commande');\"><i class=\"fas fa-edit\"></i></span></td>";
                    newHTML+= "</tr>";           
                }
                $('#listingClients').append(newHTML);                 
            }

            
            // Ajoute un filtre de recherche sur le client pré-sélectionné.
            var preSearch = {};
            var preSearchClientOnly = null;
            if(localStorage.getItem('currentClient') && localStorage.getItem('currentClientRaisonSociale')) {
                //preSearch.search = localStorage.getItem('currentClient');
                $('input[name=filterClient]').val(localStorage.getItem('currentClient'));
                preSearchClientOnly = {'search' : localStorage.getItem('currentClient')};
            }


            $('#listingClients').DataTable( {
                "pageLength": 15,
                "lengthChange": false,
                language: {
                    searchPlaceholder: "Rechercher une commande",
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                },
                search : preSearch,
                "searchCols": [null, preSearchClientOnly, null, null, null]
            } );

            $('#listingClients').show();

            $('input[name=filterClient]').keyup(function() {
                $('#listingClients').DataTable().column(1).search($(this).val()).draw();
            });

            $('#nvCommande').click(function(e) {
                e.preventDefault();
                changeStorageAndGo(["currentCommande", ""], 'commande');
            });
            
            //$('#nbClient').html("("+$('#listingClients tbody tr').length+")");
        };
    </script>
{% endblock %}


