{% extends 'front/_base.html.twig' %}

{% block header %}
<p><i class="fas fa-calculator"></i> CREER / EDITER UNE COMMANDE</p>                    
{% endblock %}

{% block body %}
<style type="text/css">
	.SumoSelect{width:100%;font-size:.9em;}
</style>
<div class="fiche">
	<form id="ficheCommande">

		<section>
			<h2>Informations générales</h2>
			<div>
				<div class="row">
					<div>Client</div> 
					<div><span id="raisonsociale"></span>
					</div>
				</div>

				<div class="row">
					<div>N° Commande</div>
					<div>
						<input type="text" name="code" disabled="true" />
					</div>
				</div>

				<div class="row">
					<div>Commentaires</div>
					<div>
						<input type="text" name="commentaires" />
					</div>
				</div>

				<div class="row">
					<div>Ref</div>
					<div>
						<input type="text" name="ref" />
					</div>
				</div>

				<div class="row">
					<div>Site de vente</div>
					<div>
						<select name="site" id="listsite">
						</select>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h2>Adresse de livraison</h2>
			<div>
				<div class="full margingrey">
					<h3>Choisissez l'adresse de livraison</h3>
					<!-- <span class="bouton add topright" id="nvAdresse"><i class="fas fa-address-card"></i> Nouvelle adresse</span> -->
					<div id="adresses">
						<p>Aucune adresse disponible pour ce client</p>
					</div>
				</div>
			</div>	

		</section>

		<section>
			<h2>Articles</h2>
			<div>
				<div class="full margingrey">
					<h3>Articles compris dans la commande</h3>
					<span class="bouton add topright" id="nvArticle"><i class="fas fa-cart-plus"></i> Ajouter un article</span>
					<div id="articles">
						<p>Aucune article intégré dans ce commande</p>
						
					</div>
				</div>	

				<div class="half">
					<div class="row">
						<div>Frais de transport</div>
						<div>
							<input type="text" name="frais_transport" value="0" />
						</div>
					</div>	
				</div>

				<div class="half">
					<div class="row">
						<div>Total HT</div>
						<div>
							<input type="text" name="totalcommande" disabled />
						</div>
					</div>	
				</div>
			</div>		
		</section>

		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
	</form>
</div>



{% endblock %}



{% block modal %}

	<span id="modalBg"></span>


	<div class="modal" id="editAdresse">
		<form id="formAdresse">
			<section>
				<h2>Adresse</h2>
				<div>
					<div class="row">
						<div>Code</div>
						<div>
							<input type="text" name="modal_adresse_code" disabled />
						</div>
					</div>

					<div class="row">
						<div>Pays</div>
						<div>
							<select name="modal_adresse_pays">
								<option value=""></option>
								<option value="">France</option>
							</select>
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 1</div>
						<div>
							<input type="text" name="modal_adresse_adresse1" />
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 2</div>
						<div>
							<input type="text" name="modal_adresse_adresse2" />
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 3</div>
						<div>
							<input type="text" name="modal_adresse_adresse3" />
						</div>
					</div>	
					
					<div class="row">
						<div>Code postal</div>
						<div>
							<input type="text" name="modal_adresse_postal" />
						</div>
					</div>	
					
					<div class="row">
						<div>Ville</div>
						<div>
							<input type="text" name="modal_adresse_ville" />
						</div>
					</div>
					
					<div class="row">
						<div>Liv/Chantier</div>
						<div>
							<input type="text" name="modal_adresse_livchantier" />
						</div>
					</div>	
					
					<div class="row">
						<div>Téléphone</div>
						<div>
							<input type="text" name="modal_adresse_telephone" />
						</div>
					</div>
					
					<div class="row">
						<div>Portable</div>
						<div>
							<input type="text" name="modal_adresse_portable" />
						</div>
					</div>	
					
					<div class="row">
						<div>Fax</div>
						<div>
							<input type="text" name="modal_adresse_fax" />
						</div>
					</div>
					
					<div class="row">
						<div>Email</div>
						<div>
							<input type="text" name="modal_adresse_email" />
						</div>
					</div>	


					<div class="row buttonsrow">
						<input type="button" class="bouton" value="OK" id="saveModalAdr" />
						<input type="button" class="bouton"  value="Annuler" id="closeModalAdr" />
					</div>			
				</div>

			</section>
		</form>
	</div>


	<div class="modal" id="editArticle">
		<form id="formArticle">
			<section>
				<h2>Article</h2>
				<div>
					<div class="row">
						<div>Article</div>
						<div>
							<select name="modal_article_code" id="articleCode">
								<option value=""></option>
							</select>
							<span class="switchArticles">Inclure les articles non disponibles</span>
						</div>
					</div>

					<div class="infoStockDiv" style="display:none;">
						<table id="infoStock">
	                        <tr>
	                            <th></th>
	                            <th>Tenue stock</th>
	                            <th>Quantité dispo</th>
	                        </tr>
	                    </table> 
					</div>
					
					<div class="row">
						<div>Désignation</div>
						<div>
							<input type="text" name="modal_article_designation" disabled="true" />
						</div>
					</div>
					
					<div class="row">
						<div>Site d'expédition</div>
						<div>
							<select name="modal_article_site">
							</select>
						</div>
					</div>

					<div class="row">
						<div>UV</div>
						<div>
							<input type="text" name="modal_article_uv" />
						</div>
					</div>

					<div class="row">
						<div>UF</div>
						<div>
							<input type="text" name="modal_article_uf" />
						</div>
					</div>

					<div class="row">
						<div>Quantité commandée</div>
						<div>
							<input type="text" name="modal_article_quantite" />
						</div>
					</div>

					<div class="row">
						<div>Reliquat</div>
						<div>
							<input type="text" name="modal_article_reliquat" />
						</div>
					</div>

					<div class="row">
						<div>Ancien prix</div>
						<div>
							<input type="text" name="modal_article_ancienprix" disabled="true" />
						</div>
					</div>

					<div class="row">
						<div>Tarif DUOBAT</div>
						<div>
							<input type="text" name="modal_article_prix_tarif" disabled="true" />
						</div>
					</div>

					<div class="row">
						<div>Remise</div>
						<div>
							<input type="text" name="modal_article_remise" />
						</div>
					</div>

					<div class="row">
						<div>Prix net HT</div>
						<div>
							<input type="text" name="modal_article_prix_net" disabled="true" />
						</div>
					</div>

					<div class="row">
						<div>Total ligne</div>
						<div>
							<input type="text" name="modal_article_total_ligne" disabled="true" />
						</div>
					</div>

					
					<div class="row">
						<span class="bouton" id="moreInfo"><i class="fas fa-eye"></i> +infos</span>
					</div>

					<div class="row hiddenBlock">
						<div>PR</div>
						<div>
							<input type="text" name="modal_article_pr" />
						</div>
					</div>

					<div class="row hiddenBlock">
						<div>TMB</div>
						<div>
							<input type="text" name="modal_article_tmb" />
						</div>
					</div>

					<div class="row hiddenBlock">
						<div>Marge</div>
						<div>
							<input type="text" name="modal_article_marge" />
						</div>
					</div>


					<div class="row buttonsrow">
						<input type="button" class="bouton" value="OK" id="saveModalArt" />
						<input type="button" class="bouton boutoncancel"  value="Annuler" id="closeModalArt" />
					</div>			
				</div>

			</section>
		</form>
	</div>

{% endblock %}



{% block extrajs %}
	<script>
		var currentIdAdresse = null;
		var currentClient = null;
		var currentCommandeObject = null;
		var currentArticle = null;
		var selectedAdresseId = null;
		var selectedAdresseCode = null;
		var choice = null;
		var client;
		var jsonToGet = ["clients", "commandes", "articles"];
		var storedData = {};
		var displayAvailableArticleOnly = true;

		$('document').ready(function() {
			getJsonData(jsonToGet[0]);
		});

		

        function displayData(results) {
			storedData[jsonToGet[0]+"All"] = results;
			jsonToGet.shift();
			if(jsonToGet.length) {
				// Il reste des données à récupérer
				getJsonData(jsonToGet[0]);
			} else {

				// Récupère l'ID du client actif
				// if(localStorage.getItem("currentClient")) {
				// 	currentClient = localStorage.getItem("currentClient"); 
				// 	client = getClientByCode(currentClient, storedData['clientsAll']);
				// 	$('#raisonsociale').html(client.raisonsociale);
				// }

				// Récupère la commande existante
				if(localStorage.getItem("currentCommande")) {
					currentCommande = localStorage.getItem("currentCommande"); 
	            	currentCommandeObject = storedData['commandesAll'].filter(function (chain) {
		                return chain.code === currentCommande;
		            })[0];
		            fillForm(currentCommandeObject, 'ficheCommande');

		            // Récupère le client lié à la commande
		            if(currentCommandeObject.client_code) {
		            	currentClient = currentCommandeObject.client_code;
		            	client = getClientByCode(currentClient, storedData['clientsAll']);
						$('#raisonsociale').html(client.raisonsociale);
		            }
				} else if(localStorage.getItem("currentClient")) {
					// Commande non défini, mais client défini
					currentClient = localStorage.getItem("currentClient"); 
					client = getClientByCode(currentClient, storedData['clientsAll']);
					$('#raisonsociale').html(client.raisonsociale);
				}

				


				if(!currentCommandeObject) {
					currentCommandeObject = { "articles":[] };
					$('.global>header>p').html('<i class="fas fa-calculator"></i> CRÉER UNE COMMANDE');
				} else {
					$('.global>header>p').html('<i class="fas fa-calculator"></i> ÉDITER UNE COMMANDE');
				}

				if(!currentCommandeObject.articles) currentCommandeObject.articles = [];
				else {
					try {
						currentCommandeObject.articles = JSON.parse(currentCommandeObject.articles);
					} catch(e) {
					}

				}

				console.log(currentCommandeObject);

				

				// Met à jour la liste "select option" pour les articles
				
				$('#articleCode').SumoSelect({search:'true', placeholder:'Choisissez un article'});

				updateSelectArticle('articleCode', displayAvailableArticleOnly, storedData['articlesAll']);			


				// Met à jour la liste "select option" pour les sites de vente
				var sitevente = JSON.parse(localStorage.getItem('sitevente'));
				for(var key in sitevente) {
					var newoption = '<option value="'+sitevente[key][0]+'">'+sitevente[key][0]+" "+sitevente[key][1]+'</option>';
					$('select[name=site]').append(newoption);
				}
				var commercial = JSON.parse(localStorage.getItem('commercial'));
				if(commercial.site && commercial.site!="") {
					$('select[name=site]').val(commercial.site);
				}



				if(currentClient) refreshAdresses();

				// L'adresse est déjà sélectionnée dans la commande
				if(currentCommandeObject.adresse_id && currentCommandeObject.client_code) {

		            if(client) {
		            	var adresse = client.adresses.filter(function (chain) {
			                return chain.id === currentCommandeObject.adresse_id;
			            })[0];

			            if(adresse) {
							selectAdresse(adresse.id, adresse.code);
			            }
		            }
				} 

				// Affiche les articles si existant
				if(currentCommandeObject.articles && currentCommandeObject.articles.length) 
					refreshArticles();
				
				


				// Enregistrement du commande
				$('#ficheCommande').submit(function(event) {
					event.preventDefault();

					if(!currentClient) {
						alert('Vous devez sélectionner un client pour cette commande');
					} else if(!selectedAdresseId) {
						alert('Aucune adresse de livraison sélectionnée');
					} else {

						currentCommandeObject.adresse_id = selectedAdresseId;
						if(selectedAdresseCode) currentCommandeObject.adresse_code = selectedAdresseCode;
						//currentCommandeObject.client_id = currentClient;
						currentCommandeObject.client_code = client.code;

						// Si besoin, crée une liste vide de commande
						//if(!client.commande) client.commande = [];

						// Intègre les données dans la commande					
						$('#ficheCommande input[type=text]').each(function() {
							currentCommandeObject[$(this).prop('name')] = $(this).val();
						});



						// Enregistrement
						if(!localStorage.getItem("commandes") || localStorage.getItem("commandes")=="") localStorage.setItem("commandes", '[]');
						localStorageCommande = JSON.parse(localStorage.getItem("commandes"));

						console.log(localStorageCommande);

						// Pas de commande existant
						if(!currentCommandeObject.code) {
							var date = new Date();
							// Code temporaire en attendant la synchro
							currentCommandeObject.code = "_CMD_"+date.getFullYear()+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+(date.getDate()<10?'0':'')+date.getDate()+"-"+date.getHours()+date.getMinutes()+date.getSeconds()+"-"+Math.round(Math.random()*100);

							// Date du commande
							currentCommandeObject.date_creation = date.getFullYear()+"-"+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+"-"+(date.getDate()<10?'0':'')+date.getDate();

							// Infos de suivi 
							currentCommandeObject.observations = "";
							currentCommandeObject.statut = "";
							currentCommandeObject.date_etat = "";
							currentCommandeObject.etat = "";
							currentCommandeObject.perte = "";
							currentCommandeObject.totalHT = 0;

							console.log(currentCommandeObject);

							// Enregistrement
							localStorageCommande.push(currentCommandeObject);
							localStorage.setItem("commandes", JSON.stringify(localStorageCommande));
							queueMessage('Commande '+currentCommandeObject.code+' créé');

							changeStorageAndGo(["currentCommande", null],'commande-listing');

						} else {
							var flag = false;

							// Mise à jour 
							for (var i = 0; i < localStorageCommande.length; i++) {
		                        if(localStorageCommande[i].code == currentCommandeObject.code) {
		                        	flag = true;
		                            localStorageCommande[i] = currentCommandeObject;

		                            localStorage.setItem("commandes", JSON.stringify(localStorageCommande));
		                            queueMessage('Commande '+currentCommandeObject.code+' modifiée');
		                            changeStorageAndGo(["currentCommande", null],'commande-listing');
		                            break;
		                        }
		                    }
		                    if(!flag) {
		                    	localStorageCommande.push(currentCommandeObject);
								localStorage.setItem("commandes", JSON.stringify(localStorageCommande));
								displayMessage('Commande '+currentCommandeObject.code+' créé');
	                            changeStorageAndGo([currentCommande, null],'commande-listing');
		                    }	
							

						}

					}
				});


				// Afficher / Masquer les infos cachées
				$('#moreInfo').click(function() {				
					if($('.hiddenBlock').is(':visible')) {
						$('#moreInfo i').removeClass('fa-eye-slash');
						$('.hiddenBlock').fadeOut(200);
					} else {
						$('#moreInfo i').addClass('fa-eye-slash');
						$('.hiddenBlock').fadeIn(200);
					}
					
				});


				// Modal adresse
				$('#nvAdresse').click(function() {
					currentIdAdresse = null;
					openModal('editAdresse');
				});

				$('#closeModalAdr').click(function() {
					closeModal('editAdresse');
				});

				$('#saveModalAdr').click(function() {
					addAdresse();
				});

				/*
				if(currentCommandeObject.statut && currentCommandeObject.statut>=1) {
					// Si un statut existe, on supprime la sélection d'adresse
					// On ne conserve que l'adresse choisie pour la livraison
					var adresse = currentCommandeObject['articles'].filter(function (chain) {
		                return chain.id === adresse_code;
		            })[0];
				}*/

				// Si la commande est soldée, on passe en lecture seule
				if(currentCommandeObject.statut && currentCommandeObject.statut==2) {
					readonlyForm(['ficheCommande', 'editArticle']);
					// Ajoute un bouton retour...
					$('#ficheCommande >div.buttonsrow:last-of-type').append('<input type="button" class="bouton boutonsave" value="Retour" onclick="changeStorageAndGo([], \'commande-listing\')" />');
				}
			}


			

		
		};

		/*============================================
		=            GESTION DES ADRESSES            =
		============================================*/		

		function saveModalAdresse(name) {
			closeModal(name);	
		}


		function addAdresse() {
			//var client = getClientByCode(currentClient);

			var modeleAdresse = {
							"id":"",
							"code":"",
							"pays_id": "", 
							"adresse1": "",
							"adresse2": "",
							"adresse3": "",
							"postal": "",
							"ville": "",
							"livchantier":"",
							"telephone":"",
							"portable":"",
							"fax":"",
							"email":""
							};


			var objAdresse = {};

			var newAdresseID = 1;
			// Génère une ID par rapport à celles existantes
			for (var i = 0; i < client.adresses.length; i++) {
				if(client.adresses[i]['id'] !="" && client.adresses[i]['id']>=newAdresseID)
					newAdresseID = client.adresses[i]['id'] + 1;
			}
			objAdresse.id = newAdresseID;

			var date = new Date;

			// Rempli l'objet objAdresse avec les données du formulaire
			$('#formAdresse input[type=text]').each(function(index) {
				objAdresse[$(this).prop('name').replace('modal_adresse_', '')] = $(this).val();
			});
			// Génère un code d'adresse s'il est vide
			if(!objAdresse.code) {
				objAdresse.code = generateNewAdressCode(client.adresses);
			}


			if(!currentIdAdresse) //Il n'y a pas d'ID actuelle, il s'agit d'une création
				addObjectToArrayClient(currentClient, "adresses", objAdresse);
			else {
				// Il y a une ID, c'est une modification
				for (var i = 0; i < client.adresses.length; i++) {
					if(client.adresses[i].id == currentIdAdresse) {
						// On remplace l'ancienne liste de prop par la nouvelle
						client.adresses[i] = objAdresse;
						updateClients(currentClient, client);
					}
				}
			}

			refreshAdresses();

			saveModalAdresse('editAdresse');

		}


		function refreshAdresses() {
			selectedAdresseId = null;
			selectedAdresseCode = null;

			var adresses = getClientByCode(currentClient, storedData['clientsAll']).adresses;

			if(adresses.length) {
				$newAdressHTML = "<ul>";
				for (var i = 0; i < adresses.length; i++) {
					// Explication du IF trop long :
					// Si le statut n'est pas défini, on affiche toutes les adresses
					// Sinon, on affiche uniquement l'adresse sélectionnée pour la commande en cours
					if(!currentCommandeObject.statut || currentCommandeObject.statut=="" || (currentCommandeObject.statut && currentCommandeObject.statut>=1 && adresses[i].code==currentCommandeObject.adresse_code) ) {

					$newAdressHTML+= "<li id=\"adresse_"+adresses[i]["id"]+"\">";
					$newAdressHTML+= "<p><i class=\"fas fa-address-card\"></i> <span>"+adresses[i]["code"]+"</span> "+adresses[i]["adresse1"]+" - "+adresses[i]["postal"]+" "+adresses[i]["ville"]+"</p>";
					$newAdressHTML+= '<div>';
					$newAdressHTML+= '<span class="bouton boutonSelect" onClick="selectAdresse('+adresses[i].id+', \''+adresses[i].code+'\');"><i class="fas fa-crosshairs"></i> Sélectionner</span>';
					$newAdressHTML+= '</div>';
					$newAdressHTML+= "</li>";	
					}			
				}
				$newAdressHTML+= "</ul>";

				$('#adresses').html($newAdressHTML);				
			} else {
				$('#adresses').html('<p>Aucune adresse existante pour ce client</p>');
			}

		}

		function selectAdresse(idadresse, codeadresse) {
			$('#adresses li').removeClass('selected');
			$('#adresses li i').removeClass('fa-check');
			$('#adresses li i').addClass('fa-address-card');
			$('#adresse_'+idadresse).addClass('selected');
			$('#adresse_'+idadresse+' i').addClass('fa-check');

			selectedAdresseId = idadresse;
			selectedAdresseCode = codeadresse;
		}


		// function editAdresse(idadresse) {
		// 	currentIdAdresse = idadresse;

		// 	var adresses = getClientByCode(currentClient).adresses;
		// 	for (var i = 0; i < adresses.length; i++) {
		// 		if(adresses[i].id == idadresse) {
		// 			var prefixInput = "modal_adresse_";
		// 			for (var key in adresses[i]){
		// 				if($('#editAdresse input[name='+prefixInput+key+']').length)
		// 			    	$('#editAdresse input[name='+prefixInput+key+']').val(adresses[i][key]);
		// 			}
		// 			openModal("editAdresse");
		// 			break;
		// 		}
		// 	}
			
		// }
				
		/*=====  End of GESTION DES ADRESSES  ======*/





		/*====================================================
		=            Ajout / edition des articles            =
		====================================================*/
		$('#nvArticle').click(function(){
			currentArticle = null;
			$('.hiddenBlock').hide();
			$('#infoStockDiv').hide();
			openModal("editArticle");			
		});

		function editArticle(idarticle) {
			currentArticle = idarticle;
			var article = currentCommandeObject['articles'].filter(function (chain) {
                return chain.id === idarticle;
            })[0];
			
			fillForm(article, 'formArticle', 'modal_article_');
			openModal("editArticle");	
		}

		// Affiche dans la liste déroulante articleCode les articles n'ayant que de la dispo, ou alors tous les articles
		$('.switchArticles').click(function() {
			if(displayAvailableArticleOnly) {
				displayAvailableArticleOnly = false;
				$(this).html('<b>Exclure</b> les articles non disponibles');
			} else {
				displayAvailableArticleOnly = true;
				$(this).html('<b>Inclure</b> les articles non disponibles');				
			}
			updateSelectArticle('articleCode', displayAvailableArticleOnly, storedData['articlesAll']);
		});


		$('#articleCode').change(function() {
			// Au changement d'article, on envoie les données dans les champs du formulaire de la modal box
			$('input[name=modal_article_quantite]').val(0);
			var articleSelected = null;
			var elementPos = storedData["articlesAll"].map(function(x) {return x.code; }).indexOf($(this).val());
			if(elementPos>=0) {
				choice = storedData['articlesAll'][elementPos];
				fillForm(choice, 'editArticle', 'modal_article_' );


				// Remplit également le tableau des stocks #infoStock
				// Et la liste des sites d'expédition disponibles
				$('.trStock').remove();
				$('select[name=modal_article_site] option').remove();

				for(var site in choice.tenue) {
					// Le stock doit être renseigné
					// Le site doit correspondre au code du vendeur (Vendeur LI1 -> site LI1 / Vendeur autre -> tout sauf LI1)
					if((choice.tenue[site][0] || choice.tenue[site][1]) && ((getSiteCommercial() == "LI1" && site.toUpperCase()=="LI1") || (getSiteCommercial() != "LI1" && site.toUpperCase()!="LI1"))) {
						console.log(getSiteCommercial()+" / "+site.toUpperCase());
	                    var html = "<tr class=\"trStock\">";
	                    html+= "<td>"+site.toUpperCase()+"</td>";
	                    html+= "<td>"+choice.tenue[site][0]+"</td>";
	                    html+= "<td>"+choice.tenue[site][1]+"</td>";
	                    html+= "</tr>";
	                    $('#infoStock').append(html); 

	                    $('select[name=modal_article_site]').append('<option value="'+site.toUpperCase()+'">'+site.toUpperCase()+'</option>');

					}   
                }

				changeSiteExpedition();

				$('.infoStockDiv').show();
			}



		});


		// Modification du PR en fonction du site d'expédition choisi
		$('select[name=modal_article_site]').change(function() {
			changeSiteExpedition();
		});


		function changeSiteExpedition() {
			// Prix de revient
			//if(getSiteCommercial()=='LI1') {
			if($('select[name=modal_article_site]').val()=='LI1') {
                $('input[name=modal_article_pr]').val(choice.prix_revient_lille);
            } else {
                $('input[name=modal_article_pr]').val(choice.prix_revient_rennes);
            }
		}




		$('#saveModalArt').click(function() {			
			var nvArticle = {};			
			$('#editArticle input[type=text]').each(function() {
				nvArticle[$(this).prop("name").replace('modal_article_', '')] = $(this).val();
			});	

			$('select').each(function() {
				nvArticle[$(this).prop("name").replace('modal_article_', '')] = $(this).val();
			});

			
			// Vérifie les données
			var toCheck = {"checkForNumber": [
											"input[name=modal_article_quantite]",
											"input[name=modal_article_prix_tarif]",
											"input[name=modal_article_remise]",
											],
							"checkForPositiveNumber": [
											"input[name=modal_article_quantite]"
											]
						}

			if(isFormValid(toCheck) === true) {
				// Il s'agit d'une création
				if(!currentArticle) {
					nvArticle.id = 1;
					// Défini la nouvelle ID en fonction des articles déjà présents
					for (var i = 0; i < currentCommandeObject.articles.length; i++) {
						if(currentCommandeObject.articles[i].id>=nvArticle.id) nvArticle.id = currentCommandeObject.articles[i].id+1;
					}
					currentCommandeObject.articles.push(nvArticle);
				} else {
					// Il s'agit d'une édition d'un article déjà intégré au commande
					for (var i = 0; i < currentCommandeObject.articles.length; i++) {
						if(currentCommandeObject.articles[i].id==currentArticle) {
							nvArticle.id = currentCommandeObject.articles[i].id;
							currentCommandeObject.articles[i] = nvArticle;
						}
					}
				}

				refreshArticles();

				$('#infoStockDiv').hide(); // Cache le tableau des stocks
				closeModal('editArticle');
			} else {
				removeErrorMessageForm('#editArticle');

				var errors = isFormValid(toCheck);

				for (var i = 0; i < errors.length; i++) {
					$(errors[i][0]).addClass('toCheck');
					$(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
				}
				console.log(isFormValid(toCheck));
			}



		});


		$('#closeModalArt').click(function() {
			closeModal('editArticle');
		});


		function refreshArticles() {
			$newArticleHTML = "<ul>";
			for (var i = 0; i < currentCommandeObject.articles.length; i++) {
				$newArticleHTML+= "<li id=\"article_"+currentCommandeObject.articles[i]["id"]+"\">";
				$newArticleHTML+= "<p><i class=\"fas fa-caret-square-right\"></i>"+currentCommandeObject.articles[i]["code"]+" - "+currentCommandeObject.articles[i]["designation"]+" </p>";

				$newArticleHTML+= "<table class=\"detailArticle\"><tr>";
				$newArticleHTML+= "<td>Tarif DUOBAT : "+roundFourthDecimal(currentCommandeObject.articles[i].prix_tarif)+"</td>";
				$newArticleHTML+= "<td>Remise : "+roundFourthDecimal(currentCommandeObject.articles[i].remise)+" %</td>";
				$newArticleHTML+= "<td>Prix net : "+roundFourthDecimal(currentCommandeObject.articles[i].prix_net)+"</td>";
				$newArticleHTML+= "<td>Quantité : "+currentCommandeObject.articles[i].quantite+"</td>";
				$newArticleHTML+= "<td>Total : "+roundFourthDecimal(currentCommandeObject.articles[i].total_ligne)+"</td>";
				$newArticleHTML+= "</tr></table>";



				$newArticleHTML+= '<div>';
				$newArticleHTML+= '<span class="bouton boutonSelect" onClick="editArticle('+currentCommandeObject.articles[i].id+');"><i class="fas fa-edit"></i> '+(currentCommandeObject.statut == 2 ? 'Détail' : 'Modifier')+'</span>';
				$newArticleHTML+= '<span class="bouton boutonDelete" onClick="deleteArticle('+currentCommandeObject.articles[i].id+');"><i class="fas fa-trash"></i> Supprimer</span>';
				$newArticleHTML+= '</div>';
				$newArticleHTML+= "</li>";				
			}
			$newArticleHTML+= "</ul>";

			$('#articles').html($newArticleHTML);

			getTotal();				
		}


		function deleteArticle(id) {
			if(confirm("Voulez-vous supprimer cet article ?")) {
				for (var i = 0; i < currentCommandeObject.articles.length; i++) {
					if(currentCommandeObject.articles[i].id == id) {
						currentCommandeObject.articles.splice(i, 1);
						break;
					}
				}
				
				refreshArticles();
			}
		}




        /**
         * Recalcul du prix net selon la remise
         * 
         */      
        function getPrices() {
         	// Retire les messages d'erreur
            $('input[type=text][name=modal_article_remise]').removeClass('toCheck');
            $('input[type=text][name=modal_article_remise]+p').remove();
            // Vérifie les données
            var toCheck = {"checkForNumber": [
                                            "input[name=modal_article_remise]",
                                            "input[name=modal_article_quantite]"
                                            ]
                        }

            if(isFormValid(toCheck) === true) {
                // Recalcul des valeurs
                var tarifDuobat = $('input[name=modal_article_prix_tarif]').val();
                var remise = $('input[name=modal_article_remise]').val();
                var prixRevient = $('input[name=modal_article_pr]').val();

                var prixNet = roundFourthDecimal((tarifDuobat-(tarifDuobat*remise/100)));
                //var prixNet = Math.round(tarifDuobat-(tarifDuobat*remise/100));
                //var marge = Math.round(((1-(prixRevient/prixNet))*100)*100)/100;
                //$('input[name=modal_article_marge]').val(marge);
                $('input[name=modal_article_prix_net]').val(prixNet);
                $('input[name=modal_article_total_ligne]').val(roundFourthDecimal(prixNet * $('input[name=modal_article_quantite]').val()));

                // Calcul du reliquat
                $('input[name=modal_article_reliquat]').val(0);
				var qte = parseInt($('input[name=modal_article_quantite]').val());
				var selectedSite = $('select[name=modal_article_site]').val().toLowerCase();
				
				if(selectedSite && choice && choice.tenue[selectedSite] && Number.isInteger(qte) && qte>choice.tenue[selectedSite][1]) {

					$('input[name=modal_article_reliquat]').val(qte - choice.tenue[selectedSite][1]);

				}

	            // Marge
	            var marge = ($('input[name=modal_article_prix_net]').val() - $('input[name=modal_article_pr]').val());
	            marge = roundFourthDecimal(marge);
	            $('input[name=modal_article_marge]').val(marge);

	            // TMB
	            console.log(prixRevient+" "+prixNet);
	            var tmb = Math.round(((1-(prixRevient/prixNet))*100)*100)/100;
	            $('input[name=modal_article_tmb]').val(tmb);

                return true;

            } else {
               var errors = isFormValid(toCheck);

                for (var i = 0; i < errors.length; i++) {
                    $(errors[i][0]).addClass('toCheck');
                    $(errors[i][0]+'+p').remove();
                    $(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
                } 

                return false;
            }
        }


         $('input[type=text][name=modal_article_remise]').keyup(function() {
            getPrices();
         });


         $('input[type=text][name=modal_article_quantite]').keyup(function() {
            getPrices();
         });


        /**
         * Total du commande
         * 
         */      
        function getTotal() {
        	if(currentCommandeObject.articles && currentCommandeObject.articles.length) {
        		var total = 0;
        		if(checkIfNumber($('input[name=frais_transport]').val())) {
					total+= parseFloat($('input[name=frais_transport]').val());
        		}

        		for (var i = 0; i < currentCommandeObject.articles.length; i++) {
        			total+= parseFloat(currentCommandeObject.articles[i].total_ligne);
        		}

        		total = roundFourthDecimal(total);
        	}   
        	$('input[name=totalcommande]').val(total);
        }


         $('input[type=text][name=frais_transport]').keyup(function() {
            getTotal();
         });



		
		/*=====  End of Ajout / edition des articles  ======*/
						
	</script>
{% endblock %}