{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %}Fiche client : {{clients.raisonsociale}}{% endblock %}</title> 
<H1><center>{{clients.raisonsociale}}</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>        
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
<link href="../css/fontawesome-all.css" rel="stylesheet">

{% endblock %}


{% block body %}
   

    
<div class="fiche">
	<form id="ficheClient">
            <section>
			<h2>Informations générales</h2>
               
			<div>
				<div class="half">
                                    <div class="row">
						<div>Client / prospect </div>
                                        
                                        <input type="radio" name="type" value="1" checked > Client </input>
                                        <input type="radio" name="type" value="2" > Prospect</input>
                                        
                                    </div>	
                                    <div class="row">
						<div>Client concerné</div>
						<div>
							<input type="text" id="adresse1" value="{{clients.adresse1}}"></input>
						</div>
                                    </div>
                                </div>
                                <div class="half">
                                    <div class="row">
                                        <div>Date démarche</div>
                                        
                                        <input type="date" id="civilite">Monsieur</input>
                                    </div>
                                    
                                    <div class="row">
						<div>Source</div>
						<div>
							<input type="text" id="adresse2"  value="{{}}"></input>
						</div>
                                    </div>    
                                </div>
                                
                                  
                           
                </section>

    </form>

<div style="padding-left:15%">
<button class="bouton boutoncli" onclick="openPage('vehicule', this, '#26526f')"  id="defaultOpen">Véhicule essayé</button>
<button class="bouton boutoncli" onclick="openPage('bilan', this, '#26526f')">Bilan démarche</button>

</div>
<div id="vehicule" class="tabcontent">
  <section>
        <h2>Véhicule essayé</h2>
            <div class="half">
                <div class="row">
                            <div>Numéro de serie</div>
                            <div>
                                    <datalist id ="numeroserie" value="{{vehicule.noserie}}">

                                               {% for vehicules in vehicule %}
                                                    <option value="{{vehicules.noserie}}"> {{vehicules.marque}}  </option>
                                                {% endfor%}


                                    </datalist>
                            </div>
                </div>

                <div class="row">
                    <div>Marque</div>
                            <input type="text" name="logement" value="1"> Locataire</input>

                </div>	
                        
                <div class="row">
                    <div>Couleur</div>
                            <input type="text" name="logement" value="1"> Locataire</input>

                </div>	
            </div>
                                                
    </section>
            

<div id="bilan" class="tabcontent">
   <section>
        <h2>Bilan de la démarche</h2>

               <div class="half">
					
                                    <div class="row">
						<div>Commentaires</div>
						<div>
                                                    <input type="text" name="csp"></input>
						</div>
					</div>	
                            </div> 
                            <div class="half">
					<div class="row">
						<div>Statut</div>
						<div>
                                                    <input type="text" id="statut" >Statut </input>
                                                    
						</div>
					</div>	
                                    <div class="row">
						<div>Date de relance</div>
                                                <div>
							                                                        <input type="text" id="statut" >Statut </input>
                                                <input type="date" id="date" value="1" > Salarié</input>

						</div>
					</div>	
                                
                            </div> 
                              
                                            
<div class="row buttonsSave">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
        </section>
</div>

<div id="Contact" class="tabcontent">
   <section>
                                <h2>Informations juridiques</h2>

            
                                        <div class="row">
					<div>Franco</div>
					<div>
						<input type="text" name="franco" />
					</div>
				</div>

				<div class="row">
					<div>N° SIRET</div>
					<div>
						<input type="text" name="siret" />
					</div>
				</div>

				<div class="row">
					<div>Code NAF</div>
					<div>
						<input type="text" name="naf" />
					</div>
				</div>

				<div class="row">
					<div>Code TVA</div>
					<div>
						<input type="text" name="tva" />
					</div>
				</div>

				<div class="row">
					<div>IBAN</div>
					<div>
						<input type="text" name="iban" />
					</div>
				</div>

				<div class="row">
					<div>BIC</div>
					<div>
						<input type="text" name="bic" />
					</div>
				</div>

				<div class="row">
					<div>Condition paiement</div>
					<div>
						<select name="condition_id" id="listConditions">
								
						</select>
					</div>
				</div>
            <div class="row buttonsSave">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
            
        </section>
</div>

<div id="About" class="tabcontent">
  <section>
       <h2>Véhicules</h2>
        <table id="listingClients">
        <thead>
        <tr>
            <th>No_serie</th>
            <th>Nom client</th>
            <th>Immatriculation</th>
            <th>Couleur</th>  
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculeclient in vehicule %}
        <tr style="color:black">
            <td style="text-align:right;"><a href="/vehicule-fiche/{{vehiculeclient.id}}">{{vehiculeclient.no_serie}}</td></a>
            <td>{{vehiculeclient.nom_client}}</th>
            <td>{{vehiculeclient.immat}}</th>
            <td>{{vehiculeclient.couleur}}</th> 
            <td style="background:green;">Remise en Dispo Parc <i class="fa fa-arrow-circle-right"></i></td>
        </tr>

        {%endfor%}

    </tbody>
      <div class = "actionscli">
             <span class="bouton boutoncomm" onClick=""><i class="fas fa-car"></i> Proposer un autre véhicule du parc </span>

        </div>    
</table>
  </section>
</div>
<div id="Sales" class="tabcontent">
  <section id ="sales">
       <h2>Taches/Démarches/Propositions en cours de traitement</h2>
        <table id="listingClients">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Date</th>
            <th>Nb jours</th>
            <th>Etape</th>
            <th>Description</th>
            <th>Etat</th>            
            <th>Transformer/Etat</th>
        </tr>
    </thead>
    <tbody>
        {% for memos in memo %}
        <tr style="color:black">
            <td style="text-align:right;"><a href="/tache-client/{{memos.id}}">{{memos.id}}</td></a>
            <td>{{memos.datecreation |date("m/d/Y")}}</td>
            <script  type="text/javascript">
                var today = new Date();
                var olday = new Date("{{memos.datecreation |date("m/d/Y")}}");
   
                today = today.getTime() / 86400000;
                olday = olday.getTime() / 86400000;
                var total = Number(today - olday).toFixed(0);
                document.write("<td> "+total +"</td>");
                
            </script>
            
            {% if memos.etape == "TA" %} 
                   <td style="background:whitesmoke">Tache</td>
            {% elseif memos.etape == "DE" %} 
                   <td style="background:white">Démarche</td>
            {% endif %}
            <td>{{memos.contenu}}</td>
            {% if memos.etat == 2 %} 
                   <td style="background:greenyellow"><i class="fas fa-check-circle"></i> Réalisé</td>
            {% elseif memos.etat == 1 %} 
                   <td style="background:red;text-decoration:blink"><i class="fas fa-tasks"></i> A faire</td>
            {% endif %}
            
            {% if memos.etape == 1 %} 
                   <td><i class="fas fa-check-circle"></i> Tranformer en démarche</td>
            {% elseif memos.etape == "DE" %} 
                   <td><i class="fas fa-file-invoice-dollar"></i> Transformer en devis</td>
            {% endif %}
            
        </tr>

        {%endfor%}

        {% for devis in devis if devis.statut == 1%}
        <tr style="color:black">
            <td style="text-align:right;"><a href="/vehicule-fiche/{{devis.id}}">{{devis.id}}</td></a>
            <td> {{devis.date|date("m/d/Y")}} </td>
            <script  type="text/javascript">
                var today = new Date();
                var olday = new Date("{{devis.date |date("m/d/Y")}}");
   
                today = today.getTime() / 86400000;
                olday = olday.getTime() / 86400000;
                var total = Number(today - olday).toFixed(0);
                document.write("<td> "+total +"</td>");
                
            </script>
            <td>Proposition</td>
            <td>{{devis.observations}}</td>
            {% if devis.etat == 2 %} 
                   <td style="background:greenyellow"><i class="fas fa-check-circle"></i> Réalisé</td>
            {% elseif devis.etat == 1 %} 
                   <td style="background:red"><i class="fas fa-tasks"></i> A faire</td>
            {% endif %}
            
            {% if devis.statut == 1 %} 
                   <td><i class="fas fa-check-circle"></i> En attente de réponse </td>
            {% elseif devis.statut == 2 %} 
                   <td><i class="fas fa-file-invoice-dollar"></i> gagné </td>
            {% elseif devis.statut == 3 %} 
                   <td><i class="fas fa-file-invoice-dollar"></i> perdu </td>
                   
            {% endif %}
            
        </tr>

        {%endfor%}

    </tbody>
        <div class = "actionscli">
             <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Creer tâche comm. </span>
             <span class="bouton boutoncomm" onClick=""><i class="fas fa-history"></i> Historique commercial </span>

        </div>    
    </table>
       
</section>

</div>

        
<div id="Geoloc" class="tabcontent">
  <section>
                <h2>Géolocalisation{{clients.latitude}} et {{clients.longitude}}</h2>
                <input type="hidden" id = "latitude" value={{clients.latitude}}></input>
                <input type="hidden" id = "longitude" value={{clients.longitude}}></input>


                <style>
                       /* Set the size of the div element that contains the map */
                      #map {
                        height: 400px;  /* The height is 400 pixels */
                        width: 100%;  /* The width is the width of the web page */
                       }
                </style>
                    <!--The div element for the map -->
                    <script>


    
                    </script>
                    <div id="map"></div>
                    
                    
                    
                    
                    
                 <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAroK8V4ITvez_OtFm6diJr71UXifdohbk&callback=initMap">
                </script>
                
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                        
                    
                 
                
                
                    
                 
                    <!-- document.write('ESSAI');//-->
                
      
  </section>
</div>
<div class="row buttonsSave">
        <input type="submit" class="bouton boutonsave" value="Enregistrer" />		
</div>
      

{%endblock%}

{% block extrajs %}
    
    
        {% endblock %}