{% extends 'front/_base.html.twig' %}

{% block header %}
<p><i class="fas fa-calculator"></i> CREER / EDITER UNE PROPOSITION</p>                    
{% endblock %}

{% block body %}
<style type="text/css">
	.SumoSelect{width:80%;}
</style>
<div class="fiche">
	<form id="ficheDevis">

		<section>
			<h2>Informations générales</h2>
			<div>
				<div class="row">
					<div>Client</div>
					<div>
						<select name="client_id" id="listclient">
							<option value=""></option>
						</select>
					</div>
				</div>

				<div class="row">
					<div>N° Proposition</div>
					<div>
						<input type="text" name="code" disabled />
					</div>
				</div>

				<div class="row">
					<div>Commentaires</div>
					<div>
						<input type="text" name="commentaires" />
					</div>
				</div>

				<div class="row">
					<div>Ref</div>
					<div>
						<input type="text" name="ref" />
					</div>
				</div>

				<div class="row">
					<div>Site de vente</div>
					<div>
						<select name="site" id="listsite">
						</select>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h2>Adresse de livraison</h2>
			<div>
				<div class="full margingrey">
					<h3>Choisissez l'adresse de livraison</h3>
					<span class="bouton add topright" id="nvAdresse"><i class="fas fa-address-card"></i> Nouvelle adresse</span>
					<div id="adresses">
						<p>Aucune adresse disponible pour ce client</p>
					</div>
				</div>
			</div>	

		</section>

		<section>
			<h2>Articles</h2>
			<div>
				<div class="full margingrey">
					<h3>Articles compris dans la Proposition</h3>
					<span class="bouton add topright" id="nvArticle"><i class="fas fa-cart-plus"></i> Ajouter un article</span>
					<div id="articles">
						<p>Aucune article intégré dans cette proposition</p>
						
					</div>
				</div>	

				<div class="half">
					<div class="row">
						<div>Frais de transport</div>
						<div>
							<input type="text" name="frais_transport" value="0" />
						</div>
					</div>	
				</div>

				<div class="half">
					<div class="row">
						<div>Total HT</div>
						<div>
							<input type="text" name="totaldevis" disabled />
						</div>
					</div>	
				</div>
			</div>		
		</section>

		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
	</form>
</div>



{% endblock %}



{% block modal %}

	<span id="modalBg"></span>


	<div class="modal" id="editAdresse">
		<form id="formAdresse">
			<section>
				<h2>Adresse</h2>
				<div>
					<div class="row">
						<div>Code</div>
						<div>
							<input type="text" name="modal_adresse_code" disabled />
						</div>
					</div>

					<div class="row">
						<div>Pays</div>
						<div>
							<select name="modal_adresse_pays">
							</select>
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 1</div>
						<div>
							<input type="text" name="modal_adresse_adresse1" />
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 2</div>
						<div>
							<input type="text" name="modal_adresse_adresse2" />
						</div>
					</div>
					
					<div class="row">
						<div>Adresse 3</div>
						<div>
							<input type="text" name="modal_adresse_adresse3" />
						</div>
					</div>	
					
					<div class="row">
						<div>Code postal</div>
						<div>
							<input type="text" name="modal_adresse_postal" />
						</div>
					</div>	
					
					<div class="row">
						<div>Ville</div>
						<div>
							<input type="text" name="modal_adresse_ville" />
						</div>
					</div>
					
					<div class="row">
						<div>Liv/Chantier</div>
						<div>
							<input type="text" name="modal_adresse_livchantier" />
						</div>
					</div>	
					
					<div class="row">
						<div>Téléphone</div>
						<div>
							<input type="text" name="modal_adresse_telephone" />
						</div>
					</div>
					
					<div class="row">
						<div>Portable</div>
						<div>
							<input type="text" name="modal_adresse_portable" />
						</div>
					</div>	
					
					<div class="row">
						<div>Fax</div>
						<div>
							<input type="text" name="modal_adresse_fax" />
						</div>
					</div>
					
					<div class="row">
						<div>Email</div>
						<div>
							<input type="text" name="modal_adresse_email" />
						</div>
					</div>	


					<div class="row buttonsrow">
						<input type="button" class="bouton" value="OK" id="saveModalAdr" />
						<input type="button" class="bouton"  value="Annuler" id="closeModalAdr" />
					</div>			
				</div>

			</section>
		</form>
	</div>


	<div class="modal" id="editArticle">
		<form id="formArticle">
			<section>
				<h2>Article</h2>
				<div>
					<div class="row">
						<div>Article</div>
						<div>
							<select name="modal_article_code" id="articleCode">
								<option value=""></option>
							</select>
							<span class="switchArticles">Inclure les articles non disponibles</span>
						</div>
					</div>

					<div class="infoStockDiv" style="display:none;">
						<table id="infoStock">
	                        <tr>
	                            <th></th>
	                            <th>Tenue stock</th>
	                            <th>Quantité dispo</th>
	                        </tr>
	                    </table> 
					</div>
					
					<div class="row">
						<div>Désignation</div>
						<div>
							<input type="text" name="modal_article_designation" disabled />
						</div>
					</div>
					
					<div class="row">
						<div>Site d'expédition</div>
						<div>
							<select name="modal_article_site">
							</select>
						</div>
					</div>

					<div class="row">
						<div>UV</div>
						<div>
							<input type="text" name="modal_article_uv" disabled />
						</div>
					</div>

					<div class="row">
						<div>UF</div>
						<div>
							<input type="text" name="modal_article_uf" disabled />
						</div>
					</div>

					<div class="row">
						<div>Quantité commandée</div>
						<div>
							<input type="text" name="modal_article_quantite" />
						</div>
					</div>

					<div class="row">
						<div>Reliquat</div>
						<div>
							<input type="text" name="modal_article_reliquat" disabled />
						</div>
					</div>

					<div class="row">
						<div>Ancien prix</div>
						<div>
							<input type="text" name="modal_article_ancienprix" disabled />
						</div>
					</div>

					<div class="row">
						<div>Tarif LIGIER</div>
						<div>
							<input type="text" name="modal_article_prix_tarif" disabled />
						</div>
					</div>

					<div class="row">
						<div>Remise</div>
						<div>
							<input type="text" name="modal_article_remise" />
						</div>
					</div>

					<div class="row">
						<div>Prix net HT</div>
						<div>
							<input type="text" name="modal_article_prix_net" disabled />
						</div>
					</div>

					<div class="row">
						<div>Total ligne</div>
						<div>
							<input type="text" name="modal_article_total_ligne" disabled />
						</div>
					</div>

					
					<div class="row">
						<span class="bouton" id="moreInfo"><i class="fas fa-eye"></i> +infos</span>
					</div>

					<div class="row hiddenBlock">
						<div>PR</div>
						<div>
							<input type="text" name="modal_article_pr" disabled />
						</div>
					</div>

					<div class="row hiddenBlock">
						<div>TMB</div>
						<div>
							<input type="text" name="modal_article_tmb" disabled />
						</div>
					</div>

					<div class="row hiddenBlock">
						<div>Marge</div>
						<div>
							<input type="text" name="modal_article_marge" disabled />
						</div>
					</div>


					<div class="row buttonsrow">
						<input type="button" class="bouton" value="OK" id="saveModalArt" />
						<input type="button" class="bouton boutoncancel"  value="Annuler" id="closeModalArt" />
					</div>			
				</div>

			</section>
		</form>
	</div>

{% endblock %}



{% block extrajs %}
	<script>
		var currentIdAdresse = null;
		var currentClient = null;
		var currentDevisObject = null;
		var currentArticle = null;
		var choice = null;
		var selectedAdresseId = null;
		var selectedAdresseCode = null;
		var jsonToGet = ["clients", "devis", "articles"];
		var storedData = {};
		var displayAvailableArticleOnly = true;

		$('document').ready(function() {
			getJsonData(jsonToGet[0]);
		});


		function displayData(results) {
			storedData[jsonToGet[0]+"All"] = results;
			jsonToGet.shift();
			if(jsonToGet.length) {
				// Il reste des données à récupérer
				getJsonData(jsonToGet[0]);
			} else {				
			
				// Récupère l'ID du client actif
				if(localStorage.getItem("currentClient"))
					currentClient = localStorage.getItem("currentClient"); 

				// Récupère le devis existant
				if(localStorage.getItem("currentDevis")) {
					currentDevis = localStorage.getItem("currentDevis"); 
	            	//storedData['devisAll'] = JSON.parse(localStorage.getItem("devis"));
		            currentDevisObject = storedData['devisAll'].filter(function (chain) {
		                return chain.code === currentDevis;
		            })[0];

		            fillForm(currentDevisObject, 'ficheDevis');
				}

				if(!currentDevisObject) {
					currentDevisObject = { "articles":[] };
					$('.global>header>p').html('<i class="fas fa-calculator"></i> CRÉER UN DEVIS');
				} else {
					$('.global>header>p').html('<i class="fas fa-calculator"></i> ÉDITER UN DEVIS');

					// Le nom du client courant est celui du devis
					if(currentDevisObject.client_code) {
						currentClient = currentDevisObject.client_code;
						localStorage.setItem("currentClient", currentClient);
					}
				}

				if(!currentDevisObject.articles) currentDevisObject.articles = [];
				else {
					try {
						currentDevisObject.articles = JSON.parse(currentDevisObject.articles);
					} catch(e) {
					}

				}

				//console.log(currentDevisObject);

				
				// Met à jour les listes "select option"
				//var storedData['clientsAll'] = JSON.parse(localStorage.getItem('clients'));
				var clientsOption = "";
				for (var i = 0; i < storedData['clientsAll'].length; i++) {
					clientsOption += '<option value="'+storedData['clientsAll'][i]["code"]+'" '+(storedData['clientsAll'][i]["code"]==currentClient?'selected':'')+'>'+storedData['clientsAll'][i]["code"]+" - "+storedData['clientsAll'][i]["raisonsociale"]+'</option>';		
				}
				$('#listclient').append(clientsOption);	

				if(currentDevisObject && !currentDevisObject.client_code) {
					$('#listclient').SumoSelect({search:'true', placeholder:'Choisissez un client'});
				} else {
					$('#listclient').prop('disabled', true);
				}

				$('#articleCode').SumoSelect({search:'true', placeholder:'Choisissez un article'});

				updateSelectArticle('articleCode', displayAvailableArticleOnly, storedData['articlesAll']);


				// Met à jour la liste "select option" pour les pays
				var localPays = JSON.parse(localStorage.getItem('pays'));
				for(var codePays in localPays) {
					var newoption = '<option value="'+codePays+'">'+localPays[codePays]+'</option>';
					$('select[name=modal_adresse_pays]').append(newoption);
				}
				$('select[name=modal_adresse_pays]').val('FR');


				// Met à jour la liste "select option" pour les sites de vente
				var sitevente = JSON.parse(localStorage.getItem('sitevente'));
				for(var key in sitevente) {

					var newoption = '<option value="'+sitevente[key][0]+'" '+(currentDevisObject.site_vente && currentDevisObject.site_vente == sitevente[key][0] ? 'selected' : '' )+'>'+sitevente[key][0]+" "+sitevente[key][1]+'</option>';
					$('select[name=site]').append(newoption);
				}


				// Met à jour l'affichage des adresses
				$('#listclient').change(function() {
					currentClient = $('#listclient').val();
					selectedAdresseId = null;
					selectedAdresseCode = null;
					refreshAdresses();
				});

				if(currentClient) refreshAdresses();
				if(currentDevisObject.adresse_code) selectAdresse(currentDevisObject.adresse_code);

				// L'adresse est déjà sélectionnée dans le devis
				// if(currentDevisObject.adresse_id && currentDevisObject.client_code) {
				// 	storedData['clientsAll'] = JSON.parse(localStorage.getItem("clients")); 

				// 	var client = storedData['clientsAll'].filter(function (chain) {
		  //               return chain.code === currentDevisObject.client_code;
		  //           })[0];

		  //           if(client) {
		  //           	var adresse = client.adresses.filter(function (chain) {
			 //                return chain.id === currentDevisObject.adresse_id;
			 //            })[0];

			 //            if(adresse) {
				// 			selectAdresse(adresse.code);
			 //            }
		  //           }
				// } 

				// Affiche les articles si existant
				if(currentDevisObject.articles && currentDevisObject.articles.length) 
					refreshArticles();
				
				


				// Enregistrement du devis
				$('#ficheDevis').submit(function(event) {
					event.preventDefault();

					client = getClientByCode(currentClient, storedData['clientsAll']);

					if(!currentClient) {
						alert('Vous devez sélectionner un client pour ce devis');
					} else if(!selectedAdresseCode) {
						alert('Aucune adresse de livraison sélectionnée');
					} else {

						if(selectedAdresseCode) currentDevisObject.adresse_code = selectedAdresseCode;
						//currentDevisObject.client_id = currentClient;
						currentDevisObject.client_code = client.code;

						// Si besoin, crée une liste vide de devis
						//if(!client.devis) client.devis = [];

						// Intègre les données dans le devis					
						$('#ficheDevis input[type=text]').each(function() {
							currentDevisObject[$(this).prop('name')] = $(this).val();
						});

						// Enregistrement
						if(!localStorage.getItem("devis") || localStorage.getItem("devis")=="") localStorage.setItem("devis", '[]');
						localStorageDevis = JSON.parse(localStorage.getItem("devis"));


						// Pas de devis existant
						if(!currentDevisObject.code) {
							var date = new Date();
							// Code temporaire en attendant la synchro
							currentDevisObject.code = "_"+date.getFullYear()+"-"+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+"-"+(date.getDate()<10?'0':'')+date.getDate()+"-"+date.getHours()+date.getMinutes()+date.getSeconds()+"-"+Math.round(Math.random()*1000);

							// Date du devis
							currentDevisObject.date_creation = date.getFullYear()+"-"+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+"-"+(date.getDate()<10?'0':'')+date.getDate();

							// Infos de suivi 
							currentDevisObject.observations = "";
							currentDevisObject.statut = "";
							currentDevisObject.date_etat = "";
							currentDevisObject.etat = "";
							currentDevisObject.perte = "";
							//currentDevisObject.totalHT = 0;
							
							
							localStorageDevis.push(currentDevisObject);
							localStorage.setItem("devis", JSON.stringify(localStorageDevis));
							displayMessage('Devis '+currentDevisObject.code+' créé');
                            changeStorageAndGo([currentDevis, null],'devis-listing');

						} else {
							var flag = false;
							// Mise à jour 
		                    for (var i = 0; i < localStorageDevis.length; i++) {
		                        if(localStorageDevis[i].code == currentDevisObject.code) {
		                        	flag = true;
		                            localStorageDevis[i] = currentDevisObject;

		                            localStorage.setItem("devis", JSON.stringify(localStorageDevis));
		                            queueMessage('Devis '+currentDevisObject.code+' modifié');
		                            changeStorageAndGo([currentDevis, null],'devis-listing');
		                            break;
		                        }
		                    }
		                    if(!flag) {
		                    	localStorageDevis.push(currentDevisObject);
								localStorage.setItem("devis", JSON.stringify(localStorageDevis));
								displayMessage('Devis '+currentDevisObject.code+' créé');
	                            changeStorageAndGo([currentDevis, null],'devis-listing');
		                    }

						}


					}
				});


				// Afficher / Masquer les infos cachées
				$('#moreInfo').click(function() {				
					if($('.hiddenBlock').is(':visible')) {
						$('#moreInfo i').removeClass('fa-eye-slash');
						$('.hiddenBlock').fadeOut(200);
					} else {
						$('#moreInfo i').addClass('fa-eye-slash');
						$('.hiddenBlock').fadeIn(200);
					}
					
				});


				// Modal adresse
				$('#nvAdresse').click(function() {
					currentIdAdresse = null;
					openModal('editAdresse');
				});

				$('#closeModalAdr').click(function() {
					closeModal('editAdresse');
				});

				$('#saveModalAdr').click(function() {
					addAdresse();
				});


			}
		}




		/*============================================
		=            GESTION DES ADRESSES            =
		============================================*/		

		function saveModalAdresse(name) {
			closeModal(name);	
		}


		function addAdresse() {
			var client = getClientByCode(currentClient, storedData['clientsAll']);

			var modeleAdresse = {
							"id":"",
							"code":"",
							"pays_id": "", 
							"adresse1": "",
							"adresse2": "",
							"adresse3": "",
							"postal": "",
							"ville": "",
							"livchantier":"",
							"telephone":"",
							"portable":"",
							"fax":"",
							"email":""
							};


			var objAdresse = {};

			var newAdresseID = 1;
			// Génère une ID par rapport à celles existantes
			for (var i = 0; i < client.adresses.length; i++) {
				if(client.adresses[i]['id'] !="" && client.adresses[i]['id']>=newAdresseID)
					newAdresseID = client.adresses[i]['id'] + 1;
			}
			objAdresse.id = newAdresseID;

			var date = new Date;

			// Rempli l'objet objAdresse avec les données du formulaire
			$('#formAdresse input[type=text]').each(function(index) {
				objAdresse[$(this).prop('name').replace('modal_adresse_', '')] = $(this).val();
			});
			// Génère un code d'adresse s'il est vide
			if(!objAdresse.code) {
				objAdresse.code = generateNewAdressCode(client.adresses);
			}


			if(!currentIdAdresse) //Il n'y a pas d'ID actuelle, il s'agit d'une création
				addObjectToArrayClient(currentClient, "adresses", objAdresse);
			else {
				// Il y a une ID, c'est une modification
				for (var i = 0; i < client.adresses.length; i++) {
					if(client.adresses[i].id == currentIdAdresse) {
						// On remplace l'ancienne liste de prop par la nouvelle
						client.adresses[i] = objAdresse;
						updateClients(currentClient, client);
					}
				}
			}

			refreshAdresses();

			saveModalAdresse('editAdresse');

		}


		function refreshAdresses() {
			selectedAdresseId = null;
			selectedAdresseCode = null;
			var adresses = getClientByCode(currentClient, storedData["clientsAll"]).adresses;

			if(adresses.length) {
				$newAdressHTML = "<ul>";
				for (var i = 0; i < adresses.length; i++) {
					$newAdressHTML+= "<li id=\"adresse_"+adresses[i]["code"]+"\">";
					$newAdressHTML+= "<p><i class=\"fas fa-address-card\"></i>"+adresses[i]["adresse1"]+" - "+adresses[i]["postal"]+" "+adresses[i]["ville"]+"</p>";
					$newAdressHTML+= '<div>';
					$newAdressHTML+= '<span class="bouton boutonSelect" onClick="selectAdresse(\''+adresses[i].code+'\');"><i class="fas fa-crosshairs"></i> Sélectionner</span>';
					$newAdressHTML+= '</div>';
					$newAdressHTML+= "</li>";				
				}
				$newAdressHTML+= "</ul>";

				$('#adresses').html($newAdressHTML);				
			} else {
				$('#adresses').html('<p>Aucune adresse existante pour ce client</p>');
			}

		}

		function selectAdresse(codeadresse) {
			$('#adresses li').removeClass('selected');
			$('#adresses li i').removeClass('fa-check');
			$('#adresses li i').addClass('fa-address-card');
			$('#adresse_'+codeadresse).addClass('selected');
			$('#adresse_'+codeadresse+' i').addClass('fa-check');

			selectedAdresseCode = codeadresse;
		}


		// function editAdresse(idadresse) {
		// 	currentIdAdresse = idadresse;

		// 	var adresses = getClientByCode(currentClient).adresses;
		// 	for (var i = 0; i < adresses.length; i++) {
		// 		if(adresses[i].id == idadresse) {
		// 			var prefixInput = "modal_adresse_";
		// 			for (var key in adresses[i]){
		// 				if($('#editAdresse input[name='+prefixInput+key+']').length)
		// 			    	$('#editAdresse input[name='+prefixInput+key+']').val(adresses[i][key]);
		// 			}
		// 			openModal("editAdresse");
		// 			break;
		// 		}
		// 	}
			
		// }
				
		/*=====  End of GESTION DES ADRESSES  ======*/





		/*====================================================
		=            Ajout / edition des articles            =
		====================================================*/
		$('#nvArticle').click(function(){
			currentArticle = null;
			$('.hiddenBlock').hide();
			$('#infoStockDiv').hide();
			openModal("editArticle");			
		});

		function editArticle(codearticle) {
			currentArticle = codearticle;
			var article = currentDevisObject['articles'].filter(function (chain) {
                return chain.code === codearticle;
            })[0];
			
			fillForm(article, 'formArticle', 'modal_article_');
			$('input[name=modal_article_total_ligne]').val(roundFourthDecimal(article.total_ligne));
			openModal("editArticle");	
		}


		// Affiche dans la liste déroulante articleCode les articles n'ayant que de la dispo, ou alors tous les articles
		$('.switchArticles').click(function() {
			if(displayAvailableArticleOnly) {
				displayAvailableArticleOnly = false;
				$(this).html('<b>Exclure</b> les articles non disponibles');
			} else {
				displayAvailableArticleOnly = true;
				$(this).html('<b>Inclure</b> les articles non disponibles');				
			}
			updateSelectArticle('articleCode', displayAvailableArticleOnly, storedData['articlesAll']);
		});



		$('#articleCode').change(function() {
			// Au changement d'article, on envoie les données dans les champs du formulaire de la modal box
			//var allArticles = JSON.parse(localStorage.getItem('stock'));
			//console.log(allArticles);
			$('input[name=modal_article_quantite]').val(0);
			console.log("change");
			var articleSelected = null;
			var elementPos = storedData["articlesAll"].map(function(x) {return x.code; }).indexOf($(this).val());
			console.log(elementPos);
			if(elementPos>=0) {
				choice = storedData['articlesAll'][elementPos];
				fillForm(choice, 'editArticle', 'modal_article_' );

				// Prix de revient
				if(getSiteCommercial()=='LI1') {
                    $('input[name=modal_article_pr]').val(choice.prix_revient_lille);
                } else {
                    $('input[name=modal_article_pr]').val(choice.prix_revient_rennes);
                }


				// Remplit également le tableau des stocks #infoStock
				// Et la liste des sites d'expédition disponibles
				$('.trStock').remove();
				$('select[name=modal_article_site] option').remove();

				for(var site in choice.tenue) {
					if(choice.tenue[site][0] || choice.tenue[site][1]) {
	                    var html = "<tr class=\"trStock\">";
	                    html+= "<td>"+site.toUpperCase()+"</td>";
	                    html+= "<td>"+choice.tenue[site][0]+"</td>";
	                    html+= "<td>"+choice.tenue[site][1]+"</td>";
	                    html+= "</tr>";
	                    $('#infoStock').append(html); 

	                    $('select[name=modal_article_site]').append('<option value="'+site.toUpperCase()+'">'+site.toUpperCase()+'</option>');

					}   
                }
				$('.infoStockDiv').show();
			}


		});




		$('#saveModalArt').click(function() {			
			var nvArticle = {};			
			$('#editArticle input[type=text]').each(function() {
				nvArticle[$(this).prop("name").replace('modal_article_', '')] = $(this).val();
			});	

			$('select').each(function() {
				nvArticle[$(this).prop("name").replace('modal_article_', '')] = $(this).val();
			});

			
			// Vérifie les données
			var toCheck = {"checkForNumber": [
											"input[name=modal_article_quantite]",
											"input[name=modal_article_prix_tarif]",
											"input[name=modal_article_remise]",
											],
							"checkForPositiveNumber": [
											"input[name=modal_article_quantite]"
											]
						}

			if(isFormValid(toCheck) === true) {
				// Il s'agit d'une création
				if(!currentArticle) {
					nvArticle.id = 1;
					// Défini la nouvelle ID en fonction des articles déjà présents
					for (var i = 0; i < currentDevisObject.articles.length; i++) {
						if(currentDevisObject.articles[i].id>=nvArticle.id) nvArticle.id = currentDevisObject.articles[i].id+1;
					}
					currentDevisObject.articles.push(nvArticle);
				} else {
					// Il s'agit d'une édition d'un article déjà intégré au devis
					for (var i = 0; i < currentDevisObject.articles.length; i++) {
						if(currentDevisObject.articles[i].code==currentArticle) {
							nvArticle.id = currentDevisObject.articles[i].id;
							currentDevisObject.articles[i] = nvArticle;
						}
					}
				}

				refreshArticles();

				$('#infoStockDiv').hide(); // Cache le tableau des stocks
				closeModal('editArticle');
			} else {
				removeErrorMessageForm('#editArticle');

				var errors = isFormValid(toCheck);

				for (var i = 0; i < errors.length; i++) {
					$(errors[i][0]).addClass('toCheck');
					$(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
				}
				console.log(isFormValid(toCheck));
			}



		});


		$('#closeModalArt').click(function() {
			closeModal('editArticle');
		});


		function refreshArticles() {
			$newArticleHTML = "<ul>";
			for (var i = 0; i < currentDevisObject.articles.length; i++) {
				$newArticleHTML+= "<li id=\"article_"+currentDevisObject.articles[i]["code"]+"\">";
				$newArticleHTML+= "<p><i class=\"fas fa-caret-square-right\"></i>"+currentDevisObject.articles[i]["code"]+" - "+currentDevisObject.articles[i]["designation"]+" </p>";
				$newArticleHTML+= "<table class=\"detailArticle\"><tr>";
				$newArticleHTML+= "<td>Tarif ligier : "+roundFourthDecimal(currentDevisObject.articles[i].prix_tarif)+"</td>";
				$newArticleHTML+= "<td>Remise : "+roundFourthDecimal(currentDevisObject.articles[i].remise)+" %</td>";
				$newArticleHTML+= "<td>Prix net : "+roundFourthDecimal(currentDevisObject.articles[i].prix_net)+"</td>";
				$newArticleHTML+= "<td>Quantité : "+roundFourthDecimal(currentDevisObject.articles[i].quantite)+"</td>";
				$newArticleHTML+= "<td>Total : "+roundFourthDecimal(currentDevisObject.articles[i].total_ligne)+"</td>";
				$newArticleHTML+= "</tr></table>";

				$newArticleHTML+= '<div>';
				$newArticleHTML+= '<span class="bouton boutonSelect" onClick="editArticle(\''+currentDevisObject.articles[i].code+'\');"><i class="fas fa-edit"></i> Modifier</span>';
				$newArticleHTML+= '<span class="bouton boutonDelete" onClick="deleteArticle(\''+currentDevisObject.articles[i].code+'\');"><i class="fas fa-trash"></i> Supprimer</span>';
				$newArticleHTML+= '</div>';
				$newArticleHTML+= "</li>";				
			}
			$newArticleHTML+= "</ul>";

			$('#articles').html($newArticleHTML);

			getTotal();				
		}


		function deleteArticle(code) {
			if(confirm("Voulez-vous supprimer cet article ?")) {
				for (var i = 0; i < currentDevisObject.articles.length; i++) {
					if(currentDevisObject.articles[i].code == code) {
						currentDevisObject.articles.splice(i, 1);
						break;
					}
				}
				
				refreshArticles();
			}
		}




        /**
         * Recalcul du prix net selon la remise
         * 
         */      
        function getPrices() {
         	// Retire les messages d'erreur
            $('input[type=text][name=modal_article_remise]').removeClass('toCheck');
            $('input[type=text][name=modal_article_remise]+p').remove();
            // Vérifie les données
            var toCheck = {"checkForNumber": [
                                            "input[name=modal_article_remise]",
                                            "input[name=modal_article_quantite]"
                                            ]
                        }

            if(isFormValid(toCheck) === true) {
                // Recalcul des valeurs
                var tarifDuobat = $('input[name=modal_article_prix_tarif]').val();
                var remise = $('input[name=modal_article_remise]').val();
                var prixRevient = $('input[name=modal_article_pr]').val();

                var prixNet = Math.round((tarifDuobat-(tarifDuobat*remise/100))*100)/100;
                //var marge = Math.round(((1-(prixRevient/prixNet))*100)*100)/100;
                //$('input[name=modal_article_marge]').val(marge);
                $('input[name=modal_article_prix_net]').val(prixNet);
                $('input[name=modal_article_total_ligne]').val(roundFourthDecimal(prixNet * $('input[name=modal_article_quantite]').val()));

                // Calcul du reliquat
                $('input[name=modal_article_reliquat]').val(0);
				var qte = parseInt($('input[name=modal_article_quantite]').val());
				var selectedSite = $('select[name=modal_article_site]').val().toLowerCase();
				if(selectedSite && choice && choice.tenue[selectedSite] && Number.isInteger(qte) && qte>choice.tenue[selectedSite][1]) {

					$('input[name=modal_article_reliquat]').val(qte - choice.tenue[selectedSite][1]);
				}

	            // Marge
	            var marge = ($('input[name=modal_article_prix_net]').val() - $('input[name=modal_article_pr]').val());
	            marge = roundFourthDecimal(marge);
	            $('input[name=modal_article_marge]').val(marge);

	            // TMB
	            console.log(prixRevient+" "+prixNet);
	            var tmb = Math.round(((1-(prixRevient/prixNet))*100)*100)/100;
	            $('input[name=modal_article_tmb]').val(tmb);

                return true;

            } else {
               var errors = isFormValid(toCheck);

                for (var i = 0; i < errors.length; i++) {
                    $(errors[i][0]).addClass('toCheck');
                    $(errors[i][0]+'+p').remove();
                    $(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
                } 

                return false;
            }
        }


         $('input[type=text][name=modal_article_remise]').keyup(function() {
            getPrices();
         });


         $('input[type=text][name=modal_article_quantite]').keyup(function() {
            getPrices();
         });


        /**
         * Total du devis
         * 
         */      
        function getTotal() {
        	if(currentDevisObject.articles && currentDevisObject.articles.length) {
        		var total = 0;
        		if(checkIfNumber($('input[name=frais_transport]').val())) {
					total+= parseFloat($('input[name=frais_transport]').val());
        		}


        		for (var i = 0; i < currentDevisObject.articles.length; i++) {
        			total+= parseFloat(currentDevisObject.articles[i].total_ligne);
        		}
    			total = roundFourthDecimal(total);
        	}   

        	$('input[name=totaldevis]').val(total);
        }


         $('input[type=text][name=frais_transport]').keyup(function() {
            getTotal();
         });



		
		/*=====  End of Ajout / edition des articles  ======*/
						
	</script>
{% endblock %}