{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-calculator"></i> Propositions</p>                    
{% endblock %}


{% block body %}
<div id="ficheDevisListing">
    <!-- Colonne de listing -->
    <div id="devisListing">  
        <button id="nvDevisBt" class="bouton boutonNvDevis"><i class="fas fa-plus"></i> Nouvelle proposition</button>          
        <div class="filter">
            <div style="font-size:1.1em;">Code client : <input type="text" name="filterClient" /></div>
        </div>
        <table id="tableDevisListing" class="display">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th>N° devis</th>
                    <th>Total HT</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Fiche produit -->
    <div id="devisListingFiche">
        <p class="empty">Sélectionnez une proposition pour accéder au statut</p>
        <div id="detailDevis" style="display:none;">
            <form id="detailDevisForm">
                <header>
                    <p id="raisonsociale"><i class="fas fa-address-card"></i> <span></span></p>
                    <p id="code"><i class="fas fa-hashtag"></i> <span></span></p>
                    <p id="date"><i class="fas fa-calendar-alt"></i> <span></span></p>
                </header>

                <h3>Etat proposition</h3>
                <div class="row">
                    <ul>
                        <li><label><input type="radio" name="etat" value="2" /> <span>Partiellement commandé</span></label></li>
                        <li><label><input type="radio" name="etat" value="3" /> <span>Totalement commandé</span></label></li>
                        <li><label><input type="radio" name="etat" value="1" /> <span>Non commandé</span></label></li>
                        <li><label><input type="radio" name="etat" value="4" /> <span>Relancé par l'itinérant</span></label></li>
                        <li><label><input type="radio" name="etat" value="5" /> <span>Relancé par sédentaire</span></label></li>
                    </ul>
                </div>
                <div class="row">
                    <label>En date du</label>
                    <input type="text" name="date_etat" />
                </div>

                <h3>Statut proposition</h3>
                <div class="row">
                    <ul>
                        <li><label><input type="radio" name="statut" value="2" /> <span>Gagné</span></label></li>
                        <li><label><input type="radio" name="statut" value="3" /> <span>Gagné partiel</span></label></li>
                        <li><label><input type="radio" name="statut" value="1" /> <span>En cours</span></label></li>
                        <li><label><input type="radio" name="statut" value="4" /> <span>Perdu</span></label></li>
                    </ul>
                </div>

                <h3>Motif de perte</h3>
                <div class="row">
                    <ul>
                        <li><label><input type="radio" name="perte" value="2" /> <span>Trop cher</span></label></li>
                        <li><label><input type="radio" name="perte" value="3" /> <span>Délai trop long</span></label></li>
                        <li><label><input type="radio" name="perte" value="4" /> <span>Produit non-conforme</span></label></li>
                        <li><label><input type="radio" name="perte" value="5" /> <span>Autre</span></label></li>
                    </ul>
                </div>

                <h3>Précisions / Observations</h3>
                <div class="row">
                    <textarea name="observations"></textarea>
                </div>

                <div class="row" style="text-align:center;">
                    <button class="bouton boutonsave boutonNormalize" id="saveDevisBt"><i class="fas fa-save"></i> Enregistrer</button>
                    <button class="bouton boutonNormalize" id="detailDevisBt"><i class="fas fa-list-alt"></i> Détails proposition</button>
                </div>               

            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block extrajs %}
	<script>
        // Ajoute des données de test si besoin
        if(!localStorage.getItem('devis')) {            
            localStorage.setItem('devis', JSON.stringify([]));
        }
        
        var jsonToGet = ["clients", "devis"];
        var storedData = {};
        var clientsRaisonsSociales = [];

        $('document').ready(function() {
            getJsonData(jsonToGet[0]);
        });


        function displayData(results) {
            storedData[jsonToGet[0]+"All"] = results;
            jsonToGet.shift();
            if(jsonToGet.length) {
                // Il reste des données à récupérer
                getJsonData(jsonToGet[0]);
            } else {
                // Récupère les raisons sociales de tous les clients
                for(var key in storedData.clientsAll) {
                    clientsRaisonsSociales[storedData.clientsAll[key].code] = storedData.clientsAll[key].raisonsociale;
                }


                var liste = "";


                $.each(storedData['devisAll'], function(index, value) {

                    var statutTexte = "A définir";
                    switch(value.statut) {
                        case "1" : 
                            statutTexte = "En cours";
                            break;

                        case "2" :
                            statutTexte = "Gagné";
                            break;

                        case "3" :
                            statutTexte = "Gagné partiel";
                            break;

                        case "4" :
                            statutTexte = "Perdu";
                            break;
                    }

                    liste+= "<tr onClick=\"dislayDevis('"+value.code+"');\">";
                    liste+= "<td>"+value.date_creation.split('-').join('-')+"</td>";
                    liste+= "<td>"+value.client_code+(clientsRaisonsSociales[value.client_code] ? '<br/>'+clientsRaisonsSociales[value.client_code]:'')+"</td>";
                    liste+= "<td>"+value.code+"</td>";
                    liste+= "<td>"+value.totaldevis+" €</td>";
                    liste+= "<td>"+statutTexte+"</td>";
                    liste+= "</tr>";
                });

                $('#tableDevisListing').append(liste);



                // Ajoute un filtre de recherche sur le client pré-sélectionné.
                var preSearch = {};
                var preSearchClientOnly = null;
                if(localStorage.getItem('currentClient') && localStorage.getItem('currentClientRaisonSociale')) {
                    //preSearch.search = localStorage.getItem('currentClient');
                    $('input[name=filterClient]').val(localStorage.getItem('currentClient'));
                    preSearchClientOnly = {'search' : localStorage.getItem('currentClient')};
                }


                $('#tableDevisListing').DataTable( {
                    "pageLength": 15,
                    "lengthChange": false,
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                    },
                    "search" : preSearch,
                    "searchCols": [null, preSearchClientOnly, null, null, null]
                } );


                $('input[name=filterClient]').keyup(function() {
                    $('#tableDevisListing').DataTable().column(1).search($(this).val()).draw();
                });

            }

        }



        $('#nvDevisBt').click(function(e) {
            e.preventDefault();
            changeStorageAndGo(["currentDevis", null], 'devis');
        });



        /**
         * Affiche l'article sélectionné dans la colonne de droite
         * 
         * @param code : code X3 de l'article
         */
        function dislayDevis(code) {
            var devis = storedData['devisAll'].filter(function (chain) {
                return chain.code === code;
            })[0];

            console.log(devis);

            if(devis) {
                $('.empty').hide();
                $('input[name=date_etat]').datepicker({
                    altField: "#datepicker",
                    closeText: 'Fermer',
                    prevText: 'Précédent',
                    nextText: 'Suivant',
                    currentText: 'Aujourd\'hui',
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    weekHeader: 'Sem.',
                    dateFormat: 'dd-mm-yy',
                    firstDay: 1
                });
                
                $('#detailDevis').fadeIn(200);
                $('#raisonsociale span').text(clientsRaisonsSociales[devis.client_code] ? clientsRaisonsSociales[devis.client_code] : devis.client_code);
                $('#code span').text(devis.code);
                $('#date span').text(devis.date_creation.split('-').join('-'));
                fillForm(devis, 'detailDevisForm');

                if(devis.statut && devis.statut!="") $('input[name=statut][value='+devis.statut+']').prop('checked', true);
                if(devis.etat && devis.etat!="") $('input[name=etat][value='+devis.etat+']').prop('checked', true);
                if(devis.perte && devis.perte!="") $('input[name=perte][value='+devis.perte+']').prop('checked', true);
                

                $('#detailDevisBt').click(function(e) {
                    e.preventDefault();
                    changeStorageAndGo(["currentDevis", devis.code], 'devis');

                });

                $('#saveDevisBt').click(function(e) {
                    e.preventDefault();
                    var data = getDataFromForm('detailDevisForm');

                    for(var key in data) {
                        devis[key] = data[key];
                    }

                    var flag = false;

                    devisLocalstorage = JSON.parse(localStorage.getItem("devis"));
                    for (var i = 0; i < devisLocalstorage.length; i++) {
                        if(devisLocalstorage[i].code == devis.code) {

                            devisLocalstorage[i] = devis;

                            localStorage.setItem("devis", JSON.stringify(devisLocalstorage));
                            displayMessage('Devis '+devis.code+' enregistré');
                            flag = true;
                            break;
                        }                        
                    }

                    if(!flag) {
                        devisLocalstorage.push(devis);
                        localStorage.setItem("devis", JSON.stringify(devisLocalstorage));
                            displayMessage('Devis '+devis.code+' enregistré');
                    }

                });

            } else {
                alert('Devis introuvable');
            }

        }
        

	</script>
{% endblock %}