{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> <span>Demande d'enlèvement</span></p>                    
{% endblock %}


{% block body %}
<style type="text/css">
	.SumoSelect{width:500px;}
</style>
<div class="fiche">
	<form id="ficheEnlevement">
		
		<section>
			<h2>Informations générales</h2>
			<div>
				<div class="row">
					<div>Client</div>
					<div>
						<select name="clients" required="true">
						</select>
					</div>
				</div>

				<div class="row">
					<div>Adresse</div>
					<div>
						<select name="adressecode">
						</select>
					</div>
				</div>

				<div class="row">
					<div>Demande</div>
					<div>
						<textarea name="demande" style="width: 90%; min-height: 65px;"></textarea>
					</div>
				</div>

			</div>
		</section>


		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Envoyer" />
			<input type="reset" id="reset" class="bouton boutonsave boutoncancel" value="Annuler" />			
		</div>	
	</form>
</div>


{% endblock %}




{% block extrajs %}
	<script>
		var currentEnlevement;
		var currentEnlevementObject;
		var clients;
		var cibleClient;


		$('document').ready(function() {
			if(!localStorage.getItem('enlevements')) localStorage.setItem('enlevements', JSON.stringify([]));

			getJsonData("clients");
		});


		function displayData(tabClient) {
			clients = tabClient;


			var html = '';
			for (var i = 0; i < clients.length; i++) {
				html += '<option value="'+clients[i].code+'" '+(clients[i].code == localStorage.getItem('currentClient') ? 'selected':'')+'>'+clients[i].raisonsociale+'</option>';
			}
			$('select[name=clients]').append(html);

			$('select[name=clients]').SumoSelect({search:'true'})

			// Si la liste se referme
			$('select[name=clients]').on('sumo:closed', function(sumo) {
				changeClient(clients);
			});

			changeClient(clients);
		}


		function changeClient() {
			var selectedClientCode = $('select[name=clients]').val();
			$('select[name=adressecode] option').remove();

			

			// Cherche dans les clients si le code existe
		    cibleClient = clients.filter(function (chain) {
                return chain.code === selectedClientCode;
            })[0];

		    if(cibleClient) {
		    	// Trouvé dans les clients, on va chercher les adresses 
		    	try {
		    		for (var i = 0; i < cibleClient.adresses.length; i++) {
		    			$('select[name=adressecode]').append('<option value="'+cibleClient.adresses[i].code+'">'+cibleClient.adresses[i].adresse1+' '+cibleClient.adresses[i].ville+'</option>');
		    		}
		    	} catch(e) {
		    		console.log(e);
		    	}


		    } 	
		}



		$('#reset').click(function() {
			window.location.href = 'sav-listing';
		});


		$('#ficheEnlevement').submit(function(e) {
			e.preventDefault();
			var enlevement = getDataFromForm('ficheEnlevement');

			enlevementAll = JSON.parse(localStorage.getItem('enlevements'));
			if(!enlevementAll) enlevementAll = [];

			if(!currentEnlevement || currentEnlevement=='null') {
				var date = new Date();
				enlevement.code = "_ENL_"+date.getFullYear()+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+(date.getDate()<10?'0':'')+date.getDate()+"-"+date.getHours()+date.getMinutes()+date.getSeconds()+"-"+Math.round(Math.random()*100);
				enlevement.date = date.getFullYear()+"-"+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+"-"+(date.getDate()<10?'0':'')+date.getDate();
				enlevement.raisonsociale = cibleClient.raisonsociale;

				if(enlevement.adressecode && cibleClient.adresses) {
					console.log(cibleClient.adresses);
					console.log(enlevement.adressecode);
					var adresseIndex = cibleClient.adresses.findIndex(function (chain) {
		                return chain.code === enlevement.adressecode;
		            })

					console.log(adresseIndex);
    				if(adresseIndex>=0) {
						enlevement.adresse_nom = cibleClient.adresses[adresseIndex].adresse1+" - "+cibleClient.adresses[adresseIndex].postal+" "+cibleClient.adresses[adresseIndex].ville;
		            }				
				}




				enlevementAll.push(enlevement);
				queueMessage("Nouvel enlèvement enregistré");
			} else {
				// Mise à jour du prospect dans le localStorage
				for (var i = 0; i < enlevementAll.length; i++) {
					if(enlevementAll[i].code == enlevement.code) {
						enlevementAll[i] = enlevement;
						queueMessage("Enlèvement modifié");
						break;
					}
				}
			}


			localStorage.setItem('enlevements', JSON.stringify(enlevementAll));		

			//window.location.href = 'sav-listing';



		});


	</script>
{% endblock %}