{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-calculator"></i> FACTURES</p>
{% endblock %}



{% block body %}
<div class="filter">
    <div>Code client : <input type="text" name="filterClient" /></div>
</div>

<table id="listingClients" class="display">
    <thead>
        <tr>
            <th>N° Commande</th>
            <th>N° Client</th>
            <th>Date</th>
            <th>Total HT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}



{% block extrajs %}
    <script>
        var jsonToGet = ["clients", "factures"];
        var storedData = {};

        $('document').ready(function() {
            // A supprimer à terme et à générer lors de la synchro
            $('#listingClients').hide();
           getJsonData(jsonToGet[0]);
        });



        // Affiche les données une fois l'ajax traité
        function displayData(results) {
            storedData[jsonToGet[0]+"All"] = results;
            jsonToGet.shift();
            if(jsonToGet.length) {
                // Il reste des données à récupérer
                getJsonData(jsonToGet[0]);
            } else {    

                var clients = {};
                for(var key in storedData['clientsAll']) {
                    clients[storedData['clientsAll'][key]['code']] = storedData['clientsAll'][key]['raisonsociale'];
                }
            
                if(!storedData["facturesAll"].length) {
                    $('#listingClients').append("<tr><td colspan=\"4\" style=\"text-align:center;\">Aucune facture disponible</td></tr>");

                } else {
                    var newHTML = "";
                    for (var i = 0; i < storedData["facturesAll"].length; i++) {
                        newHTML+= "<tr>";
                        newHTML+= "<td>"+storedData["facturesAll"][i].code+"</td>";
                        newHTML+= "<td>"+storedData["facturesAll"][i].client_code+(clients[storedData["facturesAll"][i].client_code] ? " - "+clients[storedData["facturesAll"][i].client_code] : '')+"</td>";
                        newHTML+= "<td><span style=\"display:none;\">"+storedData["facturesAll"][i].date.split('-').reverse().join('')+"</span>"+storedData["facturesAll"][i].date+"</td>";
                        newHTML+= "<td>"+storedData["facturesAll"][i].totalHT+" €</td>";
                        newHTML+= "<td class=\"tools\"><span class=\"iconBt\" onclick=\"changeStorageAndGo(['currentFacture','"+storedData["facturesAll"][i].code+"'], 'facture');\"><i class=\"fas fa-edit\"></i></span></td>";
                        newHTML+= "</tr>";
                    }   
                    $('#listingClients').append(newHTML);
                }

                
                // Ajoute un filtre de recherche sur le client pré-sélectionné.
                var preSearch = {};
                var preSearchClientOnly = null;
                if(localStorage.getItem('currentClient') && localStorage.getItem('currentClientRaisonSociale')) {
                    //preSearch.search = localStorage.getItem('currentClient');
                    $('input[name=filterClient]').val(localStorage.getItem('currentClient'));
                    preSearchClientOnly = {'search' : localStorage.getItem('currentClient')};
                }


                $('#listingClients').DataTable( {
                    "pageLength": 15,
                    "lengthChange": false,
                    language: {
                        searchPlaceholder: "Rechercher une facture",
                        url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                    },
                    search : preSearch,
                    "searchCols": [ null, preSearchClientOnly, null, null ]
                } );

                $('#listingClients').show();


                $('input[name=filterClient]').keyup(function() {
                    $('#listingClients').DataTable().column(1).search($(this).val()).draw();
                });

            }




        };
    </script>
{% endblock %}


