{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> FACTURE <span></span></p>                    
{% endblock %}


{% block body %}
<style type="text/css">
	.SumoSelect{width:300px;}
</style>
<div class="fiche">
	<form id="ficheMemo">
		
		<section>
			<h2>Informations générales</h2>
			<div>
				<div class="row">
					<div>Client</div>
					<div>						
						<span id="client"></span>
					</div>
				</div>

				<div class="row">
					<div>N° FACTURE</div>
					<div>	
						<span id="code"></span>
					</div>
				</div>

				<div class="row">
					<div>Date</div>
					<div>		
						<span id="date"></span>
					</div>
				</div>

				<div class="row">
					<div>Total HT</div>
					<div>		
						<span id="total"></span>
					</div>
				</div>

				<div class="row">
					<div>Articles</div>
					<div id="articlesFacture">	
					</div>
				</div>

				<!-- <div class="row">
					<div>Commentaires</div>
					<div>						
						<textarea name="commentaires" style="width: 90%; min-height: 65px;"></textarea>
					</div>
				</div> -->
			</div>

			<div class="row buttonsrow">
				<a href="{{path('facture_listing')}}" class="bouton " style="text-decoration: none; padding: 10px 20px; font-size: 1.2em;" /><i class="fas fa-chevron-left"></i> Retour à la liste</a>
				
			</div>	
		</section>

	</form>
</div>


{% endblock %}



{% block extrajs %}
	<script>
		var currentFacture;
		var currentFactureObject;
		var jsonToGet = ["factures", "clients"];
		var storedData = {};

		$('document').ready(function() { 
			getJsonData(jsonToGet[0]);
        });

		

		function displayData(results) {
			storedData[jsonToGet[0]+"All"] = results;
			jsonToGet.shift();
			if(jsonToGet.length) {
				// Il reste des données à récupérer
				getJsonData(jsonToGet[0]);
			} else {
				// Liste des clients
				//var clients = JSON.parse(localStorage.getItem('clients'));


				// Récupère le memo si existant
				currentFacture = localStorage.getItem('currentFacture');

				// Le memo existe, on récupère les données
				//orAll = JSON.parse(localStorage.getItem('ors'));
				var currentFactureObject = storedData['facturesAll'].filter(function (chain) {
					return chain.code === currentFacture;
				})[0];


	            if(currentFactureObject) {

					var client = storedData['clientsAll'].filter(function (chain) {
						return chain.code === currentFactureObject.client_code;
					})[0];

					
					if(currentFactureObject.client_code) $('#client').html(currentFactureObject.client_code + (client && client.raisonsociale ? ' - '+client.raisonsociale : ''));
					if(currentFactureObject.code) $('#code').html(currentFactureObject.code);
					if(currentFactureObject.date) $('#date').html(currentFactureObject.date);
					if(currentFactureObject.totalHT) $('#total').html(currentFactureObject.totalHT+" €");
					
					var articles = JSON.parse(currentFactureObject.articles);
					if(articles.length) {
						var detail = "<table><tr>";
						detail+= "<th>Code</th>";
						detail+= "<th>Désignation</th>";
						detail+= "<th>Qte</th>";
						detail+= "<th>Tarif Duobat</th>";
						detail+= "<th>Prix net</th>";
						detail+= "<th>Total ligne</th>";
						detail+= "</tr>";
						for(var key in articles) {
							detail+= "<tr class=\"articleDevis\">";
							detail+= "<td>"+articles[key].code+"</td>";
							detail+= "<td>"+articles[key].designation+"</td>";
							detail+= "<td>"+articles[key].quantite+"</td>";
							detail+= "<td>"+articles[key].prix_tarif+"&nbsp;€</td>";
							detail+= "<td>"+articles[key].prix_net+"&nbsp;€</td>";
							detail+= "<td>"+Math.round(articles[key].total_ligne*10000)/10000+"&nbsp;€</td>";
							detail+= "</tr>";
						}
						detail+= "</table>";
						$('#articlesFacture').html(detail);						
					}

	            }

			}

			



		};


	</script>
{% endblock %}