{% extends 'front/_base.html.twig' %}


{% block header %}
    <p><i class="fas fa-user"></i> Geolocalisation<span></span></p>                    

    {% endblock %}

    {% block body %}

    <style>
                       /* Set the size of the div element that contains the map */
                      #map {
                        height: 400px;  /* The height is 400 pixels */
                        width: 100%;  /* The width is the width of the web page */
                       }
                </style>
                  
                    <h3>Outil de Géolocalisation</h3>
                    <!--The div element for the map -->
                    <div id="map"></div>
                    <script>
                // Initialize and add the map
                function initMap() {
                  // The location of Uluru
                  var uluru = {lat: 46.095235, lng: 3.435115};
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 15, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({position: uluru, map: map});
                }
                
                
                    </script>
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAroK8V4ITvez_OtFm6diJr71UXifdohbk&callback=initMap">
                </script>
        {% endblock %}
{% block extrajs %}
        {% endblock %}
