{% extends 'front/_base.html.twig' %}


{% block header %}
    
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
<link href="css/fontawesome-all.css" rel="stylesheet">

        

<title>{% block title %}Ligier Group - ACCUEIL{% endblock %}</title> 
<H1><center>Application LIGIER Group</center></h1>

{%endblock%}

{% block extrajs %}
    
<script>
    function fnExcelReport() {
     var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
     tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';
     tab_text = tab_text + '<x:Name>Test Sheet</x:Name>';
     tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
     tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
     tab_text = tab_text + "<table border='1px'>";

    //get table HTML code
     tab_text = tab_text + $('#listingClients').html();
     tab_text = tab_text + '</table></body></html>';
     var data_type = 'data:application/vnd.ms-excel';

     var ua = window.navigator.userAgent;
     var msie = ua.indexOf("MSIE ");
     //For IE
     if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
          if (window.navigator.msSaveBlob) {
          var blob = new Blob([tab_text], {type: "application/csv;charset=utf-8;"});
          navigator.msSaveBlob(blob, 'Test file.xls');
          }
     } 
    //for Chrome and Firefox 
    else {
     $('#test').attr('href', data_type + ', ' + encodeURIComponent(tab_text));
     $('#test').attr('download', 'Exportclients.xls');
    }

    }
</script>
    <!-- JS : All elements with the class "notes" will be converted into a sticky note -->
<script>

$.PostItAll.changeConfig('note', {
 options : savable = true,
 
});

</script>
<script>
function sendemail()
{
        //e.preventDefault();

    openModal("mail");
        
        
        //closeModal('cgv');
    
}
function sendsms()
{
        //e.preventDefault();

    openModal("sms");
        
        
        //closeModal('cgv');  
    
}

function geoloc()
{
        //e.preventDefault();

    openModal("geoloc");
        
        
        //closeModal('cgv');  
    
}
</script>

                
    
    
	<script>

            $('document').ready(function() {
            $('#listingClients').hide();
            getJsonData("clients");
		});

        //Affichage du nb de jours dernier contact
        var test = 100;
        //var test = nb+" jours";
        // Affiche les données une fois l'ajax traité
        function displayData(tabClient) {
            var liste = "";

                
            $.each(tabClient, function(index, value) {
                
                ///Coordonnées des clients GPS
                
               
                
                test = (test+1);
                liste+= "<tr>";
                liste+= "<td>"+test+" jours</td>";
                liste+= "<td><input type=\"checkbox\" name=\"selection_tiers\" value=\"1\" /></td>";
                liste+= "<td>"+value.type_tiers+"</td>";
                liste+= "<td>"+value.raisonsociale+"</td>";
                liste+= "<td><i class=\"fas fa-phone\"></i>"+(value.adresses && value.adresses.length ? value.adresses[0].telephone : '')+"</td>";
                liste+= "<td><i class=\"fas fa-phone\"></i>"+(value.adresses && value.adresses.length ? value.adresses[0].portable : '')+"</td>";
                liste+= "<td><i class=\"fas fa-envelope\"></i>"+(value.adresses && value.adresses.length ? value.adresses[0].email : '')+"</td>";

                //liste+= "<td>"+(value.contacts && value.contacts.length ? value.contacts[0].nom+" "+value.contacts[0].prenom : '')+"</td>";
                //liste+= "<td>"+(value.adresses && value.adresses.length ? value.adresses[0].postal+" "+value.adresses[0].ville : '')+"</td>";
                liste+= "<td><a target=\"_blank\" href=/client-fiche/"+value.code+"><i class=\"fas fa-edit\"></i></span></td></a>";
                liste+= "</tr>";
            });


            $('#listingClients').append(liste);

            $('#listingClients').DataTable( {
                "pageLength": 20,
                "lengthChange": false,
                language: {
                    searchPlaceholder: "Rechercher dans la liste",
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                }
            } );

            $('#nbClient').html("("+$('#listingClients tbody tr').length+")");
            $('#listingClients').show();
        }
        
        //function getNbJoursLastContact()
        //{
        
            //$rawSql = "SELECT DATEDIFF(2019-01-01, 2018-01-01) as date FROM memo";


        
        //}
        //var test = 10+" jours";
	</script>
        
      <script>
                //recup infos marker googleMap
                
                
                function initMap() 
                {
                var raisonsociale = document.getElementById("raisonsociale").value;
                var adresse1 = document.getElementById("adresse1").value;
                var adresse2 = document.getElementById("adresse2").value;
                var adresse3 = document.getElementById("adresse3").value;
                var codepostal = document.getElementById("codepostal").value;
                var ville = document.getElementById("ville").value;
                var telephone = document.getElementById("telephone").value;
                var portable = document.getElementById("portable").value;
                var email = document.getElementById("email").value;
              
                      
                 //alert("latitude :"+$lat+" Longitude : "+$lng);
                 //$test2 = "le test de passage";
                  // The location of Uluru
                //  var uluru = {lat: $lng , lng: $lat};                  
                  var uluru = {lat: parseFloat(document.getElementById('longitude').value),lng: parseFloat(document.getElementById('latitude').value)};
                  //var uluru = $test;
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 15, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({
                      position: uluru, 
                      map: map, 
                      title: raisonsociale,
                      icon: new google.maps.MarkerImage('../img/pictos/vehicule_marker.png')
  
                    });
                    
                   var infoWindowOptions = {
                        content: '<h3>Informations détaillées</h3><br>'
                            + '<p>'+raisonsociale+'</p>'
                            + '<p>'+adresse1+'</p>'
                            + '<p>'+adresse2+'</p>'
                            + '<p>'+adresse3+'</p>'
                            + '<p>'+codepostal+' '+ville+'</p><br>'
                            + '<p>Téléphone fixe : '+telephone+'</p>'
                            + '<p>Téléphone mobile : '+portable+' <i class="fas fa-mobile-alt"></i></p>'
                            + '<p>Email : '+email+' <i class="fas fa-envelope"></i></p>'

                    };

                    var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker);
                    });
                }
 
        
        </script>
    
        
{% endblock %}

{% block body %}
 
        <script src="../js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../js/vendor/jquery-3.2.1.min.js"></script>
       {# <script src="/js/trumbowyg.min.js"></script>#}
        <script src="../js/jquery.minicolors.min.js"></script>
        <script src="../js/jquery-ui-timepicker-addon.min.js"></script>
        <script src="../js/jquery.postitall.js"></script>
        <script src="../libs/jquery/dist/jquery.min.js"></script>
        <script src="../js/vendor/jquery.dataTables.min.js"></script>
        <script src="../js/vendor/jquery-ui.min.js"></script>
        <script src="../js/vendor/jquery.sumoselect.min.js"></script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
    {#
    
        <div style="padding-left: 15%; height: 500px">
               
            <a href="javascript:$.PostItAll.new();" class="bouton boutoncomm"><i class="fas fa-sticky-note"></i> Nouvelle note</a>

            <a href="javascript:$.PostItAll.hide();" class="bouton boutoncomm"><i class="fa fa-play fa-fw"></i> Masquer les notes</a>

            <a href="javascript:$.PostItAll.show();" class="bouton boutoncomm"><i class="fa fa-play fa-fw"></i> Afficher les notes</a>

            <a href="javascript:$.PostItAll.save();" class="bouton boutoncomm"> sauver les notes</a>
                
        </div>
    
            <a href="javascript:$.PostItAll.load(callback, callbacks, highlight);"><i class="fa fa-play fa-fw"></i> Restaurer les notes</a>
            
            
            
        </div>
     

    

<table id="listingClients" class="display">
    <thead>
        <tr>
            <th>N° client</th>
            <th>Raison sociale</th>
            <th>N° tâche</th>
            <th>Type tâche</th>
            <th>Adr.Livraison</th>
            <th>Date de création</th>
            <th class="tools"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    #} 


        {#<button id="nvProspect" class="bouton boutonNvDevis" onclick="changeStorageAndGo(['currentProspect',''], 'prospect');"><i class="fas fa-plus"></i> Ouverture de compte client</button>#}

              <div> LLLLLLFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF</div>

        <div id ="actions" class="row buttonsrow">


            <span class="bouton boutonAjtCli" onclick="changeStorageAndGo(['currentProspect',''], 'prospect');"><i class="fas fa-plus"></i> Nouveau client</span>
            <a href="#" id="sendsms" onClick="sendsms();"><span class="bouton boutoncomm"> Envoyer un SMS</span></a>
            <a href="#" id="sendemail" onClick="sendemail();"><span class="bouton boutoncomm"> Envoyer un Email</span></a>
            <a href="#" id="test" onClick="fnExcelReport();"><span class="bouton boutonexport"><i class="fas fa-file-excel"></i> Exporter vers Excel</span></a>
            <span class="bouton boutongeoloc" onClick="geoloc();"><i class="fas fa-map-marker-alt"></i> Geolocaliser</span>
            <span class="bouton boutonDelCli" onClick=""><i class="fas fa-trash-alt"></i> Supprimer le client</span>

        </div>	 
        
        
        <table id="listingClients" class="display" style="display:none;text-align: left;padding-left: 15%">
            <thead>
                <tr>
                    <th>Dernier contact</th>
                    <th>Selectionner</th>
                    <th>Type tiers</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
   
          

      <div> LDLDLDDLDLDLDLDL</div>

{% endblock %}

{% block modal %}

	<span id="modalBg"></span>

	<div class="modal" id="mail">
		<section>
                    <form id ="form">
			<h2>Selectionnez votre modele email</h2>
			<div id="nom">
                                 <select id="mailid" onchange="document.getElementById('corps').value=this.options[selectedIndex].value;">
                                   {% for modeles in smsmail if modeles.type == 1 %}
                                        <option value={{modeles.corps}}> {{modeles.nom}}  </option>
                                    {% endfor%}
                              
                            
                                </select>
                        </div>    
                        
                        <div>
                                <textarea name="corps du message" id="corps" value="" rows="5" cols="100"></textarea>

                        </div>
                        
                        <div style="text-align:center; padding:10px 0;">
					<button class="bouton" id="close"><i class="fas fa-close"></i> Fermer</button>
                        </div>	
                    </form>
		</section>



	</div>

        <div class="modal" id="sms">
		<section>
                    <form id ="form">
			<h2>Selectionnez votre modele SMS</h2>
			<div id="nomsms">
                                <select id="smsid" onchange="document.getElementById('corpssms').value=this.options[selectedIndex].value; document.getElementById('signaturesms').value=this.options[selectedIndex].value;">
                                    {% for modeles in smsmail if modeles.type == 2 %}
                                        <option> {{modeles.nom}}  </option>
                                    {% endfor%}
                               
                                </select>
                        </div>    
                        
                        <div>
                                <textarea name="corps du message" id="corpssms" value=""rows="5" cols="100"></textarea>
                        </div>
                        
                        <div>
                                <textarea name="Signature du message" id="signaturesms" value=""rows="3" cols="100"></textarea>
                        </div>
                        <div style="text-align:center; padding:10px 0;">
					<button class="bouton" id="close"><i class="fas fa-close"></i> Fermer</button>
                        </div>	
                    </form>
		</section>



	</div>
      {#                              
        <div class="modal" id="geoloc">
        <section>

        <style>
                   /* Set the size of the div element that contains the map */
                  #map {
                    height: 400px;  /* The height is 400 pixels */
                    width: 100%;  /* The width is the width of the web page */
                   }
            </style>
                <!--The div element for the map -->
                <script>



                </script>
                <div id="map"></div>
                    
                <h2>Géolocalisation </h2>

                {% for clients in clients|slice(0, 9) %}
                    <input type="hidden" id = "latitude" value={{clients.latitude}}></input>
                    <input type="hidden" id = "longitude" value={{clients.longitude}}></input>
                     <script async
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAroK8V4ITvez_OtFm6diJr71UXifdohbk&callback=initMap">
                    </script>
                {% endfor%}

		</section>
                    
                    
                    
                    
                    
                    
               
                
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                        
                    



	</div>
                
         #}     
{% endblock %}


