{% extends 'front/_base.html.twig' %}


{% block body %}
<div id="home">
    <ul>
        <li><a href="{{path("client_listing")}}"><i class="fas fa-users"></i> Clients</a></li>
        <li><a href="{{path("prospect_listing")}}"><i class="fas fa-handshake"></i> Prospects</a></li>
        <li><a href="{{path("agenda")}}"><i class="fas fa-calendar-alt"></i> Agenda</a></li>
        <li><a href="{{path("stock")}}"><i class="fas fa-archive"></i> Stocks</a></li>
        <li><a href="{{path("memo_listing")}}"><i class="fas fa-clipboard"></i> Mémos</a></li>
        <li><a href=""><i class="fas fa-chart-area"></i> Stats</a></li>
        <li><a href="{{path("devis_listing")}}"><i class="fas fa-calculator"></i> Devis</a></li>
        <li><a href=""><i class="fas fa-cogs"></i> Duobat</a></li>
        <li><a href=""><i class="fas fa-envelope"></i> Mails</a></li>
        <li><a href="{{path("sav_listing")}}"><i class="fas fa-wrench"></i> SAV</a></li>
        <li class="menuData"><a href="{{path("user_synchro")}}"><i class="fas fa-sync"></i> Données</a></li>
    </ul>
</div>


{% endblock %}


{% block extrajs %}
	<script>
        $('body>footer').hide();
	</script>
{% endblock %}