<!doctype html>
<html class="no-js" lang="" {# manifest="ligircrm2.appcache" #}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Ligier Group{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/ligier.css">
        <link href="css/fontawesome-all.css" rel="stylesheet">

    </head>
    <body id="identification">
        <span></span>
        <form method="POST">
            <header></header>
            <div>
                
                <p class="error" {% if error is defined %}style="display:block;"{% endif %}>{% if error is defined %}{{error}}{% endif %}</p>
                <input type="text" name="login" placeholder="Utilisateur" required />
                <input type="password" name="password" placeholder="Mot de passe" required />
                <input type="hidden" name="storage"  />

                <input type="submit" value="Connexion" />
            </div>
        </form>
        
            

        <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/js/vendor/jquery-3.2.1.min.js"></script>

        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
		<script>
            $('document').ready(function() {
                $('input[name=storage]').val(JSON.stringify(localStorage));
            });
        </script>
    </body>
</html>

{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Duobat{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}
