{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> <span>Tâche</span></p>                    
{% endblock %}


{% block body %}
<style type="text/css">
	.SumoSelect{width:300px;}
</style>
<div class="fiche">
	<form id="ficheMemo">
		
		<section>
			<h2>Informations générales</h2>
			<div>
				<div class="half">
					<div class="row">
						<div>Client / Prospect</div>
						<div>
							<select name="client_prospect" required="true">
							</select>
						</div>
					</div>

					<div class="row">
						<div>Interlocuteur</div>
						<div>
							<select name="interlocuteur">
							</select>
						</div>
					</div>

					<div class="row">
						<div>Type de contact</div>
						<div>
							<label class="btRadio"><input type="radio" name="type" value="visite" /> Visite</label>
							<label class="btRadio"><input type="radio" name="type" value="telephone" /> Téléphone</label>
						</div>
					</div>

				</div>

				<div class="half">
					<div class="row">
						<div>Date de création</div>
						<div>
							<input type="text" name="date_creation" disabled />
						</div>
					</div>

					<div class="row">
						<div>Adr.livraisonr</div>
						<div>
							<select name="livraison">
							</select>
						</div>
					</div>

				</div>
			</div>
		</section>


		<section>
			<h2>Objectifs</h2>
			<div>
				<div class="half">
					<h3 style="margin-bottom:20px; border-bottom:1px solid #000;">Objectif principal</h3>
					<div class="row">
						<div>Monde produit</div>
						<div>
							<select multiple name="obj_principal_produits">
								<option value="acces_en_hauteur">Accès en hauteur</option>
								<option value="consommable_electroportatif">Consommable électroportatif</option>
								<option value="electroportatif">Electroportatif</option>
								<option value="epi">EPI</option>
								<option value="fixation_visserie">Fixation visserie</option>
								<option value="location">Location</option>
								<option value="maintenance_soudage">Maintenance et soudage</option>
								<option value="materiel_conso_batiment">Matériel et consommable bâtiment</option>
								<option value="outillage_main">Outillage à main</option>
								<option value="sav">SAV</option>
								<option value="autres">Autres</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div>Opérations</div>
						<div>
							<select multiple name="obj_principal_operations">
								<option value="blitz">Blitz</option>
								<option value="epi">EPI</option>
								<option value="evenement">Evènement</option>
								<option value="journee_securite">Journée sécurité</option>
								<option value="journee_technique">Journée technique</option>
								<option value="operation">Opération du mois</option>
								<option value="phoning">Phoning</option>
								<option value="promo">Promo DUOBAT</option>
								<option value="autres">Autres</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div>Actions client</div>
						<div>
							<select multiple name="obj_principal_actions">
								<option value="commande">Commande</option>
								<option value="decouverte">Découverte client</option>
								<option value="depannage">Dépannage</option>
								<option value="devis">Devis</option>
								<option value="dossier_prix">Dossier prix</option>
								<option value="litige">Litige</option>
								<option value="prospection">Prospection</option>
								<option value="reactivation">Réactivation</option>
								<option value="retard">Retard de paiement</option>
								<option value="stocks_dedies">Stocks dédiés</option>
								<option value="tractel">Vérification Tractel</option>
								<option value="autres">Autres</option>
							</select>
						</div>
					</div>

				</div>

				<div class="half">
					<h3 style="margin-bottom:20px; border-bottom:1px solid #000;">Objectif repli</h3>
					<div class="row">
						<div>Monde produit</div>
						<div>
							<select multiple name="obj_repli_produits">
								<option value="acces_en_hauteur">Accès en hauteur</option>
								<option value="consommable_electroportatif">Consommable électroportatif</option>
								<option value="electroportatif">Electroportatif</option>
								<option value="epi">EPI</option>
								<option value="fixation_visserie">Fixation visserie</option>
								<option value="location">Location</option>
								<option value="maintenance_soudage">Maintenance et soudage</option>
								<option value="materiel_conso_batiment">Matériel et consommable bâtiment</option>
								<option value="outillage_main">Outillage à main</option>
								<option value="sav">SAV</option>
								<option value="autres">Autres</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div>Opérations</div>
						<div>
							<select multiple name="obj_repli_operations">
								<option value="blitz">Blitz</option>
								<option value="epi">EPI</option>
								<option value="evenement">Evènement</option>
								<option value="journee_securite">Journée sécurité</option>
								<option value="journee_technique">Journée technique</option>
								<option value="operation">Opération du mois</option>
								<option value="phoning">Phoning</option>
								<option value="promo">Promo DUOBAT</option>
								<option value="autres">Autres</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div>Actions client</div>
						<div>
							<select multiple name="obj_repli_actions">
								<option value="commande">Commande</option>
								<option value="decouverte">Découverte client</option>
								<option value="depannage">Dépannage</option>
								<option value="devis">Devis</option>
								<option value="dossier_prix">Dossier prix</option>
								<option value="litige">Litige</option>
								<option value="prospection">Prospection</option>
								<option value="reactivation">Réactivation</option>
								<option value="retard">Retard de paiement</option>
								<option value="stocks_dedies">Stocks dédiés</option>
								<option value="tractel">Vérification Tractel</option>
								<option value="autres">Autres</option>
							</select>
						</div>
					</div>

				</div>

				<div class="row">
					<div>Contenu de l'entretien</div>
					<div>
						<textarea name="contenu" style="width: 90%; min-height: 65px;"></textarea>
					</div>
				</div>

				<div class="half">
					<div class="row">
						<div>Résultat</div>
						<div>
							<label class="btRadio"><input type="radio" name="objectif" value="devis" />Devis</label>
							<label class="btRadio"><input type="radio" name="objectif" value="commande" />Commande</label>
							<label class="btRadio"><input type="radio" name="objectif" value="autre" />Autre</label>
						</div>
					</div>
				</div>

				<div class="half">
					<div class="row">
						<div>Prochain RDV</div>
						<div>
							<input type="text" name="prochain_rdv" />
						</div>
					</div>
					<div class="row">
						<div>Horaire début</div>
						<div>
							<input type="time" name="prochain_rdv_heure" />
						</div>
					</div>
				</div>

				
			</div>
		</section>



		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
	</form>
</div>


{% endblock %}



{% block modal %}

	<span id="modalBg"></span>

	<div class="modal" id="">
	</div>

{% endblock %}



{% block extrajs %}
	<script>
		var currentMemo;
		var currentMemoObject;
		var clients;
		var prospects;
		var compteurDisplay = "clients";
		var jsonToGet = ["clients", "prospects", "memos"];
		var storedData = {};

		$('document').ready(function() {
			// A supprimer à terme et à générer lors de la synchro
            // if(!localStorage.getItem('indexProperties') || !localStorage.getItem('indexProperties').prospects) {
            //     var index = {};

            //     if(localStorage.getItem('indexProperties'))
            //         index = JSON.parse(localStorage.getItem('indexProperties'));
            //     index.prospects = {"file": "prospect.json", "local": "prospects"};
                
            //     localStorage.setItem('indexProperties', JSON.stringify(index));
            // }
            $('#listingClients').hide();

			getJsonData(jsonToGet[0]);
		});



		function displayData(results) {			
			storedData[jsonToGet[0]+"All"] = results;
			jsonToGet.shift();
			if(jsonToGet.length) {
				// Il reste des données à récupérer
				getJsonData(jsonToGet[0]);
			} else {
				dataReady();
			}
			// if(compteurDisplay == "clients") {
			// 	clients = tabClient;
			// 	compteurDisplay = "prospects";
   //          	getJsonData("prospects");
			// } else {
			// 	prospects = tabClient;
			// 	dataReady();
			// }
			// compteurDisplay++;

			// if(compteurDisplay>=2) {

			// }
		}



		/**/
		//$('document').ready(function() {
		function dataReady() {
            $('input[name=prochain_rdv]').datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy',
                firstDay: 1
            });


			// Liste des clients
			//clients = JSON.parse(localStorage.getItem('clients'));
			for (var i = 0; i < storedData['clientsAll'].length; i++) {
				$('select[name=client_prospect]').append('<option value="'+storedData['clientsAll'][i].code+'">'+storedData['clientsAll'][i].raisonsociale+'</option>');
			}
			if(localStorage.getItem('currentClient') && localStorage.getItem('currentClient')!="") {
				$('option[value='+localStorage.getItem('currentClient')+']').prop('selected', true);
			}

			// Liste des prospects
			//prospects = JSON.parse(localStorage.getItem('prospects'));
			for (var i = 0; i < storedData['prospectsAll'].length; i++) {
				$('select[name=client_prospect]').append('<option value="'+storedData['prospectsAll'][i].code+'">'+storedData['prospectsAll'][i].raisonsociale+'</option>');
			}

			$('select[name=client_prospect]').SumoSelect({search:'true'})

			// Si la liste se referme
			$('select[name=client_prospect]').on('sumo:closed', function(sumo) {
				changeClientProspect(storedData['clientsAll'], storedData['prospectsAll']);
			});


			// Récupère le memo si existant
			currentMemo = localStorage.getItem('currentMemo');
			if(!currentMemo || currentMemo=='null') {
				// Si le memo n'existe pas encore
				var date = new Date();
				$('input[name=date_creation]').val((date.getDate()<10?'0':'')+date.getDate()+'-'+(date.getMonth()+1<10?'0':'')+(date.getMonth()+1)+'-'+date.getFullYear());

			} else {

				// Le memo existe, on récupère les données
				//var memoAll = JSON.parse(localStorage.getItem('memos'));
				var currentMemoObject = storedData['memosAll'].filter(function (chain) {
	                return chain.code === currentMemo;
	            })[0];
	            console.log(currentMemoObject);
	            if(currentMemoObject) {
	            	fillForm(currentMemoObject, 'ficheMemo');
	            	//changeClientProspect(clients, prospects);
	            }
			}
			changeClientProspect(storedData['clientsAll'], storedData['prospectsAll']);

			if(currentMemoObject) {
				// Le client est sélectionné et les listes mises à jour. 
				// On met maintenant à jour le contact et l'adresse.
				if(currentMemoObject.interlocuteur) {
					$('select[name=interlocuteur] option[value='+currentMemoObject.interlocuteur+']').prop('selected', true);
				}
				if(currentMemoObject.livraison) {
					$('select[name=livraison] option[value='+currentMemoObject.livraison+']').prop('selected', true);
				}

				if(currentMemoObject.type) $('input[name=type][value='+currentMemoObject.type+']').prop('checked', true);

				if(currentMemoObject.objectif) $('input[name=objectif][value='+currentMemoObject.objectif+']').prop('checked', true);
			}


			// On applique Sumo sur les select
            $('select[multiple]').SumoSelect({placeholder: 'Sélectionnez un élément'});

		};
		/**/

		function changeClientProspect(clients, prospects) {
			var selectedClientCode = $('select[name=client_prospect]').val();
			$('select[name=interlocuteur] option').remove();
			$('select[name=livraison] option').remove();

			var cibleMemo;

			// Cherche dans les clients si le code existe
		    cibleMemo = clients.filter(function (chain) {
                return chain.code === selectedClientCode;
            })[0];

		    if(cibleMemo) {
		    	// Trouvé dans les clients, on va chercher les adresses et les contacts
		    	try {
		    		for (var i = 0; i < cibleMemo.contacts.length; i++) {
		    			$('select[name=interlocuteur]').append('<option value="'+cibleMemo.contacts[i].code+'">'+cibleMemo.contacts[i].prenom+' '+cibleMemo.contacts[i].nom+'</option>');
		    		}

		    		for (var i = 0; i < cibleMemo.adresses.length; i++) {
		    			$('select[name=livraison]').append('<option value="'+cibleMemo.adresses[i].code+'">'+cibleMemo.adresses[i].adresse1+' '+cibleMemo.adresses[i].ville+'</option>');
		    		}
		    	} catch(e) {
		    		console.log(e);
		    	}


		    } else {
		    	// Pas trouvé dans les clients.
		    	// Cherche dans les prospects si le code existe
			    cibleMemo = prospects.filter(function (chain) {
	                return chain.code === selectedClientCode;
	            })[0];

			    if(cibleMemo) {
			    	// Trouvé dans les prospects. On utilise les données de la fiche prospect
			    	try {
				    	$('select[name=interlocuteur]').html('<option value="'+cibleMemo.prenom+' '+cibleMemo.nom+'">'+cibleMemo.prenom+' '+cibleMemo.nom+'</option>')
			    	} catch(e) {
			    		console.log(e);
			    	}


			    	try {
				    	$('select[name=livraison]').html('<option value="'+cibleMemo.livraison_adresse+' '+cibleMemo.livraison_ville+'">'+cibleMemo.livraison_adresse+' - '+cibleMemo.livraison_ville+'</option>')
			    	} catch(e) {
			    		console.log(e);
			    	}
			    }		            
		    }	
		}





		$('#ficheMemo').submit(function(e) {
			e.preventDefault();
			var memo = getDataFromForm('ficheMemo');

			if(localStorage.getItem('memos') == "") localStorage.setItem('memos', "[]");
			//memoAll = JSON.parse(localStorage.getItem('memos'));
			if(!storedData['memosAll']) storedData['memosAll'] = [];

			if(!currentMemo || currentMemo=='null') {
				// Si le prospect n'existe pas encore

				var date = new Date();
				memo.code = "_MEM_"+date.getFullYear()+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+(date.getDate()<10?'0':'')+date.getDate()+"-"+date.getHours()+date.getMinutes()+"-"+Math.round(Math.random()*100);

				storedData['memosAll'].push(memo);
				queueMessage("Nouveau memo enregistré");
			} else {
				// Mise à jour du prospect dans le localStorage
				for (var i = 0; i < storedData['memosAll'].length; i++) {
					if(storedData['memosAll'][i].code == memo.code) {
						storedData['memosAll'][i] = memo;
						queueMessage("Memo modifié");
						break;
					}
				}
			}

			localStorage.setItem('memos', JSON.stringify(storedData['memosAll']));		

			window.location.href = 'memo-listing';


	


		});


	</script>
{% endblock %}