{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-clipboard"></i> Tâches commerciales <span id="nbClient"></span></p>                    
{% endblock %}


{% block body %}

<button id="nvProspect" class="bouton boutonNvDevis" onclick="changeStorageAndGo(['currentMemo',''], 'memo');"><i class="fas fa-plus"></i> Nouvelle tâche commerciale</button>
<table id="listingClients" class="display">
    <thead>
        <tr>
            <th>N° client</th>
            <th>Raison sociale</th>
            <th>N° tâche</th>
            <th>Type tâche</th>
            <th>Adr.Livraison</th>
            <th>Date de création</th>
            <th class="tools"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}


{% block extrajs %}
	<script>
        var clients, prospects;
        var compteurDisplay = "clients";

        $('document').ready(function() {    
            $('#listingClients').hide();
            getJsonData("clients");
        });



		//$('document').ready(function() {	
        function displayData(memos) {
            // TODO A optimiser : Execution de plusieurs chargement JSON à la suite
            if(compteurDisplay == "clients") {
                clients = memos;
                compteurDisplay = "prospects";
                getJsonData("prospects");
            } else if(compteurDisplay == "prospects") {
                prospects = memos;
                compteurDisplay = "memos";
                getJsonData("memos");
            } else {


                // if(!localStorage.getItem("memos")) 
                //     localStorage.setItem("memos", JSON.stringify([]));

                //memos = JSON.parse(localStorage.getItem("memos"));

                if(!memos.length) {
                    $('#listingClients').append("<tr><td colspan=\"7\" style=\"text-align:center;\">Aucun mémo disponible</td></tr>");
                
                } else {
                    // Récupération des raisons sociales en fonction des codes entreprises des mémos
                    var affichage = {}; // Liste permettant d'avoir la raison sociale et le chantier pour les clients et prospects
                    //clients = JSON.parse(localStorage.getItem("clients"));
                    if(clients) {
                        for (var i = 0; i < clients.length; i++) {
                            try {
                                // Ajoute les raisons sociales au tableau d'affichage
                                affichage[clients[i].code] = {"raisonsociale": clients[i].raisonsociale};
                                
                                // Ajoute les adresses au tableau d'affichage
                                if(clients[i].adresses) {
                                    affichage[clients[i].code].adresses = {};
                                    for (var j = 0; j < clients[i].adresses.length; j++) {
                                        affichage[clients[i].code].adresses[clients[i].adresses[j].code] = clients[i].adresses[j].adresse1;
                                    }
                                }

                            } catch(e) {
                                console.log(e);
                            }

                        }
                    }

                    //prospects = JSON.parse(localStorage.getItem("prospects"));
                    if(prospects) {
                        for (var i = 0; i < prospects.length; i++) {
                            try {
                                affichage[prospects[i].code] = {"raisonsociale": prospects[i].raisonsociale};
                            } catch(e) {
                                console.log(e);
                            }
                        }
                    }

                    console.log(affichage);

                    // Ajoute les mémos de la liste dans le tableau
                    for (var i = 0; i < memos.length; i++) {
                        var newHTML = "<tr>";
                        newHTML+= "<td>"+memos[i].client_prospect+"</td>";
                        newHTML+= "<td>"+(affichage[memos[i].client_prospect] ? affichage[memos[i].client_prospect]['raisonsociale'] :'')+"</td>";
                        newHTML+= "<td>"+memos[i].code+"</td>";
                        newHTML+= "<td>"+memos[i].type+"</td>";
                        newHTML+= "<td>"+(affichage[memos[i].client_prospect] && affichage[memos[i].client_prospect]['adresses'][memos[i].livraison] ? affichage[memos[i].client_prospect]['adresses'][memos[i].livraison] :'')+"</td>";
                        //newHTML+= "<td>"+(memos[i].livraison ? memos[i].livraison :'')+"</td>";
                        newHTML+= "<td>"+memos[i].date_creation+"</td>";
                        newHTML+= "<td class=\"tools\"><span class=\"iconBt\" onclick=\"changeStorageAndGo(['currentMemo','"+memos[i].code+"'], 'memo');\"><i class=\"fas fa-edit\"></i></span></td>";
                        newHTML+= "</tr>";  
                        $('#listingClients').append(newHTML);          
                    }                
                }



                // Ajoute un filtre de recherche sur le client pré-sélectionné.
                var preSearch = {};
                if(localStorage.getItem('currentClient') && localStorage.getItem('currentClientRaisonSociale')) {
                    preSearch.search = localStorage.getItem('currentClient');
                }


                $('#listingClients').DataTable( {
                    "pageLength": 15,
                    "lengthChange": false,
                    language: {
                        searchPlaceholder: "Rechercher un mémo",
                        url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                    },
                    "search" : preSearch
                } );
                $('#listingClients').show();



            }
		};
	</script>
{% endblock %}