{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %} Gestion des paramètres{% endblock %}</title> 
<H1><center>Gestion des paramètres</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>        
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
<link href="../css/fontawesome-all.css" rel="stylesheet">


{% endblock %}


{% block body %}
   


                
<div class="fiche">
	<form id="ficheClient">
     
    </form>

<div style="padding-left:15%">
<button class="bouton boutoncli" onclick="openPage('marque', this, '#26526f')" id="defaultOpen">Marque</button>
<button class="bouton boutoncli" onclick="openPage('modele', this, '#26526f')">Modèle</button>
<button class="bouton boutoncli" onclick="openPage('couleur', this, '#26526f')">Couleurs véhicule</button>
<button class="bouton boutoncli" onclick="openPage('typevehicule', this, '#26526f')">Type véhicule</button>
<button class="bouton boutoncli" onclick="openPage('energie', this, '#26526f')">Energie</button>
<button class="bouton boutoncli" onclick="openPage('typevente', this, '#26526f')">Type de vente</button>
<button class="bouton boutoncli" onclick="openPage('dispovente', this, '#26526f')">Dispo vente</button>
<button class="bouton boutoncli" onclick="openPage('situation', this, '#26526f')">Situation familiale</button>
<button class="bouton boutoncli" onclick="openPage('delai', this, '#26526f')">Délais de traitement</button>

</div>

<div id="marque" class="tabcontent">
   <section>
        <h2>Marques</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Marques</th>
            
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 1%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

<div id="modele" class="tabcontent">
   <section>
        <h2>Modeles</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Nom</th>
            
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 2%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

<div id="couleur" class="tabcontent">
   <section>
        <h2>Couleurs</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Couleur</th>      
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 3%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

<div id="typevehicule" class="tabcontent">
  <section>
       <h2>Types vehicule</h2>
        <table id="listingClients">
            <thead>
            <tr>
                <th>Valeur</th>
              
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 4%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
  </section>
</div>

<div id="energie" class="tabcontent">
   <section>
        <h2>Energie</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Energie</th>
            
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 5%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

<div id="typevente" class="tabcontent">
   <section>
        <h2>Type vente</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Nom</th>
            
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 6%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

<div id="dispovente" class="tabcontent">
   <section>
        <h2>Disponibilité</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Nom</th>
            
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 7%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

<div id="situation" class="tabcontent">
   <section>
        <h2>Situation</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Situation</th>
            
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 9%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

<div id="delai" class="tabcontent">
   <section>
        <h2>Délais</h2>

        <table id="listingClients">
            <thead>
            <tr>
                <th>Délais</th>
            
            </tr>
            </thead>
            <tbody>
            {% for param in parametresvaleur if param.idparam == 10%}
            <tr style="color:black">
                
                <td>{{param.valeur}}</td>
                <td>{{param.commentaires}}</td>
                <td>{{param.codecouleur}}</td>
                

            </tr>

            {%endfor%}

            </tbody>
            <div class = "actionsparam">
                <span class="bouton boutoncomm" onClick=""><i class="fas fa-plus"></i> Ajouter un paramètre </span>
            </div>    
        </table>
        
              	
        </section>
</div>

            
            
</div>

<div style="text-align:center; padding:10px 0;"><button class="bouton" id="close" onclick="closemodaluser();"><i class="fas fa-close"></i> Fermer</button>

</div>
            
{%endblock%}


{% block extrajs %}
<script>
    
    //document.getElementById("MUnom").value =//attribtion d'une valeur a un champs du modal
    //bouton evenement click -> $('#modifier').click(function() 
function OnclickEdit($nom) 
{

  alert($nom);  

}

</script>
<script>
    
function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>

<script>
function openmodaluser()
{
        //e.preventDefault();        
    openModal("modal_user");
        //closeModal('cgv');
    
}
function closemodaluser()
{
        //e.preventDefault();
    closeModal("user");
        //closeModal('cgv');
    
}

function passageval($nomuser)
{
    var nom = $nomuser;
    alert(nom);
    openmodaluser();
 
}
</script>


{% endblock %}