{% extends 'front/_base.html.twig' %}


{% block header %}
<title>{% block title %}Parametrage et administration{% endblock %}</title> 
<H1><center>Parametrage et administration Globale</center></h1>
<p><i class="fas fa-user"></i> <span></span></p>        
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
{% endblock %}


{% block body %}
   


                
<div class="fiche">
    <table id="listingVehicule" class="display">

        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>

            </tr>
        </thead>
        <tbody>
        {% for params in parametres %}
            <tr>
                <td>{{params.id}}</td>
               {# <td style="text-align:right;"><a href="/vehicule-fiche/{{vehiculeclient.id}}"><i class="fas fa-edit">{{vehiculeclient.no_serie}}</i></span></td></a>
               #}
                <td>{{params.nom}}</th>

            </tr>

            {%endfor%}

        </tbody>
    </table>
</div>


{%endblock%}

{% block modal %}

	<span id="modalBg"></span>

	<div class="modal" id="parametre">
        <section>
            <table id="listingVehicule" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Valeur</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for valeur in parametresvaleur %}
                    <tr>
                        <td>{{valeur.id_param}}</td>
                        <td>{{valeur.valeur}}</th>            
                    </tr>

                    {%endfor%}

                </tbody>
            </table>
            <div style="text-align:center; padding:10px 0;">
            <button class="bouton" id="close"><i class="fas fa-close"></i> Fermer</button>
                        </div>	
                    
		</section>



	</div>

{% endblock %}

{% block extrajs %}
        {% endblock %}