{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> <span>Ouverture de compte</span></p>                    
{% endblock %}


{% block body %}
<div class="fiche">
	<form id="ficheProspect">
		
		<section>
			<h2>Identification de l'entreprise</h2>
			<div>
				<div class="row">
					<div>Raison sociale</div>
					<div>
						<input type="text" name="raisonsociale" required />
					</div>
				</div>

				<div class="row">
					<div>Code APE</div>
					<div>
						<input type="text" name="ape" required />
					</div>
				</div>

				<div class="row">
					<div>N° SIREN</div>
					<div>
						<input type="text" name="siren" required />
					</div>
				</div>

				<div class="row">
					<div>Forme juridique</div>
					<div>
						<select name="formejuridique" required >
							<option></option>
							<option value="sarl">SARL</option>
							<option value="sa">SA</option>
							<option value="sas">SAS</option>
							<option value="snc">snc</option>
							<option value="civile">Société civile</option>
							<option value="eurl">EURL</option>
							<option value="eurl">Entreprise individuelle</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div>Code TVA FR</div>
					<div>
						<input type="text" name="codetva" required />
					</div>
				</div>

				<div class="row">
					<div>Effectif</div>
					<div>
						<input type="text" name="effectif" />
					</div>
				</div>

				<div class="row">
					<div>Site web</div>
					<div>
						<input type="text" name="web" />
					</div>
				</div>

				<div class="row">
					<div>Remarques</div>
					<div>
						<textarea name="remarques" style="width: 80%; padding: 5px 10px;"></textarea>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<h2>Interlocuteur</h2>
			<div>

				<div class="half">
					<div class="row">
						<div>Nom</div>
						<div>
							<input type="text" name="nom" required>
						</div>
					</div>
					
					<div class="row">
						<div>Tél. fixe</div>
						<div>
							<input type="text" name="telfixe" required>
						</div>
					</div>
					
					<div class="row">
						<div>Fax</div>
						<div>
							<input type="text" name="fax">
						</div>
					</div>
				</div>

				<div class="half">
					<div class="row">
						<div>Prénom</div>
						<div>
							<input type="text" name="prenom" required>
						</div>
					</div>
					
					<div class="row">
						<div>Tél. portable</div>
						<div>
							<input type="text" name="telportable">
						</div>
					</div>
					
					<div class="row">
						<div>Email</div>
						<div>
							<input type="text" name="email">
						</div>
					</div>
				</div>

			</div>
		</section>
		
		<section>
			<h2>Siège social - Adresse de facturation</h2>
			<div>
				<div class="row">
					<div>Adresse</div>
					<div>
						<input type="text" name="facturation_adresse" required />
					</div>
				</div>

				<div class="row">
					<div>Code postal</div>
					<div>
						<input type="text" name="facturation_adresse" required />
					</div>
				</div>

				<div class="row">
					<div>Ville</div>
					<div>
						<input type="text" name="facturation_ville" required />
					</div>
				</div>

			</div>
		</section>
		
		<section>
			<h2>Adresse principale de livraison <span style="font-size:.8em;  color:#ddd;">(si différente de l'adresse de livraison)</span></h2>
			<div>
				<div class="row">
					<div>Adresse</div>
					<div>
						<input type="text" name="livraison_adresse" />
					</div>
				</div>

				<div class="row">
					<div>Code postal</div>
					<div>
						<input type="text" name="livraison_adresse" />
					</div>
				</div>

				<div class="row">
					<div>Ville</div>
					<div>
						<input type="text" name="livraison_ville" />
					</div>
				</div>

			</div>
		</section>
		
		<section>
			<h2>Conditions de règlement</h2>
			<div>
				<div class="row">
					<div>Paiement</div>
					<div>
						<select name="conditions" required>							
						</select>
					</div>
				</div>

				<div class="row">
					<div>Nombre de facture à envoyer</div>
					<div>
						<input type="text" name="nbfactures" />
					</div>
				</div>

				<div style="background:#e6dada; padding:15px 20px 0 20px;">
					<h3 style="margin-bottom:15px;">Coordonnées bancaires</h3>
					<div class="row">
						<div>Nom de l'établissement bancaire</div>
						<div>
							<input type="text" name="banque" />
						</div>
					</div>

					<div class="row">
						<div>Adresse de l'établissement bancaire</div>
						<div>
							<input type="text" name="banque_adresse" />
						</div>
					</div>
				
					<div class="half">
						<div class="row">
							<div>Code établissement</div>
							<div>
								<input type="text" name="banque_code_etablissement" >
							</div>
						</div>
						
						<div class="row">
							<div>Code guichet</div>
							<div>
								<input type="text" name="banque_code_guichet" >
							</div>
						</div>
						
					</div>

					<div class="half">
						<div class="row">
							<div>N° de compte</div>
							<div>
								<input type="text" name="banque_num_compte">
							</div>
						</div>
						
						<div class="row">
							<div>Clé du RIB</div>
							<div>
								<input type="text" name="banque_cle_rib">
							</div>
						</div>
						
					</div>
				</div>
				


			</div>
		</section>




		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
	</form>
</div>


{% endblock %}



{% block modal %}

	<span id="modalBg"></span>

	<div class="modal" id="cgv">
		<section>
			<h2>Conditions générales de vente</h2>
			<div id="texteCgv">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur numquam obcaecati animi cum nobis praesentium omnis tenetur, ab laboriosam quos voluptates voluptatem in voluptatibus atque natus, commodi perferendis dignissimos necessitatibus!</p>
				<p>Fuga corrupti velit maxime, nobis magnam quis assumenda fugit possimus nam nostrum, numquam provident mollitia aspernatur soluta. Doloribus explicabo tempora sit, sunt deleniti libero, ad incidunt, nihil neque eius sapiente?</p>
				<p>Hic quia, aut perspiciatis officiis! Nostrum nihil quaerat aspernatur repellendus incidunt debitis nemo? Cumque repellat, illo esse reprehenderit voluptates sint voluptas distinctio nam, aliquid perspiciatis recusandae tenetur quaerat, blanditiis fugit.</p>
				<p>Explicabo sed, nam adipisci veniam cumque sapiente quae, reiciendis, vel, voluptatem dignissimos praesentium animi dicta aperiam laudantium voluptate necessitatibus. Delectus labore neque incidunt commodi, fugiat nostrum officiis fuga quos a?</p>
				<p>Hic amet sint, voluptate sequi quas voluptas repudiandae laudantium ducimus reiciendis nulla laboriosam dicta, placeat, nesciunt. Veritatis qui nihil repudiandae eius laborum, deleniti. Recusandae quam fuga similique quo omnis, debitis!</p>
				<p>Explicabo sed, nam adipisci veniam cumque sapiente quae, reiciendis, vel, voluptatem dignissimos praesentium animi dicta aperiam laudantium voluptate necessitatibus. Delectus labore neque incidunt commodi, fugiat nostrum officiis fuga quos a?</p>
				<p>Hic amet sint, voluptate sequi quas voluptas repudiandae laudantium ducimus reiciendis nulla laboriosam dicta, placeat, nesciunt. Veritatis qui nihil repudiandae eius laborum, deleniti. Recusandae quam fuga similique quo omnis, debitis!</p>
				<p>Explicabo sed, nam adipisci veniam cumque sapiente quae, reiciendis, vel, voluptatem dignissimos praesentium animi dicta aperiam laudantium voluptate necessitatibus. Delectus labore neque incidunt commodi, fugiat nostrum officiis fuga quos a?</p>
				<p>Hic amet sint, voluptate sequi quas voluptas repudiandae laudantium ducimus reiciendis nulla laboriosam dicta, placeat, nesciunt. Veritatis qui nihil repudiandae eius laborum, deleniti. Recusandae quam fuga similique quo omnis, debitis!</p>
				<p>Explicabo sed, nam adipisci veniam cumque sapiente quae, reiciendis, vel, voluptatem dignissimos praesentium animi dicta aperiam laudantium voluptate necessitatibus. Delectus labore neque incidunt commodi, fugiat nostrum officiis fuga quos a?</p>
				<p>Hic amet sint, voluptate sequi quas voluptas repudiandae laudantium ducimus reiciendis nulla laboriosam dicta, placeat, nesciunt. Veritatis qui nihil repudiandae eius laborum, deleniti. Recusandae quam fuga similique quo omnis, debitis!</p>
				<p>Explicabo sed, nam adipisci veniam cumque sapiente quae, reiciendis, vel, voluptatem dignissimos praesentium animi dicta aperiam laudantium voluptate necessitatibus. Delectus labore neque incidunt commodi, fugiat nostrum officiis fuga quos a?</p>
				<p>Hic amet sint, voluptate sequi quas voluptas repudiandae laudantium ducimus reiciendis nulla laboriosam dicta, placeat, nesciunt. Veritatis qui nihil repudiandae eius laborum, deleniti. Recusandae quam fuga similique quo omnis, debitis!</p>
			</div>

			<div id="signature" style="display:none;">
				<canvas id="canvasSign"></canvas>
				<p><span id="eraser"><i class="fas fa-eraser"></i> Effacer la signature</span></p>

				<div style="text-align:center; padding:10px 0;">
					<button class="bouton" id="save"><i class="fas fa-save"></i> Valider et enregistrer</button>
				</div>	
			</div>
		</section>



	</div>

{% endblock %}



{% block extrajs %}
	<script>
		var signatureCoordonnees=[];
		var currentProspect;


		$('document').ready(function() {
			currentProspect = localStorage.getItem("currentProspect");
			getJsonData("prospects");
		});


		function displayData(tabProspect) {
			// Liste des conditions de paiement
			var cond = JSON.parse(localStorage.getItem('conditionsPaiement'));

			for (var i = 0; i < cond.length; i++) {
				$('select[name=conditions]').append('<option value="'+cond[i][0]+'">'+cond[i][1]+'</option>');
			}

			// Récupère le prospect si existant
			currentProspect = localStorage.getItem('currentProspect');
			if(!currentProspect || currentProspect=='null') {
				// Si le prospect n'existe pas encore
			} else {

				// Le prospect existe, on récupère les données
				//var prospectAll = JSON.parse(localStorage.getItem('prospects'));
				var currentProspectObject = tabProspect.filter(function (chain) {
	                return chain.code === currentProspect;
	            })[0];
	            if(currentProspectObject) {
	            	fillForm(currentProspectObject, 'ficheProspect');
	            }
			}			
		}









		// $('document').ready(function() {
		// 	// Liste des conditions de paiement
		// 	var cond = JSON.parse(localStorage.getItem('conditionsPaiement'));

		// 	for (var i = 0; i < cond.length; i++) {
		// 		$('select[name=conditions]').append('<option value="'+cond[i][0]+'">'+cond[i][1]+'</option>');
		// 	}

		// 	// Récupère le prospect si existant
		// 	currentProspect = localStorage.getItem('currentProspect');
		// 	if(!currentProspect || currentProspect=='null') {
		// 		// Si le prospect n'existe pas encore
		// 	} else {

		// 		// Le prospect existe, on récupère les données
		// 		var prospectAll = JSON.parse(localStorage.getItem('prospects'));
		// 		var currentProspectObject = prospectAll.filter(function (chain) {
	 //                return chain.code === currentProspect;
	 //            })[0];
	 //            if(currentProspectObject) {
	 //            	fillForm(currentProspectObject, 'ficheProspect');
	 //            }
		// 	}

		// });


		$('#save').click(function() {
			var prospect = getDataFromForm('ficheProspect');
			prospect.code = currentProspect;

			// Génération du code si besoin
			if(!prospect.code || prospect.code == "null" ) {
				var date = new Date();
				prospect.code = "_PROS_"+date.getFullYear()+((date.getMonth()+1)<10?'0':'')+(date.getMonth()+1)+(date.getDate()<10?'0':'')+date.getDate()+"-"+date.getHours()+date.getMinutes()+date.getSeconds()+"-"+Math.round(Math.random()*100);
			}

			var prospectAll = JSON.parse(localStorage.getItem('prospects'));
			if(!prospectAll) prospectAll = [];

			console.log(prospect);

			if(!currentProspect || currentProspect=='null') {
				// Si le prospect n'existe pas encore
				prospectAll.push(prospect);
			} else {
				// Mise à jour du prospect dans le localStorage				
				// for (var i = 0; i < prospectAll.length; i++) {
				// 	if(prospectAll[i].code == prospect.code) {
				// 		prospectAll[i] = prospect;
				// 	}
				// }
				var index = prospectAll.findIndex(function (chain) {
	   					return chain.code === prospect.code;
	   			});
	   			
	   			if(index>=0) {
	   				// Mise à jour dans le localStorage
	   				prospectAll[index] = prospect;
	   			} else {
	   				// Ajout dans le localStorage
	   				prospectAll.push(prospect);
	   			}
			}

			localStorage.setItem('prospects', JSON.stringify(prospectAll));
			closeModal('cgv');
			//window.location.href = 'prospect-listing';
		});



		$('#texteCgv').scroll(function(e) {
			var elem = $(e.currentTarget);
		    if (elem[0].scrollHeight - elem.scrollTop() == elem.outerHeight()) {
		        // Défilement jusqu'en bas, on fait apparaitre la signature
		        $('#signature').fadeIn(200);
		    }
		});



		$('#ficheProspect').submit(function(e) {
			e.preventDefault();

			var toCheck = {
							"checkForAPE" : ["[name=ape]"],
							"checkForEmail" : ["[name=email]"],
							"checkForSIREN" : ["[name=siren]"]

						};


            if(isFormValid(toCheck) === true) {
				openModal("cgv");

            } else {
            	displayMessage('Merci de corriger le formulaire', 'error');
               	var errors = isFormValid(toCheck);

                for (var i = 0; i < errors.length; i++) {
                    $(errors[i][0]).addClass('toCheck');
                    $(errors[i][0]+'+p').remove();
                    $(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
                } 
            }


		});


		// Canvas
		var ctx = document.getElementById('canvasSign').getContext("2d");
		ctx.strokeStyle = '#000000';
		ctx.lineWidth = 4;
		document.getElementById('canvasSign').addEventListener('mousedown', function(e) {
			signatureCoordonnees.push([e.offsetX, e.offsetY]);
			ctx.moveTo(e.offsetX, e.offsetY);
			console.log(e.offsetX+" / "+e.offsetY);
			document.getElementById('canvasSign').addEventListener('mousemove', draw);				
		});

		function draw(e) {
			signatureCoordonnees.push([e.offsetX, e.offsetY]);
			ctx.lineTo(e.offsetX, e.offsetY);

			console.log(e.offsetX+" / "+e.offsetY);
			ctx.stroke();
		}

		document.getElementById('canvasSign').addEventListener('mouseup', function(e) {
			document.getElementById('canvasSign').removeEventListener('mousemove', draw);
		});

		$('#eraser').click(function() {
			ctx.clearRect(0,0,1000,1000);
			signatureCoordonnees = [];
		});

	</script>
{% endblock %}