{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-handshake"></i> Prospects <span id="nbClient"></span></p>                    
{% endblock %}


{% block body %}

<button id="nvProspect" class="bouton boutonNvDevis" onclick="changeStorageAndGo(['currentProspect',''], 'prospect');"><i class="fas fa-plus"></i> Ouverture de compte</button>
<table id="listingClients" class="display">
    <thead>
        <tr>
            <th>Raison sociale</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th class="tools"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}


{% block extrajs %}
	<script>
		$('document').ready(function() {	
            // A supprimer à terme et à générer lors de la synchro
            if(!localStorage.getItem('indexProperties') || !localStorage.getItem('indexProperties').prospects) {
                var index = {};

                if(localStorage.getItem('indexProperties'))
                    index = JSON.parse(localStorage.getItem('indexProperties'));
                index.prospects = {"file": "prospect.json", "local": "prospects"};
                
                localStorage.setItem('indexProperties', JSON.stringify(index));
            }
            $('#listingClients').hide();
            getJsonData("prospects");
        });



        // Affiche les données une fois l'ajax traité
        function displayData(tabProspect) {
            // if(!localStorage.getItem("prospects")) 
            //     localStorage.setItem("prospects", JSON.stringify([]));

            //prospects = JSON.parse(localStorage.getItem("prospects"));

            if(!tabProspect.length) {
                $('#listingClients').append("<tr><td colspan=\"4\" style=\"text-align:center;\">Aucun prospect disponible</td></tr>");

            } else {

                for (var i = 0; i < tabProspect.length; i++) {
                    var newHTML = "<tr>";
                    newHTML+= "<td>"+tabProspect[i].raisonsociale+"</td>";
                    newHTML+= "<td>"+tabProspect[i].nom+"</td>";
                    newHTML+= "<td>"+tabProspect[i].prenom+"</td>";
                    newHTML+= "<td class=\"tools\"><span class=\"iconBt\" onclick=\"changeStorageAndGo(['currentProspect','"+tabProspect[i].code+"'], 'prospect');\"><i class=\"fas fa-edit\"></i></span></td>";
                    newHTML+= "</tr>";  
                    $('#listingClients').append(newHTML);          
                }                
            }


            $('#listingClients').DataTable( {
                "pageLength": 15,
                "lengthChange": false,
                language: {
                    searchPlaceholder: "Rechercher un prospect",
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                }
            } );

            $('#listingClients').show();

            $('#nvProspect').click(function(e) {
                e.preventDefault();
                changeStorageAndGo(["currentProspect", null], 'prospect');
            });
			
            //$('#nbClient').html("("+$('#listingClients tbody tr').length+")");
		};
	</script>
{% endblock %}