{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> OR<span></span></p>                    
{% endblock %}


{% block body %}
<style type="text/css">
	.SumoSelect{width:500px;}
</style>
<div class="fiche">
	<form id="ficheMemo">
		
		<section>
			<h2>Informations générales</h2>
			<div>
				<div class="row">
					<div>Client</div>
					<div>						
						<span id="client"></span>
					</div>
				</div>

				<div class="row">
					<div>N° OR</div>
					<div>	
						<span id="code"></span>
					</div>
				</div>

				<div class="row">
					<div>Etat OR</div>
					<div>		
						<span id="etat"></span>
					</div>
				</div>

				<div class="row">
					<div>Titre</div>
					<div>		
						<span id="titre"></span>
					</div>
				</div>

				<div class="row">
					<div>Titre atelier</div>
					<div>		
						<span id="titre_atelier"></span>
					</div>
				</div>

				<div class="row">
					<div>Commentaires</div>
					<div>		
						<span id="commentaire"></span>
					</div>
				</div>

				<!-- <div class="row">
					<div>Commentaires</div>
					<div>						
						<textarea name="commentaires" style="width: 90%; min-height: 65px;"></textarea>
					</div>
				</div> -->
			</div>

			<div class="row buttonsrow">
				<a href="{{path('sav_listing')}}" class="bouton " style="text-decoration: none; padding: 10px 20px; font-size: 1.2em;" /><i class="fas fa-chevron-left"></i> Retour à la liste</a>
				
			</div>	
		</section>

	</form>
</div>


{% endblock %}



{% block extrajs %}
	<script>
		var currentOR;
		var currentORObject;
		var jsonToGet = ["ors", "clients"];
		var storedData = {};

		$('document').ready(function() { 
			getJsonData(jsonToGet[0]);
        });

		

		function displayData(results) {
			storedData[jsonToGet[0]+"All"] = results;
			jsonToGet.shift();
			if(jsonToGet.length) {
				// Il reste des données à récupérer
				getJsonData(jsonToGet[0]);
			} else {
				// Liste des clients
				//var clients = JSON.parse(localStorage.getItem('clients'));


				// Récupère le memo si existant
				currentOR = localStorage.getItem('currentOR');

				// Le memo existe, on récupère les données
				//orAll = JSON.parse(localStorage.getItem('ors'));
				var currentORObject = storedData['orsAll'].filter(function (chain) {
					return chain.code === currentOR;
				})[0];


	            if(currentORObject) {
	            	// Recherche la raison sociale
	    //         	var client = clients.filter(function (chain) {
					// 	return chain.code === currentORObject.client;
					// })[0];
					// if(client && client.raisonsociale) {
					// 	$('#client').html(client.raisonsociale);
					// } else {
					// 	$('#client').html("<i>"+currentORObject.client+"</i>");
					// }
					var client = storedData['clientsAll'].filter(function (chain) {
						return chain.code === currentORObject.client;
					})[0];

					
					if(currentORObject.client) $('#client').html(currentORObject.client + (client && client.raisonsociale ? ' - '+client.raisonsociale : ''));
					if(currentORObject.code) $('#code').html(currentORObject.code);
					if(currentORObject.etat) $('#etat').html(currentORObject.etat==2 ? 'Soldée' : 'Non soldée');
					if(currentORObject.titre) $('#titre').html(currentORObject.titre);
					if(currentORObject.titre_atelier) $('#titre_atelier').html(currentORObject.titre_atelier);
					if(currentORObject.commentaire) $('#commentaire').html(currentORObject.commentaire);
	            }

			}

			



		};


	</script>
{% endblock %}