{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-wrench"></i> OR <span id="nbClient"></span></p>                    
{% endblock %}


{% block body %}

<button id="nvEnlevement" class="bouton boutonNvDevis" onclick="changeStorageAndGo(['currentEnlevement',''], 'demande-enlevement');"><i class="fas fa-plus"></i> Nouvelle demande d'enlèvement</button>
<div class="filter">
    <div>Code client : <input type="text" name="filterClient" /></div>
</div>
<table id="listingClients" class="display">
    <thead>
        <tr>
            <th>N° client</th>
            <th>Raison sociale</th>
            <th>N° OR</th>
            <th>Etat OR</th>
            <th class="tools"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}


{% block extrajs %}
	<script>
        var compteurData = "clients";
        var client;

        $('document').ready(function() {    
            
            $('#listingClients').hide();
            getJsonData("clients");
        });


		//$('document').ready(function() {	
        function displayData(results) {
            if(compteurData== "clients") {
                // Si les clients sont chargés, on les stock dans une variable pour charger ensuite les ORs
                clients = results;
                compteurData = "ors";
                getJsonData("ors");
            } else {
                ors = results;
                // Inclusion d'un OR de test
                if(!ors.length) {
                    var newOR = {"code": "123A", "client": "CLI1", "etat": "AAA", "titre" : "titre test", "titre_atelier" : "test atelier", "commentaire" : ""};
                    ors = [newOR];
                    localStorage.setItem("ors", JSON.stringify([newOR]));
                }

                if(!ors.length) {
                    $('#listingClients').append("<tr><td colspan=\"5\" style=\"text-align:center;\">Aucun OR disponible</td></tr>");
                
                } else {
                    // Récupération des raisons sociales en fonction des codes entreprises des ors
                    var affichage = {}; // Liste permettant d'avoir la raison sociale pour les clients
                    //var clients = JSON.parse(localStorage.getItem("clients"));
                    if(clients) {
                        for (var i = 0; i < clients.length; i++) {
                            try {
                                affichage[clients[i].code] = {"raisonsociale": clients[i].raisonsociale};
                            } catch(e) {
                                console.log(e);
                            }
                        }
                    }


                    for (var i = 0; i < ors.length; i++) {
                        var newHTML = "<tr>";
                        newHTML+= "<td>"+ors[i].client+"</td>";
                        newHTML+= "<td>"+(affichage[ors[i].client] ? affichage[ors[i].client]['raisonsociale'] :'')+"</td>";
                        newHTML+= "<td>"+ors[i].code+"</td>";
                        newHTML+= "<td>"+(ors[i].etat == 2 ? 'Soldée' : 'Non soldée' )+"</td>";
                        newHTML+= "<td class=\"tools\"><span class=\"iconBt\" onclick=\"changeStorageAndGo(['currentOR','"+ors[i].code+"'], 'sav');\"><i class=\"fas fa-edit\"></i></span></td>";
                        newHTML+= "</tr>";  
                        $('#listingClients').append(newHTML);          
                    }                
                }

            // Ajoute un filtre de recherche sur le client pré-sélectionné.
            var preSearch = {};
            var preSearchClientOnly = null;
            if(localStorage.getItem('currentClient') && localStorage.getItem('currentClientRaisonSociale')) {
                //preSearch.search = localStorage.getItem('currentClient');
                $('input[name=filterClient]').val(localStorage.getItem('currentClient'));
                preSearchClientOnly = {'search' : localStorage.getItem('currentClient')};
            }


                $('#listingClients').DataTable( {
                    "pageLength": 15,
                    "lengthChange": false,
                    language: {
                        searchPlaceholder: "Rechercher un OR",
                        url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                    },
                    search : preSearch,
                    "searchCols": [preSearchClientOnly, null, null, null]
                } );
                $('#listingClients').show();

                $('input[name=filterClient]').keyup(function() {
                    $('#listingClients').DataTable().column(0).search($(this).val()).draw();
                });
                
            }


            
		};
	</script>
{% endblock %}