{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-user"></i> <span></span></p>                    
{% endblock %}


{% block body %}
<div class="fiche">
	<form id="ficheSmsmail">
		<section>
			<h2>Informations principales</h2>
			<div>
				<div class="half">
					<div class="row">
						<div>Type</div>
						<div>
							<input type="text" name="type">
						</div>
					</div>

					<div class="row">
						<div>Nom</div>
                                                <div>
                                                    	<input type="text" name="nom">
                                                </div>
					</div>
				</div>
				

				<div class="half">
					<div class="row">
						<div>Corps</div>
						<div>
							<input type="text" name="corps">
						</div>
					</div>
                                    <div class="row">
						<div>Signature</div>
						<div>
							<input type="text" name="signature">
						</div>
					</div>		
				</div>

				
		</section>
            
 
		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
	</form>
</div>


{% endblock %}



{% block modal %}

	

	
{% endblock %}



{% block extrajs %}
	<script>
		var currentSmsmail = null;
		var date = new Date();
		var dataSmsmail;
		$('document').ready(function() {
			currentSmsmail = localStorage.getItem("currentSmsmail");
			getJsonData("smsmail");
		});


		function displayData(tabSmsmail) {
			dataVehicule = tabSmsmail;

			// Récupère les données local du vehicule			
			var smsmail = getSmsmailByCode(currentSmsmail, dataSmsmail);
			
			fillForm(smsmail, 'ficheSmsmail');

			// Met à jour le nom de l'entreprise en localStorage
			//localStorage.setItem('currentClientRaisonSociale', client.raisonsociale);
			
			//$('.global>header>p>span').text(client.raisonsociale);

			
			//console.log(Smsmail);

			/*=============================================================
			=            Met à jour les listes "select option"            =
			============================================================ */
			
			

			

			// Validation de la fiche client
			$('#ficheSmsmail').submit(function(event) {
				var objSmsmail = {};
				// Crée un nouvel objet avec les données saisies
				$('#ficheSmsmail input[type=text]').each(function(index) {
					objSmsmail[$(this).prop('name')] = $(this).val();
				});

				$('#ficheSmsmaile select').each(function(index) {
					objSmsmail[$(this).prop('name')] = $(this).val();
				});

				// Met à jour les données en local
				updateVehicule(currentSmsmail, objSmsmail);
				displayMessage('Fiche message enregistrée');
				event.preventDefault();
			});

		




	</script>
{% endblock %}