{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-archive"></i> Base article</p>                    
{% endblock %}


{% block body %}
<div id="ficheStock">
    <!-- Colonne de listing -->
    <div id="stockListing">   
    	<p id="standBy" style="text-align:center;"><i class="fas fa-sync fa-spin"></i> <span style="font-size:1.4em;     font-weight: bold;
">Chargement des produits en cours</span></p>         
        <table id="tableStockListing" class="display">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Désignation</th>
                    {# <th>Fournisseur</th> #}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Fiche produit -->
    <div id="stockFiche">
        <p class="empty">Sélectionnez un article pour accéder à ses informations</p>
        <div id="detailArticle" style="display:none;">
            <form id="detailArticleForm">
                <div class="row">
                    <label>Code article</label>
                    <span id="displaycode"></span>
                </div>
                <div class="row">
                    <label>Désignation</label>
                    <span id="displaydesignation"></span>
                </div>
                <div class="row">
                    <label>Référence fournisseur</label>
                    <span id="displayfournisseur"></span>
                </div>
                <div class="row">
                    <label>UV</label>
                    <input type="text" name="uv" disabled />
                </div>
                <div class="row">
                    <label>UF</label>
                    <input type="text" name="uf" disabled />
                </div>
                <div class="row">
                    <label style="letter-spacing: -0.5px;">Conditionnement</label>
                    <input type="text" name="cdt" disabled />
                </div>
                <!-- <div class="row">
                    <label>Cdt</label>
                    <input type="text" name="cdt" />
                </div> -->
                <div class="row">
                    <label>Prix tarif</label>
                    <span id="displayprix_tarif"></span>
                </div>
                <div class="row">
                    <label>Remise (%)</label>
                    <input type="text" name="remise" />
                </div>
                <div class="row">
                    <label>Prix net</label>
                    <input type="text" name="prix_net" />
                </div>
                <div class="row">
                    <label>Marge Ligier (%)</label>
                    <input type="text" name="marge" disabled />
                </div>
                <div class="row">
                    <label>Prix revient</label>
                    <input type="text" name="prix_revient" disabled />
                </div>
                <div class="row">
                    <label>Prix median</label>
                    <input type="text" name="prix_median" disabled />
                </div>

                <!-- <div class="row buttonsrow">
                    <input type="submit" class="bouton boutonsave" value="Enregistrer" />
                </div> -->

                <h3>Info stock</h3>
                <div class="">
                    <table id="infoStock">
                        <tr>
                            <th></th>
                            <th>Tenue stock</th>
                            <th>Quantité dispo</th>
                        </tr>
                    </table>  
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block extrajs %}
	<script>
        var stock;
        var article;

        $('document').ready(function() {
        	$('#tableStockListing').hide();
            getJsonData("articles");
        });


        // Affiche les données une fois l'ajax traité
        function displayData(tabStock) {
            stock = tabStock;
            //stock = JSON.parse(localStorage.getItem("stock"));

            var liste = "";

            $.each(stock, function(index, value) {
                liste+= "<tr onClick=\"displayArticle('"+value.code+"');\">";
                liste+= "<td>"+value.code+"</td>";
                liste+= "<td>"+value.designation+"</td>";
                //liste+= "<td>"+value.fournisseur+"</td>";
                liste+= "</tr>";
            });

            $('#tableStockListing').append(liste);
            $('#standBy').hide();
        	$('#tableStockListing').show();

            $('#tableStockListing').DataTable( {
                "pageLength": 15,
                "lengthChange": false,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                }
            } );

		};


		$('input[type=text][name=remise]').keyup(function() {
			getPrices('remise');			
		});

		$('input[type=text][name=prix_net]').keyup(function() {
			getPrices('prixnet');
		});

        /**
         * Recalcul de la marge et du prix net selon la remise
         * 
         */        

         function getPrices(fieldChanged) {
            // Retire les messages d'erreur
            $('input[type=text][name=remise]').removeClass('toCheck');
            $('input[type=text][name=remise]+p').remove();
            // Vérifie les données
            var toCheck = {"checkForNumber": [
                                            "input[name=remise]"
                                            ]
                        }

            if(isFormValid(toCheck) === true) {
                // Recalcul des valeurs
                var tarifDuobat = roundFourthDecimal(article.prix_tarif*article.uf);
                
                var remise = $('input[name=remise]').val();
                var prixNet = $('input[name=prix_net]').val();
                var prixRevient = $('input[name=prix_revient]').val();

                if(fieldChanged=='remise') {
                	prixNet = roundFourthDecimal(tarifDuobat - (tarifDuobat*remise)/100 );
                	$('input[name=prix_net]').val(prixNet);
                } else if(fieldChanged=='prixnet') {
                	remise = roundFourthDecimal(100-Math.round((prixNet*100/tarifDuobat)*100)/100);
                	$('input[name=remise]').val(remise);
            	}

                console.log(tarifDuobat+" "+remise+" "+prixRevient);

                //var prixNet = roundFourthDecimal(tarifDuobat-(tarifDuobat*remise/100));

                var montantRemise = prixNet*(remise/100);
                console.log("montantRemise : "+montantRemise);
                //var marge = roundFourthDecimal((1-(prixRevient/(prixNet-montantRemise)))*100);
                //var marge = roundFourthDecimal(((prixNet-prixRevient)/prixRevient)*100);
                var marge = roundFourthDecimal((1-(prixRevient/prixNet))*100);

                if(marge<0) marge = 0;


                console.log(prixNet+" "+marge);

                $('input[name=marge]').val(marge);
                $('input[name=prix_net]').val(prixNet);

            } else {
               var errors = isFormValid(toCheck);

                for (var i = 0; i < errors.length; i++) {
                    $(errors[i][0]).addClass('toCheck');
                    $(errors[i][0]+'+p').remove();
                    $(errors[i][0]).parent().append('<p class="messageErrorMini">'+errors[i][1]+'</p>');
                } 
            }
         };



        /**
         * Affiche l'article sélectionné dans la colonne de droite
         * 
         * @param code : code X3 de l'article
         */
        function displayArticle(code) {
            article = stock.filter(function (chain) {
                return chain.code === code;
            })[0];

            if(article) {
                console.log(article);
                //article.prix_tarif*=2.5;
                $('.empty').hide();
                $('#detailArticle').fadeIn(200);
                fillForm(article, 'detailArticleForm');
                
                for(var key in article) {
                    $('#display'+key).text(article[key]);
                }
                $('#displayprix_tarif').text(roundFourthDecimal(article['prix_tarif']*article.uf));
                $('input[name=prix_net]').val(roundFourthDecimal(article.prix_tarif*article.uf));
                $('input[name=prix_median]').val(roundFourthDecimal(article.prix_median*article.uf));

                if(getSiteCommercial()=='LI1') {
                    $('input[name=prix_revient]').val(roundFourthDecimal(article.prix_revient_lille*article.uf));
                } else {
                    $('input[name=prix_revient]').val(roundFourthDecimal(article.prix_revient_rennes*article.uf));
                }


                $('#infoStock .infos').remove();
                // Remplit également le tableau des stocks #infoStock
                for (var site in article.tenue) {
                    if(article.tenue[site][0]) {
                        var html = "<tr class=\"infos\">";
                        html+= "<td>"+(site).toUpperCase()+"</td>";
                        html+= "<td>"+article.tenue[site][0]+"</td>";
                        html+= "<td>"+article.tenue[site][1]+"</td>";
                        html+= "</tr>";       
                        $('#infoStock').append(html);
                    }
             
                }
                getPrices();
            } else {
                alert('Article introuvable');
            }

        }


        $('#detailArticleForm').submit(function(e) {
            // 
            // e.preventDefault();

            // var data = getDataFromForm('detailArticleForm');

            // var article = stock.filter(function (chain) {
            //     return chain.code === data.code;
            // })[0];

            // for(var key in data) {
            //     article[key] = data[key];
            // }

            // for (var i = 0; i < stock.length; i++) {
            //     if(stock[i]['code'] == article.code) {
            //         stock[i] = article;
            //         localStorage.setItem('stock', JSON.stringify(stock));
            //         break;
            //     }
            // }

        });
        

	</script>
{% endblock %}