{% extends 'front/_base.html.twig' %}


{% block body %}
<div id="synchro">
    <span id="messageSynchro"><i class="fas"></i><b></b></span>
    <div id="sendToSQL">
        <p>Envoyer mes données</p>
        <span>Sauvegarder toute vos modifications sur un serveur distant. Ces modifications sont stockées dans la base distantes.</span>
    </div>

    <div id="generateJSON"><p>Récupérer les données</p><span>Répatrier les données présentes dans la base Mobile.</span></div>
</div>
{% endblock %}


{% block extrajs %}
    <script>
        // function updateStandBy(status) {
        //     if(status) {
        //         alert('mise à jour OK');
        //     } else {
        //         alert('Problème lors de la mise à jour');

        //     }
        // }

        function removeStandBy() {
            $('#messageSynchro').fadeOut(100);

        }

        function addStandBy(message) {
            $('#messageSynchro').fadeIn(200);
            $('#messageSynchro b').text(message);
            $('#messageSynchro i').addClass('fa-sync');
            $('#messageSynchro i').addClass('fa-spin');
        }

        $('document').ready(function() {
            $('#generateJSON').click(function() {
                addStandBy("Réception des données en cours, merci de patienter");
                synchroFichiers();                
            });
        });
    </script>
{% endblock %}