{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas fa-clipboard"></i> Nouvelle Tâche commerciale <span id="nbClient"></span></p>  
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
<link href="../css/fontawesome-all.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="fiche">
	<form id="ficheClient">
            <section>
			<h2>Informations générales</h2>
               
			<div>
				<div class="half">
                                    <div class="row">
						<div>Date début </div>
                                        
                                        <input type="date" id="dated"></input>
                                        
                                    </div>	
                                    <div class="row">
                                    <div>heure début</div>
                                    <div>
                                            <input type="time" id="heured" value=""></input>
                                    </div>
                                    </div>
                                </div>
                               <div class="half">
                                    <div class="row">
						<div>Date fin </div>
                                        
                                        <input type="date" id="datef"></input>
                                        
                                    </div>	
                                    <div class="row">
                                    <div>heure fin</div>
                                    <div>
                                            <input type="time" id="heuref" value=""></input>
                                    </div>
                                    </div>
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Utilisateur associé</div>
						<div>
							<input type="text" id="user" value=""></input>
						</div>
                                    </div>	
                                    <div class="row">
						<div>Client associé</div>
						<div>
							<input type="text" id="client" value=""></input>
						</div>
                                    </div>    
                                </div>
                                <div class="half">
                                    <div class="row">
						<div>Type de tâche</div>
						<div>
							<input type="text" id="type" value=""></input>
						</div>
                                    </div>	
                                    <div class="row">
						<div>Description</div>
						<div>
							<textarea id="commentaires" value=""></textarea>
						</div>
                                    </div>    
                                </div>
                                <div class="half">

                                    <div class="row">
						<div>realisé</div>
						<div>
							<input type="integer" id="etat">
						</div>
                                    </div>
                                    
                                  
                           
                </section>

    </form>
    </div>
<div class="row buttonsSave">
        <input type="submit" class="bouton boutonsave" value="Enregistrer" />		
</div>

{% endblock %}


{% block extrajs %}

{% endblock %}