{% extends 'front/_base.html.twig' %}

{% block header %}
    
<p><i class="fas"><img src="img/pictos/vehicule.png"></i> Vehicules <span id="vehicule"></span></p>                    
    

{% endblock %}


{% block body %}

    
    <table id="listingVehicule" class="display">
        <thead>
            <tr>
                <th>No_serie</th>
                <th>Code client</th>
                <th>Nom client</th>
                <th>Immatriculation</th>
                <th>Couleur</th>            
                <th></th>
            </tr>
        </thead>
    </table>   
{% for vehicule in vehicules %}     
    <table>
        <tr>
                <td>{{vehicule.no_serie}}"</td>
                <td>{{vehicule.id_client}}</td>
                <td>{{vehicule.nom_client}}</td>
                <td>{{vehicule.immat}}</td>
                <td>{{vehicule.couleur}}</td>
        </tr>
    </table>

{% endfor %}

{% endblock %}
