{% extends 'front/_base.html.twig' %}


{% block header %}
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/ligier.css">
        
<p><i class="fas"><img src="img/pictos/vehicule_marquer.png"></i> Vehicules <span id="vehicule"></span></p>                    
{% endblock %}


{% block body %}
<div style="padding-left: 15%">
    
<table id="listingVehicule" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>No_serie</th>
            <th>Code client</th>
            <th>Nom client</th>
            <th>Immatriculation</th>
            <th>Couleur</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculeclient in vehicule %}
        <tr>
            <td>{{vehiculeclient.id}}</td>
            <td style="text-align:right;"><a href="/vehicule-fiche/{{vehiculeclient.id}}"><i class="fas fa-edit">{{vehiculeclient.no_serie}}</i></span></td></a>
            <td>{{vehiculeclient.nom_client}}</th>
            <td>{{vehiculeclient.idclient}}</th>
            <td>{{vehiculeclient.immat}}</th>
            <td>{{vehiculeclient.no_serie}}</th>            
        </tr>

        {%endfor%}

    </tbody>
</table>
</div>

{% endblock %}

