{% extends 'front/_base.html.twig' %}


{% block header %}
<p><i class="fas"><img src="img/pictos/vehicule_marquer.png"></i> Vehicules <span id="vehicule"></span></p>                    
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/ligier.css">
{% endblock %}


{% block body %}
<div style="padding-left: 15%">
<table id="listingVehicule" class="display" style="display:none;">
    <thead>
        <tr>
            <th>ID</th>
            <th>No_serie</th>
            <th>Code client</th>
            <th>Nom client</th>
            <th>Immatriculation</th>
            <th>Couleur</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>

{% endblock %}


{% block extrajs %}
	<script>
		$('document').ready(function() {
            $('#listingVehicule').hide();
            getJsonData("vehicule");
		});

        
        // Affiche les données une fois l'ajax traité
        function displayData(tabVehicules) {
            var liste = "";

            $.each(tabVehicules, function(index, value) {
                liste+= "<tr>";
                liste+= "<td><a href=/vehicule-fiche/"+value.id+">"+value.id+"</td>";
                liste+= "<td>"+value.no_serie+"</td>";
                liste+= "<td>"+value.id_client+"</td>";
                liste+= "<td>"+value.nom_client+"</td>";
                liste+= "<td>"+value.immat+"</td>";
                liste+= "<td>"+value.couleur+"</td>";
                liste+= "<td style=\"text-align:right;\"><a href=/vehicule-fiche/"+value.id+"><i class=\"fas fa-edit\"></i></span></td></a>";
                liste+= "</tr>";
            });


            $('#listingVehicule').append(liste);

            $('#listingVehicule').DataTable( {
                "pageLength": 10,
                "lengthChange": false,
                language: {
                    searchPlaceholder: "Rechercher dans la liste",
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
                }
            } );

            $('#nbVehicule').html("("+$('#listingVehicule tbody tr').length+")");
            $('#listingVehicule').show();
        }
	</script>
{% endblock %}