{% extends 'front/_base.html.twig' %}


{% block header %}
<link rel="stylesheet" href="../../css/main.css">
        <link rel="stylesheet" href="../../css/ligier.css">
<p><i class="fas fa-user"></i> <span></span></p>                    
{% endblock %}


{% block body %}
    
<div class="fiche">
	<form id="ficheVehicule">
                
		<section>
			<h2>Informations principales</h2>
			<div>
				<div class="half">
					<div class="row">
						<div>Marque</div>
						<div>
                                                        
							<input type="text" name="marque" value={{vehicule.marque}}>
						</div>
					</div>

					<div class="row">
						<div>Modele</div>
                                                <div>
                                                    	<input type="text" name="modele" value={{vehicule.modele}}>
                                                </div>
					</div>
				</div>
				

				<div class="half">
					<div class="row">
						<div>Couleur</div>
						<div>
							<input type="text" name="couleur" value={{vehicule.couleur}}>
						</div>
					</div>
                                    <div class="row">
						<div>Numero de série</div>
						<div>
							<input type="text" name="no_serie" value={{vehicule.no_serie}}>
						</div>
					</div>		
				</div>

				<div class="full margingrey">
					<h3>Type de véhicule</h3>
					<div>Type</div>
						<div>
							<input type="text" name="type" value={{vehicule.type}}>
						</div>
                                        <div>Energie</div>
						<div>
							<input type="text" name="energie" value={{vehicule.energie}}>
						</div>
                                        <div>Puissance</div>
						<div>
							<input type="text" name="puissance" value={{vehicule.puissance}}>
						</div>
                                        <div>Options</div>
						<div>
							<input type="text" name="options" value={{vehicule.options}}>
						</div>
				</div>
                            
		</section>

		<section>
                                <div class="full margingrey">
					<h3>Informations Achat</h3>
					<div>Date achat</div>
                                        <div>
                                            
                                        </div>
                                        <div>Prix achat</div>
						<div>
							<input type="text" name="prix_achat" value={{vehicule.prix_achat}}>
						</div>
                                        <div>Frais remise en état</div>
						<div>
							<input type="text" name="frais_etat" value={{vehicule.frais_etat}}>
						</div>
                                       
				</div>       
                           <div class="full margingrey">
                               <div class ="half">
					<h3>Informations Vente</h3>
					<div class ="row">Date vente</div>
						<div>
						
                                                </div>
                                        <div class ="row">Prix vente</div>
						<div>
							<input type="text" name="prix_vente" value={{vehicule.prix_vente}}>
						</div>
                                </div>

                                        <div class ="row">Type de vente</div>
						<div>
							<input type="text" name="type_vente" value={{vehicule.type_vente}}>
						</div>
                                       
                           </div>
		</section>
            
 

		<div class="row buttonsrow">
			<input type="submit" class="bouton boutonsave" value="Enregistrer" />
			
		</div>	
	</form>
</div>

      
{% endblock %}

